<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
            <div class="panel panel-default">
              <div class="screen_header"><span>Approval For Trade</span></div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
                      <p>From Date</p>
                      <div class="form-group res-btn">
                        <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                          [(ngModel)]="fromDate" required></my-date-picker>
                        </form>
                      </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
                      <p>To Date</p>
                      <div class="form-group res-btn">
                        <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                          [(ngModel)]="toDate" required></my-date-picker>
                        </form>
                      </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
                      <p>Lot Code</p>
                       <div class="form-group res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLotCode" (input)="onLotCode($event.target.value)">
                       </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
                      <p>Commodity</p>
                       <div class="form-group res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCommodityName" (input)="onCommodity($event.target.value)">
                       </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
                      <p>Agent Name</p>
                       <div class="form-group res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchAgentName" (input)="onAgentname($event.target.value)">
                       </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                      <flash-messages></flash-messages>
                    </div>
                </div>
                <div class="row">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">
                      <button type="button" class="btn btn-success" (click)="onPendiingLotSearch()">Search</button>
                  </div>
              </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Pending Lots</b>
                 <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" id="select_bids" [class.active]="activeCreate" [disabled]="!activeCreate" (click)="onSelectAll()">Select All</button>
                 <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" id="deselect_bids" [class.active]="activeCreate1" [disabled]="!activeCreate1"  (click)="onDeSelectAll()">DeSelect All</button>
              </div>
              <div id="popup5" [className]="my_class2" *ngIf="savedRes != undefined">
                <div class="popup" >
                      <div class="alert alert-success" *ngIf="savedRes.status =='1'">Approved Successfully</div>
                      <div class="alert alert-danger" *ngIf="savedRes.status =='0'">Something Went Wrong</div>
                </div>
              </div>
            	<div class="table-fixed padding-top table-responsive">
            	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
            		    <thead>
            		      <tr>
                    			<th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Approved</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Trader</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Agent Name</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Firm Name</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >No. of Bags</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >Qty(kg.)</mfDefaultSorter></th>
                    			<th><mfDefaultSorter by="" >UOM Qty(Quintal)</mfDefaultSorter></th>
            		      </tr>
            		    </thead>
            		    <tbody>
            		      <tr>
            			<td colspan="11" *ngIf="filteredPendingLot.length== 0" class="noDataDisp">No data to display</td>
            		      </tr>
            		      <tr *ngFor='let post of filteredPendingLot;let i= index;'>

      		          			<td>{{post.iledlotcode}}</td>
      		          			<td>
                            <input type="checkbox" value="post" (click)="onApprovedLot(post,$event.target.checked,i)" id= "pending_{{i}}" >
                          </td>
      		          			<td *ngIf = "post.iledimpotype == 'F'">{{post.frmfullname}}</td>
      		          			<td *ngIf = "post.iledimpotype != 'F'">-</td>
                          <td *ngIf = "post.iledimpotype == 'T'">{{post.lcamfullname}}</td>
                          <td *ngIf = "post.iledimpotype != 'T'">-</td>
                          <td *ngIf = "post.lcamfullname1 != undefined">{{post.lcamfullname1}}</td>
      		          			<td *ngIf = "post.lcamfullname1 == undefined">-</td>
      		          			<td *ngIf = "post.lcamagencompname != undefined">{{post.lcamagencompname}}</td>
      		          			<td *ngIf = "post.lcamagencompname == undefined">-</td>
      		          			<td>{{post.gmpmgprodname}}</td>
      		          			<td>{{post.gmptmdesc}}</td>
                          <td>{{post.ilednoofbag}}</td>
      		          			<td>{{post.iledqty}}</td>
      		          			<td>{{post.iledgrossqtyquintal}}</td>
            		      </tr>
            		    </tbody>
            		    <tfoot>
            		      <tr>
            			<td colspan="11">
            			  <mfBootstrapPaginator></mfBootstrapPaginator>
            			</td>
            		      </tr>
            		    </tfoot>
            		</table><!--TABLE ENDS-->
            	</div><!--TABLE DIV ENDS HERE-->
              </div>
            <!-- Buttons -->
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                <button type="button" class="btn btn-success" (click)="onSaveApproval()">Save</button>
                <button type="button" class="btn btn-warning" (click)="onReset()"> Reset</button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
