.paddingLeft30{
  padding-left: 30px;
}

.paddingBox{padding: 10px;}
.popup {
  margin: 70px auto;
  padding: 0;
  background: none;
  border-radius: 5px;
  width: 37%;
  position: relative;
  transition: all 5s ease-in-out;
}
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
#select_bids.active  {
  background-color:#00a65a !important;
  color: white;
}
#deselect_bids.active  {
  background-color:#00a65a !important;
  color: white;
}
