
<div class="content-wrapper">
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="form-group">
              <div class="box col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 pull-left refresh-adj">
                  <form #myForm="ngForm" novalidate>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions"  placeholder="From date" i18n-placeholder="[placeholder]@@loco:$265"
                    [(ngModel)]="reportFromDate" required></my-date-picker>
                  </form>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-5 col-lg-5 paddingTop8">
                  <form #myForm="ngForm" novalidate>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholder="To date" i18n-placeholder="[placeholder]@@loco:$266"
                    [(ngModel)]="reportToDate" required></my-date-picker>
                  </form>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 res-btn1 outlineNo refresh-adj">
                  <button type="submit" (click)="getReport()" class="btn white m-b form-control input-adj btn-info outlineNo" i18n="@@loco:$1132">Refresh</button>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                  <flash-messages></flash-messages>
                </div>
                <!-- <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 height49 marginTop refresh-adj" style="margin-top: 24px;">
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [(ngModel)]="call0">
                    <option value="0" selected>State</option>

                  </select>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 height49 marginTop" style="margin-top: 24px;">
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [(ngModel)]="call1">
                    <option value="0" selected>APMC</option>

                  </select>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12 height49 marginTop refresh-adj" style="margin-top: 24px;">
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [(ngModel)]="call2">
                    <option value="0" selected>Not Listed</option>

                  </select>
                </div> -->
                <!--Table start here-->
                <div class="header-font col-sm-12 col-xs-12 col-md-5 col-lg-5">
                  <div class=" text-pending-adjust pull-left text_color" i18n="@@loco:$1895">
                    Paid Invoice</div>
                  </div>
                <div class="col-sm-12 col-xs-12 col-md-7 col-lg-7 " style="padding:15px">

                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  res-btn paddingNo">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary input-adj outlineNo res-adj1" href="#" tabindex="0" style="background-color:#6BC658;color:white;width:100%" i18n="@@loco:$1867">
                      <img style="margin: 0 7px 0 -11px;" src="assets/images/wisepdf.png"><span >Bid Opening Winner List</span>
                    </button>
                  </div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 res-btn">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary input-adj outlineNo res-adj2" href="#" tabindex="0" style="background-color:#709EEF;color:white;width:100%" i18n="@@loco:$1867">
                      <img style="margin: 0 7px 0 -11px;" src="assets/images/tradepdf.png"><span>Trader Lot Details</span>
                    </button>
                  </div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4  res-btn paddingNo">
                    <button  aria-controls="example" class="btn btn-default buttons-excel buttons-html5 primary btn-rad0 input-adj outlineNo" href="#" tabindex="0" style="width:100%" i18n="@@loco:$1867">
                      Export To Excel
                    </button>
                  </div>
              </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

                    <div class="table-fixed padding-top table-responsive">
                      <table  [mfData]="reportData" #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>
                          <tr>
                          </tr>
                          <tr>
                            <th><mfDefaultSorter by="invoice" i18n="@@loco:$1608">Invoice</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="invoice" i18n="@@loco:$1609">Date</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="lotcode" i18n="@@loco:$1031">Lot Code</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="sellername" i18n="@@loco:$720">Seller Name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="agentname" i18n="@@loco:$1005">Agent Name</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="amount" i18n="@@loco:$1610">Amount</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="amount" i18n="@@">Online Receipt</mfDefaultSorter></th>
                            <th><mfDefaultSorter by="amount" i18n="@@loco:$1900">Settlement</mfDefaultSorter></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="9" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                          </tr>
                          <tr *ngFor='let post of mf.data'>
                            <td>{{post.payInvoiceNo}}</td>
                            <td>{{post.auchInvoiceDate}}</td>
                            <td>{{post.lotCode}}</td>
                            <td>{{post.farmerName}}</td>
                            <td>{{post.agentName}}</td>
                            <td>{{post.payInvoiceAmt}}</td>
                            <td><button type="button" class="btn  btn-info btn-pay-ajst1 outlineNo" (click)="onReceipt(post)">Get</button></td>
                            <td><button type="button" class="btn  btn-warning btn-pay-ajst1 outlineNo" i18n="@@loco:$1900" (click)="onSettlement(post)">See</button></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="8">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </section>
      </div>
      <!-- /.row -->
  </section>
</div>
<!-- <footer class="main-footer ">
  <div style="padding:6px;">
    <strong>Copyright &copy; 2017 </strong> All rights
  reserved.
  </div>
</footer> -->
