.searchText{width: calc(100% - 40px); display: inline-block; vertical-align: top;}
.searchImgBig {width: 36px; display: inline-block; vertical-align: top;
    float: none;
    border-right: 1px solid #cfd0d1;
    border-top: 1px solid #cfd0d1;
    border-bottom: 1px solid #cfd0d1;
    height: 34px;
    padding: 5px 12px;
    cursor: pointer;
    margin-left: -4px;
}
