<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Role Master</div>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Role Name</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>

               <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Module Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
    		        <div class="searchText">
    		            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
    		        </div>
                <div class="searchImgBig" (click)="div_show1()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">User</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value="">Global User</option>
                  <option value="">State User</option>
                  <option value="">APMC User</option>
                </select>
              </div>
              <br>
            </div>
              <!-- table -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Role Assign Details</div>
            </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                    <div class="">
                      <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                    <div class="">
                      <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Delete</button>
                    </div>
                  </div>
              </div>
              <!-- Table -->

              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                				  			<th><mfDefaultSorter by="" >Right Name</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Module Name</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >New</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Delete</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Modify</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >View</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="6" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>
            					  			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                                      <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                                    </div>
                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                                    <img src="assets/images/search.png">
                                  </div>
                                </div>
                              </td>
            					  			<td></td>
            					  			<td>
                                <input type="checkbox" name="" value="">
                              </td>
            					  			<td>
                                <input type="checkbox" name="" value="">
                              </td>
            					  			<td>
                                <input type="checkbox" name="" value="">
                              </td>
            					  			<td>
                                <input type="checkbox" name=" " value="">
                              </td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="6">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
            <!-- Buttons -->
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                <button type="button" class="btn btn-success">Save</button>
                 <button type="button" class="btn btn-warning"> Reset</button>
              </div>
              <!-- popup for module name -->
              <div id="popup1" [className]="my_class1">
                	<div class="popup">
                		<h4>Module Name</h4>
                		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                		<div class="newContentPop">
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                        <button type="button" class="btn btn-success">Advanced</button>
                      </div>
		                   <br>
                       <div class="row">
                         <div class="col-xs-12">
                            <p>Module Name</p>
                            <div class="form-group res-btn">
                              <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                            </div>
                         </div>
                       </div>
        		           <br>
                       <div class="row">
                           <div class="col-xs-12 text-align-center">
                            <button type="button" class="btn btn-success">Search</button>
                            <button type="button" class="btn btn-warning">Reset</button>
                          </div>
                        </div>
                      <br>
                      <div class="row">
                        <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                      				  			<th><mfDefaultSorter by="" >Module Name</mfDefaultSorter></th>
                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <tr>
                        			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                        		      </tr>
                        		      <tr *ngFor='let post of mf1.data'>

                  					  			<td></td>
                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                        			<td colspan="7">
                        			  <mfBootstrapPaginator></mfBootstrapPaginator>
                        			</td>
                        		      </tr>
                        		    </tfoot>
                        		</table><!--TABLE ENDS-->
                        	</div><!--TABLE DIV ENDS HERE-->
                    </div>
                  </div>

                		</div>
                    <div class="modal-footer" >
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                    </div>
                	</div>
              </div>
              <!-- popup end -->
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
