<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
            <div class="panel panel-default">
              <div class="screen_header"><span>Lot Management</span></div>
              <div class="panel-body">
                <div id="popup6" [className]="my_class7">
                  <div class="popup" >
                        <div  class="alert alert-danger">Multiple Records selected. Please select only one record to split </div>
                  </div>
                </div>
                <div id="popup6" [className]="my_class16">
                  <div class="popup" >
                        <div  class="alert alert-danger"> Please select atleast one record to split </div>
                  </div>
                </div>
                <div id="popup6" [className]="my_class9">
                  <div class="popup" >
                        <div  class="alert alert-danger">Lots selected cannot be merged. They are for different Sellers/Commodities</div>
                  </div>
                </div>
                <div id="popup6" [className]="my_class10">
                  <div class="popup" >
                        <div  class="alert alert-danger">Please select two or more lots to merge.</div>
                  </div>
                </div>
                <div id="popup6" [className]="my_class15">
                  <div class="popup" >
                        <div  class="alert alert-danger">Temporary Lots Cannot be Merged</div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                      <p>Lot Code</p>
                       <div class="form-group res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="lotCode" (input)="lotCodeFilter()">
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                      <p>Seller</p>
                      <div class="form-group  res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="seller" (input)="sellerNameFilter()">
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                      <p>Trader</p>
                       <div class="form-group res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="trader" (input)="traderNameFilter()">
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                      <p>Agent</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="agent" (input)="agentNameFilter()">
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                    <p>Commodity</p>
                    <div class="form-group res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="commodity" (input)="commmodityNameFilter()">
                    </div>
                  </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Lot Date</div> -->
                   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                     <p>*Lot From Date</p>
                     <div class="form-group  res-btn">
                       <form #myForm="ngForm" novalidate>
                         <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                         [(ngModel)]="lotFromDate" required></my-date-picker>
                       </form>
                     </div>
                   </div>
                 </div>
                <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                       <p>*Lot To Date</p>
                       <div class="form-group res-btn">
                         <form #myForm="ngForm" novalidate>
                           <my-date-picker name="mydate2" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                           [(ngModel)]="lotToDate" required></my-date-picker>
                         </form>
                       </div>
                    </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                       <p>*Lot Type</p>
                       <div class="form-group res-btn">
                         <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (change)="lotstype(lots.value)" #lots>
                           <!-- <option value="" [selected]="checkLotType == true">--Select Type--</option> -->
                           <option value="N" [selected]="lotType == 'N'">Normal Lots</option>
                           <option value="Y" >Multi Farmer Lots</option>
                         </select>
                       </div>
                    </div>
                </div>
                <div class="row">
                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 color-notPureWhite">
                   <p>Company</p>
                    <div class="form-group res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="company" (input)="companyNameFilter()">
                    </div>
  		           </div>
               </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj text-align-center">
                    <flash-messages></flash-messages>
                  </div>
               </div>
               <div class="row">
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                    <button type="button" class="btn btn-success" (click)="searchMerge()">Search</button>
                    <button type="button" class="btn btn-warning" (click)="onResetPage()">Reset</button>
                  </div>
              </div>
              </div>
            </div>
            <div class="row toolbar-adj">
              <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" (click)="openMergePopup()">Merge</button>
              </div>
            </div>
            <div>
            	<div class="table-fixed padding-top table-responsive" style="overflow-y: scroll;  height: 400px;">
            	    <table  [mfData]="filteredSplitMergeData"  #mf="mfDataTable"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
            		    <thead>
            		      <tr>
                  			<th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Agent</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Company Name</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="" >No. of Bags</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" >Qty(kg)</mfDefaultSorter></th>
                        <th><mfDefaultSorter by="" >Lot Status</mfDefaultSorter></th>
                  			<th><mfDefaultSorter by="" ></mfDefaultSorter></th>
            		      </tr>
            		    </thead>
            		    <tbody>
            		      <tr>
            			         <td colspan="11" *ngIf="mf.data.length==0" class="noDataDisp">No data to display</td>
            		      </tr>
            		      <tr *ngFor='let post of mf.data;let i=index'>
                          <td><input type="checkbox" name="vehicle" value="" (click)="onCheckBid(post,check.checked)" #check></td>
      		          			<td>{{post.iledLotCode}}</td>
      		          			<td>{{post.frmFullName}}</td>
      		          			<td *ngIf="post.lcamFullName1 != undefined" class="anchor-decoration"><a (click)="onAgentName(post)">{{post.lcamFullName1}}</a></td>
      		          			<td *ngIf="post.lcamFullName1 == undefined" class="anchor-decoration"><a (click)="onAgentName(post)">Click here to assign Agent</a></td>
      		          			<td *ngIf="post.lcamAgenCompName != undefined" class="anchor-decoration"><a (click)="onAgentCompanyName(post)">{{post.lcamAgenCompName}}</a></td>
      		          			<td *ngIf="post.lcamAgenCompName == undefined" class="anchor-decoration"><a (click)="onAgentCompanyName(post)">Click here to assign Company</a></td>
      		          			<td>{{post.gmpmgProdName}}</td>
      		          			<td>{{post.gmptmDesc}}</td>
                          <td>{{post.iledNoofBag}}</td>
      		          			<td>{{post.iledQty}}</td>
                          <td *ngIf= "post.iledLotStatus == '0'"> Pending</td>
                          <td *ngIf= "post.iledLotStatus == '1'"> Approved</td>
                          <td *ngIf= "post.iledLotStatus == '2'"> Hold</td>
                          <td *ngIf= "post.iledLotStatus == '3'"> Split</td>
                          <td *ngIf= "post.iledLotStatus == '4'"> Cancel</td>
                          <td *ngIf= "post.iledLotStatus == '5'"> Sale</td>
                          <td *ngIf= "post.iledLotStatus == '6'"> Merge</td>
                          <td *ngIf= "post.iledLotStatus == '7'"> Temporary</td>
      		          			<td><input type="button" value="Split" (click)="openSplitPopup(post)" ></td>
            		      </tr>
            		    </tbody>
            		    <!-- <tfoot>
            		      <tr>
                  			<td colspan="11">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
            		      </tr>
            		    </tfoot> -->
            		</table><!--TABLE ENDS-->
            	</div>
           </div>

                  <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class50">
                  <div class="popup">
                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>
                  </div>
            </div>
                  <!--popup ends-->
                  <!--Pop of split  starts-->
              <div id="popup1" [className]="my_class1">
                  <div class="popup">
                    <h2>Split</h2>
                    <div id="popup6" [className]="my_class3">
                      <div class="popup" >
                            <div  class="alert alert-danger">  Lot Quantity not matching Actual:{{actualQuintal}}/ Split:{{calcQuintal}} </div>
                      </div>
                    </div>
                    <div id="popup6" [className]="my_class5">
                      <div class="popup" >
                            <div  class="alert alert-success">Split For The Lot Saved Successfully</div>
                      </div>
                    </div>
                    <div id="popup6" [className]="my_class6">
                      <div class="popup" >
                            <div  class="alert alert-danger">Please Enter Number Of Lots To Split</div>
                      </div>
                    </div>
                    <div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                    <div class="content newContentPop">
                      Lot Code         : {{selLotToSplit.iledLotCode}}<br>
                      Seller Name      : {{selLotToSplit.frmFullName}}<br>
                      Commodity        : {{selLotToSplit.gmpmgProdName}}<br>
                      No. of Bags      : {{selLotToSplit.iledNoofBag}}<br>
                      Bag Type         : {{selLotToSplit.gmptmDesc}}<br>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj bold-title ">
                          Split Lot
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Number of Lots</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="nolot"
                         (change)="onSplitLot()">
                       </div>
                       <!-- <div class=" col-sm-2 col-lg-2 col-md-2 col-xs-2 res-btn">
                         <button type="button" class="btn btn-success" (click)="split()">Split</button>
                      </div> -->
        		           <br>
                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Bag Type</th>
                                <th>No. of Bags</th>
                                <th>Approx Quantity</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor ="let post of splitArr;let i= index">
                                <td>{{post.bagType}}</td>
                                <td ><input type="number" value="{{post.noOfBag}}" (change)="onNoOfBagChange($event.target.value,i)"  min ="1" ></td>
                                <td>{{post.approxQuantity}}</td>
                              </tr>

                            </tbody>
                          </table>
                      </div>
                    </div>
                    <div class="modal-footer" >
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSplitSave()">Save</button>
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                    </div>
                  </div>
              </div>
              <div  [className]="my_class8">
                  <div class="popup">
                    <div class="close" (click)="hideAgentPopup()" ><img class="" src="assets/images/delete.png"></div>
                    <div class="content newContentPop">
                      <div id="popup6" [className]="my_class18">
                        <div class="popup" >
                              <div  class="alert alert-success">Agent Name Updated Successfully</div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Lot Code</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" value="{{selLotForAgent.iledLotCode}}" disabled
                         >
                       </div>
                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Agent</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="nolot"
                         (change)="onSplitLot()">
                       </div> -->
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Agent</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <div  class="bagDescInput">
                           <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="agentName" readonly>
                         </div>
                         <div  class="searchImg searchImgAdj bagDescImg"  (click)="selAgentName()">
                           <img src="assets/images/search.png">
                         </div>
                       </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Commodity</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" value="{{selLotForAgent.gmpmgProdName}}" disabled>
                       </div>
                    </div>
                    <div class="modal-footer" >
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onUpdateAgent()">OK</button>
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideAgentPopup()">Cancel</button>
                    </div>
                  </div>
              </div>
              <div  [className]="my_class11">
                  <div class="popup">
                    <h2>Merging Lots</h2>
                    <div id="popup6" [className]="my_class13">
                      <div class="popup" >
                            <div  class="alert alert-danger">Merge For The Lot Saved Successfully</div>
                      </div>
                    </div>
                    <div id="popup6" [className]="my_class14">
                      <div class="popup" >
                            <div  class="alert alert-danger">Please Choose Bag Type</div>
                      </div>
                    </div>
                    <div class="close" (click)="hideMergePopup()" ><img class="" src="assets/images/delete.png"></div>
                    <div class="content newContentPop">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Commodity</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" disabled value="{{showCommodity}}"
                         >
                       </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Bag Type</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <div  class="bagDescInput">
                           <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="bagDesc" readonly>
                         </div>
                         <div  class="searchImg searchImgAdj bagDescImg"  (click)="onSelectBagType()">
                           <img src="assets/images/search.png">
                         </div>
                       </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">No Of Bags</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" disabled value="{{modNoOfBag}}"  >
                       </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Qty</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" disabled value="{{showQtyKg}}">
                       </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Quantity(UOM)</div>
                       <div class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" disabled value="{{showQtyQuintal}}">
                       </div>

                    </div>
                    <div class="modal-footer" >
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onMergeSave()">Save</button>
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideMergePopup()">Cancel</button>
                    </div>
                  </div>
              </div>

<!-- Popup for bag type starts -->
    <div id="popup1" [className]="my_class12">
        <div class="popup" style="    width: 25%;">
          <div class="modal-content">
            <div class="modal-header">
              <div class="close" (click)="hideBagTypePopup()" ><img class="" src="assets/images/delete.png"></div>
              <h4 class="modal-title">Bag Type</h4>
            </div>
            <div class="modal-body">
              <!-- <div class="row">
                <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 res-btn padding-top padding-bottom10">
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="searchBagTypeName($event)"  placeholder="Bag Type Name">
                </div>
              </div> -->
              <div class="row">
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="table-fixed padding-top table-responsive">
                        <table  [mfData]="filteredBagData"  #mf5="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" cellspacing="0" width="100%" >
                          <thead>
                            <tr>
                                <th><mfDefaultSorter by="" >BagType Id</mfDefaultSorter></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                        <td colspan="7" *ngIf="mf5.data.length==0" class="noDataDisp">No data to display</td>
                            </tr>
                            <tr *ngFor="let post5 of mf5.data;let i = index" (click)="selectedBagData(post5,i)" [class.active]="i == selectedBag" >
                              <td>{{post5.gmptm_desc}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                        <td colspan="7">
                          <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                            </tr>
                          </tfoot>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button  type="button" class="btn btn-default outlineNo btn-success popbtn" data-dismiss="modal" (click)="selBagTypeOK()">ok</button>
            </div>
          </div>
      </div>
</div>

<div id="popup1" [className]="my_class17">
        <div class="popup">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Agent Name</h4>
              <div class="close" (click)="hideTraderPoup()" ><img class="" src="assets/images/delete.png"></div>
            </div>
            <div class="modal-body">
              <div class="row">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Agent/Trader Name</div>
                <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 res-btn padding-top padding-bottom10">
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [(ngModel)]="matchTrader" id="" (ngModelChange)="searchTraderName()"  placeholder="Agent/Trader Name">
                </div> -->
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12"*ngIf="caListData != undefined" >
                      <div class="table-fixed padding-top table-responsive" >
                          <table  [mfData]="caListData"  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" cellspacing="0" width="100%" >
                            <thead>
                              <tr>
                                <th><mfDefaultSorter by="" >Agent/Trader Name</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="frmFullName" >Company</mfDefaultSorter></th>
                              </tr>
                              <tr *ngIf="mf.data.length == 0" >
                                <td colspan="7"  class="noDataDisp">No data to display</td>
                              </tr>
                            </thead>
                            <tbody >
                              <tr *ngFor="let post of mf.data;let i = index" (click)="onTraderSelect(post,i)" [class.active]="i == selectedRow">
                                <td>{{post.lcamFullName}}</td>
                                <td>{{post.lcamAgenCompName}}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="7">
                                  <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                              </tr>
                            </tfoot>
                        </table>
                      </div>
                    </div>
              </div>
            </div>
            <div class="modal-footer">
              <button  type="button" class="btn btn-default outlineNo btn-success popbtn" data-dismiss="modal" (click)="selTraderOK()">ok</button>
            </div>
          </div>
            </div>
      </div>
<!-- Popup for bag type ends -->

                    <!--popup ends-->
                    <div id="popup5" [className]="my_class4">
                      <div class="popup" >
                            <div  class="alert alert-danger" > Something Went Wrong</div>
                      </div>
                    </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
