<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!-- Nav tabs -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">User Master For Organisation</div>
            </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                   <div class="panel with-nav-tabs panel-default">
                       <div class="panel-heading">
                               <ul class="nav nav-tabs centerTabs">
                                   <li class="active"><a href="#tab1default" data-toggle="tab">User Information</a></li>
                                   <li><a href="#tab2default" data-toggle="tab">Operating Unit</a></li>
                               </ul>
                       </div>
                       <div class="panel-body">
                           <div class="tab-content">
                               <div class="tab-pane fade in active" id="tab1default">
                                 <!-- 1st column -->
                                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 toolbar-adj">
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Operating Unit</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 height49 marginTop refresh-adj">
                                     <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                       <option value="" selected>National Agriculture Market</option>
                                       <option value="Commission agent">Madhya Pradesh</option>
                                       <option value="trader">Gujrat</option>
                                     </select>
                                   </div>
                                   <br>

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Display Name</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                   </div>

                                   <br>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Login Id.</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                   </div>

                                   <br>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Activate from</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <form #myForm="ngForm" novalidate>
                                       <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                       [(ngModel)]="dateInsert1" required></my-date-picker>
                                     </form>
                                   </div>
                                   <br>

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Menu</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 height49 marginTop refresh-adj">
                                     <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                       <option value="">--Select--</option>
                                       <option value="Commission agent">Tree</option>
                                       <option value="trader">Drop Down</option>
                                     </select>
                                   </div>
                                   <br>

                                 </div>
                                 <!-- 2nd column -->
                                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 toolbar-adj">
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*User Type</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 height49 marginTop refresh-adj">
                                     <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                       <option value="">--Select--</option>
                                       <option value="Commission agent">User</option>
                                       <option value="trader">Farmer</option>
                                       <option value="Hamal">APMC Staff</option>
                                       <option value="Weightman">CA</option>
                                       <option value="Service provider">SAMB Staff</option>
                                       <option value="Government">Other</option>
                                     </select>
                                   </div>
                                   <br>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Phone No.</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                   </div>

                                   <br>

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Password</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                   </div>

                                   <br>

                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Active To</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <form #myForm="ngForm" novalidate>
                                       <my-date-picker name="mydate2" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                       [(ngModel)]="dateInsert2" required></my-date-picker>
                                     </form>
                                   </div>
                                   <br>
                                 </div>
                                 <!-- 3rd column -->
                                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 toolbar-adj">
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Email Id</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                   </div>

                                   <br>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Code</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 height49 marginTop refresh-adj" >
                                     <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [disabled]="true">
                                       <option value="" >DAC</option>
                                       <option value="" >SFAC</option>
                                       <option value="" >NIC</option>
                                       <option value="" >RESEARCH FELLOW</option>
                                       <option value="" >SEARCH</option>

                                     </select>
                                   </div>
                                   <br>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">User</div>
                                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 height49 marginTop refresh-adj">
                                     <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                       <option value="" >Commission Agent</option>
                                       <option value="" >Trader</option>
                                       <option value="" >Hamal</option>
                                       <option value="" >Weightman</option>
                                       <option value="" >Service Provider</option>
                                       <option value="" >Government</option>
                                     </select>
                                   </div>
                                   <br>
                                 </div>
                                 <!-- Data transfer tables for Assign role -->
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                                   <!-- 1st table -->
                                   <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                       <table class="table table-striped table-hover" id="roletable">
                                           <thead>
                                             <tr>
                                               <th class="color-notPureWhite">Assign Role</th>
                                             </tr>
                                           </thead>
                                           <tbody>
                                             <tr *ngFor="let post of leftArray;let i = index" (click)="setRightClickedRow(post,i)" [class.active]="i == selectedRightRow">
                                               <td>{{post.role}}l</td>
                                             </tr>
                                           </tbody>
                                           <!-- <tbody *ngIf="flag==3" >
                                             <tr *ngFor="let post of rightArray;let i = index" (click)="setClickedRow(post,i)" [class.active]="i == selectedRow">
                                               <td>{{post.role}}</td>
                                             </tr>
                                           </tbody> -->
                                       </table>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:auto;text-align:center">
                                      <span (click)="onClickRightArrow()" [class.disabled]="disableRightArrow"><img src="assets/images/right-arrow.png" style="padding:83px 0 0;cursor:pointer"></span><br>
                                      <!-- (click)="pushedData()" -->
                                      <span (click)="onClickRightArrowAll()"><img src="assets/images/right-arrow-fast.png" style="padding:24px 0 0;cursor:pointer"></span><br>
                                      <!-- (click)="pushAlltoRight()" -->
                                      <span (click)="onClickLeftArrow()" [class.disabled]="disableLeftArrow"><img src="assets/images/left-arrow.png" style="padding:24px 0 0;cursor:pointer"></span><br>
                                      <!-- (click)="pushLeft()" -->
                                      <span (click)="onClickLeftArrowAll()"><img src="assets/images/left-arrow-fast.png" style="padding:24px 0 0;cursor:pointer"></span><br>
                                    </div>
                                    <!-- 2nd table -->
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                              <tr>
                                                <th class="color-notPureWhite">Assigned Role</th>
                                              </tr>
                                            </thead>
                                            <tbody >
                                              <!-- *ngIf="flag==1" -->
                                              <tr  *ngFor="let post of rightArray;let i = index" (click)="setLeftClickedRow(post,i)" [class.active]="i == selectedLeftRow">
                                                  <td>{{post.role}}</td>
                                                </tr>
                                              </tbody>
                                            <!-- <tbody *ngIf="flag==2">
                                              <tr *ngFor="let post of copyOfRight;let i = index" (click)="getClickedRow(post,i)" [class.active]="i == selectedRow" >
                                                  <td>{{post.role}}</td>
                                                </tr>
                                            </tbody> -->

                                        </table>
                                     </div>


                                 </div>
                               </div>
                               <div class="tab-pane fade" id="tab2default">
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                                   <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj">
                                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Operating Unit</div>
                                    </div>
                                    <!-- Table left -->
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                  	<div class="table-fixed padding-top table-responsive">
                                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="2"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                  		    <thead>
                                  		      <tr>
                                				  			<th><mfDefaultSorter by="" >Operating unit</mfDefaultSorter></th>
                                				  			<th><mfDefaultSorter by="" >Login ip</mfDefaultSorter></th>

                                  		      </tr>
                                  		    </thead>
                                  		    <tbody>
                                  		      <tr>
                                  			<!-- <td colspan="7" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                                  		      </tr>
                                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                                            <tr>
                            					  			<td>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                               </div>
                                              </td>
                            					  			<td>
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                               </div>
                                              </td>

                                  		      </tr>
                                  		    </tbody>
                                  		    <tfoot>
                                  		      <tr>
                                  			<td colspan="2">
                                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                  			</td>
                                  		      </tr>
                                  		    </tfoot>
                                  		</table><!--TABLE ENDS-->
                                  	</div><!--TABLE DIV ENDS HERE-->
                                  </div>
                                    <!-- left table end -->
                                   </div>
                                   <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj">
                                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Assign Rights</div>
                                    </div>
                                    <!-- right table -->
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                  	<div class="table-fixed padding-top table-responsive">
                                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                  		    <thead>
                                  		      <tr>
                                				  			<th><mfDefaultSorter by="" >Right name</mfDefaultSorter></th>
                                				  			<th><mfDefaultSorter by="" >New</mfDefaultSorter></th>
                                				  			<th><mfDefaultSorter by="" >Modify</mfDefaultSorter></th>
                                				  			<th><mfDefaultSorter by="" >Delete</mfDefaultSorter></th>
                                				  			<th><mfDefaultSorter by="" >View</mfDefaultSorter></th>

                                  		      </tr>
                                  		    </thead>
                                  		    <tbody>
                                  		      <tr>
                                  			<!-- <td colspan="7" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                                  		      </tr>
                                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                                            <tr>
                            					  			<td></td>
                            					  			<td></td>
                            					  			<td></td>
                            					  			<td></td>
                            					  			<td></td>

                                  		      </tr>
                                  		    </tbody>
                                  		    <tfoot>
                                  		      <tr>
                                  			<td colspan="7">
                                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                  			</td>
                                  		      </tr>
                                  		    </tfoot>
                                  		</table><!--TABLE ENDS-->
                                  	</div><!--TABLE DIV ENDS HERE-->
                                  </div>
                                    <!-- end right table -->
                                   </div>

                                 </div>
                               </div>

                           </div>
                       </div>
                     </div>
                 </div>

                 <!-- Buttons -->
                   <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                     <button type="button" class="btn btn-success">Save</button>
                      <button type="button" class="btn btn-warning"> Reset</button>
                   </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
