<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
            <!-- 1st column -->
            <div class="panel panel-default">
              <div class="screen_header"><span i18n="@@loco:$1907">Gate Exit</span></div>
              <div class="panel-body">
                <div class="row">
                  <div id="popup5" [className]="my_class4">
                    <div class="popup" >
                          <div  class="alert alert-danger" > Something Went Wrong</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class9">
                    <div class="popup" >
                          <div   class="alert alert-danger" > Total Qtl Quantity Should not be greater than {{finalQtl}}</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class10">
                    <div class="popup" >
                          <div class="alert alert-danger" > Please Choose Seller Name To Get Transaction Details</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class11">
                    <div class="popup" >
                          <div   class="alert alert-danger"> Please Enter Vehicle Number</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class12">
                    <div class="popup" >
                          <div   class="alert alert-danger" > Please Choose Gate Number</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class13">
                    <div class="popup" >
                          <div   class="alert alert-danger"> Please Select Atleast One Record </div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class14">
                    <div class="popup" >
                          <div class="alert alert-success" > Gate Exit Created Successfully </div>
                    </div>
                  </div>
                  <div id="popup1" [className]="my_class8">
                      <div class="popup">
                        <div class="modal-content">
                          <div class="modal-header">
                              <div class="close" (click)="hideMessagePopUp()" ><img class="" src="assets/images/delete.png"></div>
                              <h4 class="modal-title">Message</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <p class="col-xs-12" style="color:red">Conversion Factor not defined.Please define the UOM Conversion Factor</p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideMessagePopUp()">OK</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6">
                    <p i18n="@@loco:$1921">*Exit Type</p>
                    <div class="form-group res-btn">
                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (change)="onExitType(exit.value)" #exit>
                        <option value="goodsReturn" i18n="@@loco:$1825">Goods Return</option>
                        <option value="postTrade" i18n="@@loco:$1826">Post Trade Exit</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6">
                    <p  i18n="@@loco:$880">*Seller Type	</p>
                    <div class="form-group res-btn" >
                      <select class="form-control input-adj inputDark inputWhite" (change)="chooseSellerType($event.target.value)" [disabled]="postTradeDisabled">
                        <option value="F" i18n="@@loco:$1922">Farmer</option>
                        <option value="T" i18n="@@loco:$718">Trader</option>
                        <option value="L" i18n="@@loco:$1923">Lot wise farmer</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6">
                      <p i18n="@@loco:$1166">Trader Name</p>
                      <div class="form-group res-btn" [class.disabled]="!postTradeDisabled">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="traderDesc" readonly placeholder="Trader Name"  i18n-placeholder="[placeholder]@@loco:$1166">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg inactvBtn" (click)="openTraderNamePopup()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6">
                    <p i18n="@@loco:$1170">Seller Name</p>
                      <div class="form-group res-btn" [class.disabled]="(sellerType == 'L') || (postTradeDisabled == true)">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="sellerDesc" readonly placeholder="Seller Name" i18n-placeholder="[placeholder]@@loco:$1170">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg inactvBtn" (click)="div_show2()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6" *ngIf="sellerType == 'L'">
                    <p i18n="@@loco:$1927">Lot Code</p>
                      <div class="form-group res-btn">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="lotcode" readonly>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6">
                    <p i18n="@@loco:$574">*Vehicle No.</p>
                       <div class="form-group res-btn">
                         <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehNo">
                       </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6" *ngIf="(sellerType == 'T' )|| (exitType == 'T')">
                    <p  i18n="@@loco:$1925">Trader Firm Name</p>
                     <div  class="form-group res-btn">
                       <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="traderFirmName" readonly>
                     </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 col-md-4 col-xs-6">
                    <p i18n="@@loco:$1924">Exit Gate No.</p>
                    <div class="form-group res-btn">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                          <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="gateNo" readonly>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show()">
                        <img src="assets/images/search.png">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Gate Exit</div>
            </div> -->
            <div class="panel panel-default">
              <div class="panel-heading" i18n="@@loco:$1930">Exit Gate Transaction Details</div>
              <div class="panel-body">
                <!-- <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-sm  white m-b input-adj outlineNo greybtn">Delete</button>
                  </div>
                </div> -->
                <div class="row" *ngIf= "exitType == 'F'">
                  <div class="col-xs-12">
                    <div class="table-fixed padding-top table-responsive" style="overflow-y: scroll;height: 500px;">
                        <table  [mfData]="lotDetails"  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          <thead>
                            <tr>
                                <th i18n="@@loco:$1926"><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                                <th i18n="@@loco:$1927"><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                <th i18n="@@loco:$878"><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                <th i18n="@@loco:$886"><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                                <th i18n="@@loco:$887"><mfDefaultSorter by="" >No. of Bags</mfDefaultSorter></th>
                                <th i18n="@@loco:$1929"><mfDefaultSorter by="" >Qty(Kg)</mfDefaultSorter></th>
                                <th i18n="@@loco:$1928"><mfDefaultSorter by="" >UOM Qty(Quintal)</mfDefaultSorter></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="7" *ngIf="mf.data.length==0" class="noDataDisp">No data to display</td>
                            </tr>
                            <tr *ngFor='let post of mf.data;let i= index'>
                                <td><input type="checkbox" value="" (click)="onCheckBid(post,$event.target.checked,i)" id="checkId_{{i}}"></td>
                                <td>{{post.lotCode}}</td>
                                <td>{{post.commodityName}}</td>
                                <td> <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                                    <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" value="{{post.bagDesc}}" >
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="openBagDetailsPopup(i)">
                                  <img src="assets/images/search.png">
                                </div>
                              </td>
                                <td><input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" value="{{post.iledNoofBag}}" (change)="onBagNoChange(post,i,$event.target.value)"></td>
                                <td>{{post.qtyInKg}} </td>
                                <td>{{post.modifiedQtl}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="7">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf= "exitType =='T'">
                  <div class="col-xs-12">
                    <div class="table-fixed padding-top table-responsive" style="overflow-y: scroll;height: 500px;">
                        <table  [mfData]="lotDetails"  #mf="mfDataTable"   class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          <thead>
                            <tr>
                                <th i18n="@@loco:$1926"><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                                <th i18n="@@loco:$1369"><mfDefaultSorter by="" >Agreemnet No.</mfDefaultSorter></th>
                                <th i18n="@@loco:$1927"><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                <th i18n="@@loco:$878"><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                <th i18n="@@loco:$886"><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                                <th i18n="@@loco:$887"><mfDefaultSorter by="" >No Of Bags</mfDefaultSorter></th>
                                <th i18n="@@loco:$1929"><mfDefaultSorter by="" >Qty(Kg/NOS)</mfDefaultSorter></th>
                                <th i18n="@@loco:$1928"><mfDefaultSorter by="" >Qty</mfDefaultSorter></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="7" *ngIf="mf.data.length==0" class="noDataDisp">No data to display</td>
                            </tr>
                            <tr *ngFor='let post of mf.data;let i= index'>
                                <td><input type="checkbox" value="" (click)="onCheckBidPost(post,$event.target.checked,i)" id="checkId_{{i}}"></td>
                                <td>{{post.auchDocno}}</td>
                                <td>{{post.lot}}</td>
                                <td>{{post.gmpmgProdName}}</td>
                                <td> <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                                    <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" value="{{post.gmptmDesc}}" >
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="openBagDetailsPopup(i)">
                                  <img src="assets/images/search.png">
                                </div>
                              </td>
                                <td><input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" value="{{post.iledNoofBag}}" (change)="onBagNoChange(post,i,$event.target.value)"></td>
                                <td>{{post.qtyInKg}} </td>
                                <td>{{post.modifiedQtl}}</td>
                            </tr>
                          </tbody>
                          <!-- <tfoot>
                            <tr>
                              <td colspan="7">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot> -->
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                    <button type="button" class="btn btn-success" (click)="onSaveGateExit()">Save</button>
                    <button type="button" class="btn btn-warning"> Reset</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Exit Gate Transaction Details</div>
            </div> -->
              <!-- Popup for exit gate no. -->
              <div id="popup1" [className]="my_class1">
                	<div class="popup">
                    <div class="modal-content">
                      <div class="modal-header">
                  		    <div class="close" (click)="div_hide()" ><img class="" src="assets/images/delete.png"></div>
                        <h4 class="modal-title" i18n="@@loco:$1924">Exit Gate No.</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" i18n="@@loco:$587">Gate No.</div>
                         <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                           <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchGateNo" (input)="filterGateNo()">
                         </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" i18n="@@loco:$651">Gate Name</div>
                          <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                            <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchGateName" (input)="filterGateName()">
                          </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            	<div class="table-fixed padding-top table-responsive">
                            	    <table  [mfData]="filteredGateInfo"  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                            		    <thead>
                            		      <tr>
                          				  			<th i18n="@@loco:$587"><mfDefaultSorter by="" >Gate No.</mfDefaultSorter></th>
                          				  			<th i18n="@@loco:$651"><mfDefaultSorter by="" >Gate Name</mfDefaultSorter></th>
                            		      </tr>
                            		    </thead>
                            		    <tbody>
                            		      <tr>
                            			<td colspan="7" *ngIf="mf1.data.length==0" class="noDataDisp">No data to display</td>
                            		      </tr>
                                      <tr *ngFor ="let post of mf1.data;let i=index" (click)="onGateSelect(post,i)" [class.active]="i == selectedGate" style="cursor:pointer">
                                        <td>{{post.ggmGateNo}}</td>
                                        <td>{{post.ggmName}}</td>
                                      </tr>
                            		    </tbody>
                            		    <tfoot>
                            		      <tr>
                                  			<td colspan="7">
                                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                  			</td>
                            		      </tr>
                            		    </tfoot>
                            		</table>
                            	</div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelGateOK()">Ok</button>
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide()">Cancel</button>
                      </div>
                    </div>
                	</div>
              </div>
              <!-- Search & select seller name -->
              <div id="popup1" [className]="my_class2">
                	<div class="popup">
                    <div class="modal-content">
                      <div class="modal-header">
                  		    <div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                          <h4 class="modal-title"  i18n="@@loco:$1170">Seller Name</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <p class="col-xs-12" i18n="@@loco:$1931">Farmer Name</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="filterFarmerName" (input)="searchByFarmerName()">
                             </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          	<div class="table-fixed padding-top table-responsive">
                          	    <table  [mfData]="filteredSellerForFarmer"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th i18n="@@loco:$1931"><mfDefaultSorter by="" >Farmer Name</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			<td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf2.data;let i= index' (click)="onSelFarmer(post,i)" style="cursor:pointer" [class.active]="i == selFarmerIndex">
                    					  			<td>{{post.frmFullName}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelFarmerOK()">Ok</button>
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                      </div>
                    </div>
                	</div>
              </div>
              <div id="popup1" [className]="my_class7">
                	<div class="popup">
                    <div class="modal-content">
                      <div class="modal-header">
                  		    <div class="close" (click)="hideLotCodePopUp()" ><img class="" src="assets/images/delete.png"></div>
                          <h4 class="modal-title" i18n="@@loco:$1927">Lot Code</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <p class="col-xs-12" i18n="@@loco:$1927">Lot Code</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLotCode" (change)="filterLotCode()">
                             </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" *ngIf= "filteredLotCodeForFarmer != undefined">
                          	<div class="table-fixed padding-top table-responsive">
                          	    <table  [mfData]="filteredLotCodeForFarmer"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th i18n="@@loco:$1927"><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			<td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf2.data;let i= index' (click)="onSelLotCode(post,i)" style="cursor:pointer" [class.active]="i == selLotIndex">
                    					  			<td>{{post.iledLotCode}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelLotOK()">Ok</button>
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideLotCodePopUp()">Cancel</button>
                      </div>
                    </div>
                	</div>
              </div>
              <div id="popup1" [className]="my_class6">
                	<div class="popup">
                    <div class="modal-content">
                      <div class="modal-header">
                  		    <div class="close" (click)="hideTraderPopup()" ><img class="" src="assets/images/delete.png"></div>
                          <h4 class="modal-title" i18n="@@loco:$1170">Seller Name</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <p class="col-xs-12" i18n="@@loco:$1170">Seller Name</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchSellerName" (input)="filterSellerName()">
                             </div>
                        </div>
                        <div class="row">
                          <p class="col-xs-12" i18n="@@loco:$1582">Company Name</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCompanyName" (input)="filterCompanyName()">
                             </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          	<div class="table-fixed padding-top table-responsive" *ngIf="filteredSellerForTrader != undefined">
                          	    <table  [mfData]="filteredSellerForTrader "  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th i18n="@@loco:$1170"><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                        				  			<th i18n="@@loco:$1582"><mfDefaultSorter by="" >Company Name</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			<td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf2.data;let i= index' (click)="onSelTrader(post,i)" style="cursor:pointer" [class.active]="i == selTraderIndex">
                    					  			<td>{{post.lcamFullName}}</td>
                    					  			<td>{{post.lcamAgenCompName}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelTraderOK()">Ok</button>
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideTraderPopup()">Cancel</button>
                      </div>
                    </div>
                	</div>
              </div>
              <div id="popup1" [className]="my_class15">
                	<div class="popup" style="    width: 40%;">
                    <div class="modal-content">
                      <div class="modal-header">
                  		    <div class="close" (click)="hidePostTraderPopup()" ><img class="" src="assets/images/delete.png"></div>
                          <h4 class="modal-title" i18n="@@loco:$1166">Trader Name</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div>
                               <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                 <p class="col-xs-12" i18n="@@loco:$1166">Trader Name</p>
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchTraderName" (input)="filterTraderName()">
                               </div>
                          </div>
                          <div>
                               <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                 <p class="col-xs-12" i18n="@@loco:$1582">Company Name</p>
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchTraderCompanyName" (input)="filterTraderCompanyName()">
                               </div>
                          </div>
                          <div>
                               <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                 <p class="col-xs-12" i18n="@@loco:$1932">Licence No</p>
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLicenceNo" (input)="filterLicenceNo()">
                               </div>
                          </div>



                        </div>
                        <!-- <div class="row">
                          <p class="col-xs-12">Company Name</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchTraderCompanyName" (input)="filterTraderCompanyName()">
                             </div>
                        </div>
                        <div class="row">
                          <p class="col-xs-12">Licence No</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLicenceNo" (input)="filterLicenceNo()">
                             </div>
                        </div> -->
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          	<div class="table-fixed padding-top table-responsive" *ngIf="filteredTraderList != undefined">
                          	    <table  [mfData]="filteredTraderList "  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th i18n="@@loco:$1166"><mfDefaultSorter by="" >Trader Name</mfDefaultSorter></th>
                        				  			<th i18n="@@loco:$1582"><mfDefaultSorter by="" >Company Name</mfDefaultSorter></th>
                        				  			<th i18n="@@loco:$1932"><mfDefaultSorter by="" >Licence No</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			<td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf2.data;let i= index' (click)="onSelTraderForPostTrade(post,i)" style="cursor:pointer" [class.active]="i == selTraderPostIndex">
                    					  			<td>{{post.lcamFullName}}</td>
                    					  			<td>{{post.lcamAgenCompName}}</td>
                    					  			<td>{{post.lcamAgenTradLicenno}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelTraderPostOK()">Ok</button>
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hidePostTraderPopup()">Cancel</button>
                      </div>
                    </div>
                	</div>
              </div>
              <div id="popup1" [className]="my_class5">
                	<div class="popup">
                    <div class="modal-content">
                      <div class="modal-header">
                  		    <div class="close" (click)="hideBagTypePopup()" ><img class="" src="assets/images/delete.png"></div>
                          <h4 class="modal-title" i18n="@@loco:$886">Bag Types</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <p class="col-xs-12"  i18n="@@loco:$886">Bag Type</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchBagType" (input)="filterBagType()">
                             </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          	<div class="table-fixed padding-top table-responsive" *ngIf="filteredBagTypes != undefined">
                          	    <table  [mfData]="filteredBagTypes"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th  i18n="@@loco:$886"><mfDefaultSorter by="" >Bag Type Description</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			<td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf2.data;let i= index' (click)="onSelBagType(post,i)" style="cursor:pointer" [class.active]="i == selectedBagType">
                    					  			<td>{{post.gmptm_desc}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelBagTypeOK()">Ok</button>
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideBagTypePopup()">Cancel</button>
                      </div>
                    </div>
                	</div>
              </div>

              <div id="popup4" [className]="my_class3">
                    <div class="popup">
                      <div class=" newContentPop ">
                        <div>Your token has expired.<br> Redirecting to login page...</div>
                      </div>

                    </div>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
