.searchImg{
	padding: 13px 15px;
	background-color: #00a65a;
	/* border-top: 0px solid #00a65a; */
}
.marginleft14{
	margin-left: 14px;
}
.marginright5{
  margin-right: 5px;
}

.searchImg{
	padding: 6px 0;
	background: #fff;
}

.box-body.paddingBox{padding: 10px;}
.popup{padding: 0;}
.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
div.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;
}
div.disabled .inactvBtn{
    background-color: #efefef;
		border-top: 1px solid #cfd0d1;
}
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
