<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">

            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj bold-title">
              Commodity Group Variety Report
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*Output Type</div>
              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value="">PDF</option>
                  <option value="">RTF</option>
                  <option value="">EXCEL</option>
                </select>
              </div>
              <div class=" col-sm-2 col-lg-2 col-md-2 col-xs-2 text-align-center">
                        <button type="button" class="btn btn-success">View Report</button>
                        <button type="button" class="btn btn-warning">Close</button>
                      </div>
                      <br>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
