<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
            <div class="panel panel-default">
              <div class="screen_header"><span>Sample Creation</span></div>
              <div class="panel-body">
                <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4">
                  <div id="popup6" [className]="my_class3">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Lot Date Mandatory To Search</div>
                    </div>
                  </div>
                     <p>Seller</p>
                     <div class="form-group res-btn">
                       <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchSellerName" (input)="onSeller()">
                     </div>
                      <p>Commodity</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCommodityName" (input)="onCommodity()">
                      </div>
                </div>
                <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4 ">
                  <p>Trader</p>
                   <div class="form-group res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchTraderName" (input)="onTrader()">
                   </div>
                   <p>Agent Name</p>
                    <div class="form-group res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite"  [(ngModel)]="matchAgentName" (input)="onAgentName()">
                    </div>
                   <br>
                </div>
                <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4 ">
                  <p>Company</p>
                   <div class="form-group res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite"  [(ngModel)]="matchCompanyName" (input)="onCompanyName()" >
                   </div>
                  <p>*Lot Date</p>
                  <div class="form-group res-btn">
                    <form #myForm="ngForm" novalidate>
                      <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                      [(ngModel)]="lotFromDate" required></my-date-picker>
                    </form>
                  </div>
                </div>
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                  <button type="button" class="btn btn-success" (click)="searchSample()">Search</button>
                  <button type="button" class="btn btn-warning" (click)="onResetSample()">Reset</button>
                </div>
              </div>
            </div>
              <div class=" ">
                <div class="table-fixed padding-top table-responsive">
                    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                      <thead>
                        <tr>
                          <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Seller Type</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Agent Name</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Company</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >No. of Bags</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Qty(kg)</mfDefaultSorter></th>
                          <th colspan="2"><mfDefaultSorter by="" >Qty in Quintal</mfDefaultSorter></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                    <td colspan="11" *ngIf="filteredSampleData.length==0" class="noDataDisp">No data to display</td>
                        </tr>
                        <tr *ngFor="let post of filteredSampleData">

                          <td>{{post.iled_lot_code}}</td>
                          <td *ngIf = "post.iled_impo_type == 'F'">Farmer</td>
                          <td *ngIf = "post.iled_impo_type == 'T'">Trader</td>
                          <td>{{post.frm_full_name}}</td>
                          <td *ngIf = "post.lcam_full_name != undefined ">{{post.lcam_full_name}}</td>
                          <td *ngIf = "post.lcam_full_name == undefined ">-</td>
                          <td *ngIf = "post.lcam_agen_comp_name != undefined ">{{post.lcam_agen_comp_name}}</td>
                          <td *ngIf = "post.lcam_agen_comp_name == undefined ">-</td>
                          <td>{{post.gmpmg_prod_name}}</td>
                          <td>{{post.gmptm_desc}}</td>
                          <td>{{post.iled_noof_bag}}</td>
                          <td>{{post.iled_qty}}</td>
                          <td>{{post.iled_gross_qty_quintal}}</td>
                          <td>
                            <button type="submit" class="btn btn-success" (click)="onSampleDetails(post)">Sample Details</button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                    <td colspan="11">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                        </tr>
                      </tfoot>
                  </table><!--TABLE ENDS-->
                </div><!--TABLE DIV ENDS HERE-->
              </div>

              <div id="popup1" [className]="my_class1">
                  <div class="popup" style="width: 46%;">
                    <div id="popup5" [className]="my_class2">
                      <div class="popup" >
                            <div  style="color:green;padding-bottom:10px;" >Sample Creation Saved Successfully</div>
                      </div>
                    </div>
                    <div id="popup5" [className]="my_class5">
                      <div class="popup" >
                            <div  style="color:red;padding-bottom:10px;" > Something Went Wrong</div>
                      </div>
                    </div>
                    <h5>Lot Code: {{lotCode}} / Commodity : {{commodityName}}</h5>
                    <h3>Sample</h3>
                    <div class="close" (click)="div_hide_sample()" ><img class="" src="assets/images/delete.png"></div>
                    <div class="row newContentPop" >
                       <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                         <flash-messages></flash-messages>
                       </div>
                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj " style="    padding-top: 0px;">
                         <button type="submit" class="btn btn-success" (click)="addRow()">Add </button>
                         <button type="submit" class="btn btn-warning" (click)="modifyRow()"> View/Modify Previous</button>
                       </div>
                      <!-- table -->
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12" *ngIf="defaultMode">
                        <div class="table-fixed padding-top table-responsive" style="overflow-y: scroll;overflow-x: unset;  height: 200px">
                            <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                              <thead>
                                <tr>
                                    <th><mfDefaultSorter by="" >Sr. No.</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Received Date</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >UOM</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Qty</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" ></mfDefaultSorter></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngIf = "rowArr.length ==0" class="noDataDisp">
                                  <td colspan="5" >No Row Added Yet</td>
                                </tr>
                                <tr *ngFor = "let post of rowArr;let i =index" (click)="onSelAddedRow(i,post,rowArr)" [class.active]="i == selectedSampleRow">
                                  <td style="    width: 10%;">{{i+1}}</td>
                                  <td style="    width: 23%;">
                                    <form #myForm="ngForm"  novalidate>
                                      <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date"
                                      [(ngModel)]="fromDateInsert[i]" required  ></my-date-picker>
                                    </form>
                                  </td>
                                  <td style="    width: 20%;">
                                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onUOM($event.target.value,i)">
                                          <option value="444" [selected]="post.UOM == '444'">Kilo Gram</option>
                                          <option value="888" [selected]="post.UOM == '888'">Milli Gram</option>
                                          <option value="2016040220980000001" [selected]="post.UOM == '2016040220980000001'">Gram</option>
                                    </select>
                                  </td>
                                  <td style="    width: 20%;">
                                    <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="quantityValue[i]" min="1">
                                  </td>
                                  <td style="    width: 20%;" >
                                    <button type="submit" class="btn btn-warning" (click)="deleteRow(i)"> Delete</button>
                                  </td>
                                  <!-- [class.disabled]="selectedSampleRow == -1" -->
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                            <td colspan="4">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                                </tr>
                              </tfoot>
                          </table><!--TABLE ENDS-->
                        </div><!--TABLE DIV ENDS HERE-->
                    </div>
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12" *ngIf="modifyMode">
                        <div class="table-fixed padding-top table-responsive" style="overflow-y: scroll;overflow-x: unset;  height: 200px">
                            <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                              <thead>
                                <tr>
                                    <th><mfDefaultSorter by="" >Sr. No.</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Received Date</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >UOM</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Qty</mfDefaultSorter></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngIf = "previousSampleDtls.length ==0" class="noDataDisp">
                                  <td colspan="5" >No Row Added Yet</td>
                                </tr>
                                <tr *ngFor = "let post of previousSampleDtls;let i =index" (click)="onSelModifyRow(i,post,rowArr)" [class.active]="i == selectedModifyRow">
                              <td style="    width: 10%;">{{i+1}}</td>
                              <td style="    width: 10%;" ><input type="checkbox" value="" (change)="onModifyCheck(i,$event.target.checked)" ></td>
                              <td style="    width: 23%;" [class.disabled]="previousSampleDtls[i].checked == false">
                                <form #myForm="ngForm"  novalidate>
                                  <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date"
                                  [(ngModel)]="fromDateModify[i]" required  ></my-date-picker>
                                </form>
                              </td>
                              <td style="    width: 20%;" [class.disabled]="previousSampleDtls[i].checked == false">
                                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="modifyUOM($event.target.value,i)">
                                      <option value="444" [selected]="post.gmumUomId == '444'">Kilo Gram</option>
                                      <option value="888" [selected]="post.gmumUomId == '888'">Milli Gram</option>
                                      <option value="2016040220980000001" [selected]="post.gmumUomId == '2016040220980000001'">Gram</option>
                                </select>
                              </td>
                              <td style="    width: 20%;" [class.disabled]="previousSampleDtls[i].checked == false">
                                <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="quantityModValue[i]" min="1">
                              </td>
                            </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                            <td colspan="4">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                                </tr>
                              </tfoot>
                          </table><!--TABLE ENDS-->
                        </div><!--TABLE DIV ENDS HERE-->
                    </div>

                    </div>
                    <div class="modal-footer" >
                      <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="saveSampleData()" *ngIf="defaultMode">Save</button>
                      <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="saveModifySampleData()" *ngIf="modifyMode">Save</button>
                      <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide_sample()">Cancel</button>
                    </div>
                  </div>
              </div>
              <div id="popup4" [className]="my_class4">
                    <div class="popup">
                      <div class=" newContentPop ">
                        <div>Your token has expired.<br> Redirecting to login page...</div>
                      </div>

                    </div>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
