
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box box-body col-lg-12 col-md-12 col-xs-12 col-sm-12">

            <div class="dropdown inline col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;font-size: 22px; width:100%;text-overflow: ellipsis;overflow: hidden;">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 paddingNo textWhite" style="margin-top: 10px;float: left;text-overflow: ellipsis;overflow: hidden;">All Commodity Bid Listing</div>
               <!-- <div style="    width: 30%;float: right;"> -->
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comSide-adj paddingNo" data-placement="down" title="search your product">
                 <select  class="form-control  input-adj inputDark inputWhite" (change)="onProdSelection(prod.value)" #prod>
                   <!-- <option *ngFor="let post of commodityBidData" value={{post.gmpmgProdName}} selected >{{post.gmpmgProdName}}</option> -->
                   <option selected>All</option>
                   <option *ngFor="let post of resultUniq" value={{post}}>{{post}}</option>
                 </select>
               </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comSide-adj">
                  <button class=" btn btn-fw white success input-adj btn-success outlineNo" i18n="@@loco:$1132" (click)="refresh()" data-placement="down" title="click to refresh" style="text-overflow: ellipsis;overflow:hidden"><img src="assets/images/refresh-arrow.svg" style="height:26px;width:26px;padding-right:8px;"><span style="padding-right:16px;">Refresh</span></button>
                </div>
                <div class=" col-lg-2 col-md-2  col-sm-8 col-xs-8  paddingNo comSide-adj1">
                  <button class="btn btn-fw white accent input-adj btn-info outlineNo" i18n="@@loco:$1614" (click)="addPrefer()" data-toggle="modal" data-target="#popupPrefered" style="text-overflow: ellipsis;overflow: hidden;" data-placement="down" title="add to preferred commodity" [disabled]="disableConfirm">Add to preferred commodity</button>
                </div>
              <!-- </div> -->
            <!--      </div> -->
          </div>
          <!-- Modal for Succesfullful message -->
          <div class="modal fade" id="popupPrefered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="data.status=='1'">

            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  Sucessfully added
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
        </div>
          <!--TABLE COLLAPSING-->
          <div class="table-fixed padding-top table-responsive col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <table  [mfData]="filteredData" #mf1="mfDataTable" [mfRowsOnPage]="10" class="display table table-striped" style="padding-bottom: 12px;    font-size: 76%!important;    color: #2f2f2f;" cellspacing="0" width="100%" >
              <tbody>
                <tr>
                  <th></th>
                  <th i18n="@@loco:$1089">APMC</th>
                  <th i18n="@@loco:$1090">Commodity Details</th>
                  <th i18n="@@loco:$1114">No of Bags</th>
                  <th i18n="@@loco:$1115">Quantity <br>(Kg.)</th>
                  <th i18n="@@loco:$1119">Min Bid <br>(Rs.)</th>
                  <th i18n="@@loco:$1107">Last Bid <br>(Rs.)</th>
                  <th i18n="@@loco:$1587">Trade Result</th>
                  <th i18n="@@loco:$1100">Certificate</th>
                  <th i18n="@@loco:$1117">Re-Bid Allowed</th>
                  <th>Time Remaining</th>
                  <th i18n="@@loco:$1093">Start & End Date</th>
                  <!-- <th i18n="@@loco:$1095">End Date</th> -->
                  <th i18n="@@loco:$1118">Extended Time</th>
                  <th i18n="@@loco:$1026">Seller Details</th>
                </tr>
                <tr>
                  <td colspan="14" *ngIf="mf1.data.length=='0'" class="noDataDisp" style="font-size:14px">No data to display</td>
                </tr>
                <tr *ngFor='let post of mf1.data;let i = index' [attr.data-index]="i" id="cdata_{{i}}">
                  <td data-placement="down" title="click to add"><a style="cursor:pointer"  (click)="chngImg(post,i)"><img [src]="post.imgsrc"></a></td>
                  <td>{{post.adoumOprName}}</td>
                  <td>
                    <table width="125px" padding="0">
                    <tr>
                    <td colspan="2"> <b>{{post.gmpmgProdName}}</b></td>
                      <!-- <div style="font-size: 12px;"> -->
                    </tr>
                    <tr style="line-height: 20px;">
                      <td i18n="@@loco:$1091" ><div style="font-weight: bold;color:green;" class="darkgreen">Lot Code:</div></td>
                      <td>{{post.abcLotID}}</td>
                      <!-- <div style="font-weight: bold;color:green;font-size: 12px;"> -->
                      <!-- <div style="font-size: 12px;"> -->
                    </tr>
                    <tr style="line-height: 20px;">
                      <td i18n="@@loco:$1158"><div style="font-weight: bold;color:green;" class="darkgreen">Org Id:</div></td>
                      <td>{{post.abcOrgID}}</td>
                    </tr>
                  </table>
                  </td>
                  <td>{{post.iledNoofBag | slice : 0:3}}</td>
                  <td>{{post.iledQTY | slice : 0:8}}</td>
                  <td>{{post.abcMspBidRate}}</td>
                  <td>{{post.maxOpenBidValue}}</td>
                  <td><button type="button" class="btn btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1889" style="font-size: 13px;" data-placement="down" title="view result" (click)="seeTradeResult()">Show</button></td>
                  <td><button type="button" class="btn btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#bidnow3" i18n="@@loco:$1889" style="font-size: 13px;" data-placement="down" title="view certificate" (click)="viewCertificate()">View</button></td>
                  <td>
                    <span *ngIf="post.abcSubMultBid=='Y'"><img src="assets/images/checked.png" style="padding-left:25px;">
                      </span>
                      <span *ngIf="post.abcSubMultBid=='N'"><img src="assets/images/unchecked.png" style="padding-left:25px">
                      </span>

                  </td>
                  <td style="width:100px;"><app-timer (stopBid)="test($event, i)" [inputDate]="post.abcEndDate" >Loading...</app-timer>{{message}}</td>
                  <!-- <td style="width:121px;">{{post.abcStartDate}}</td>
                  <td style="width:121px;">{{post.abcEndDate}}</td> -->
                  <td style="padding-right: 0;width: 149px;">
                    <table>
                      <tr>
                        <td>
                          <span style="font-weight: bold;color:green;" class="darkgreen">Start: </span>{{post.abcStartDate | date:'y-M-d HH:mm a'}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span style="font-weight: bold;color:green;" class="darkgreen">End: </span>{{post.abcEndDate | date:'y-M-d HH:mm a'}}
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>{{post.abcExtendedEndTime}}</td>
                  <td>
                    <tr>
                      <td>{{post.seller}}</td>
                    </tr>
                    <tr>
                      <td>{{post.villageName}}</td>
                    </tr>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="5">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
              <!-- Popup for certificate -->
              <div id="certificate" [className]="my_class">
                <div class="popup adjpopup" >
                  <h2>Certificate</h2>
                  <div class="close" (click)="offComCertifiacate()" ><img class="" src="assets/images/delete.png"></div>
                  <div class="content newContentPop">
                    <div class="table-responsive table-fixed padding-top" style="padding-top:25px">
                      <table  [mfData]="certificateData" #mf2="mfDataTable" [mfRowsOnPage]="6" class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>

                        <tr class="tableDarkHeader">
                          <th><mfDefaultSorter by="docno" i18n="@@loco:$1605">Document number</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="srNo" i18n="@@loco:$1606">Serial number</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="paramName" i18n="@@loco:$1600">Test parameter</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="assVal" i18n="@@loco:$1607">Test value</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="valChar" i18n="@@loco:$1607">Test unit</mfDefaultSorter></th>
                        </tr>
                      </thead>
                      <tbody id="certDark">
                        <tr>
                          <td colspan="5" *ngIf="mf2.length=='0'" class="noDataDisp">No data to display</td>
                        </tr>
                        <tr  *ngFor='let post of mf2.data'>
                          <td>{{post.docno}}</td>
                          <td>{{post.srNo}}</td>
                          <td>{{post.paramName}}</td>
                          <td>{{post.assVal}}</td>
                          <td>{{post.valChar}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
            </table>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </section>
  </div>
  <!-- /.row -->
</section>
</div>
