<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Bag Type</div>
            </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                      <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                        <div class="">
                          <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                        </div>
                      </div>
                  </div>
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                        			<th><mfDefaultSorter by="" >Description</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >Quantity</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >Unit</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >Unit Code</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >Defunct</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="7" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>
                          			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                                </td>
                          			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                                </td>
                          			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                    <option value="">GRAM GM</option>
                                    <option value="">KILOGRAM KG</option>
                                    <option value="">MILLIGRAM MGM</option>
                                    <option value="">QUINTAL QUI</option>

                                  </select>
                                </div>
                                </td>
                          			<td></td>
                          			<td><input type="checkbox" name="vehicle" value=""></td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="7">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>



            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
