
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">General Type Details</div>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Description</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>

               <br>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">General Details</div>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <!-- Table -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn">View</button>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn">Add</button>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn">Delete</button>
                  </div>
                </div>
            </div>
            <!-- Table -->

              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                				  			<th><mfDefaultSorter by="" >*Code</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >*Description</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="2" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                             </td>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                               </div>
                             </td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="2">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>

            </div>
            <!-- Buttons -->
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-warning">Reset</button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
