<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!-- 1st column -->
            <div id="popup5" [className]="my_class5">
              <div class="popup" >
                    <div  class="alert alert-danger" > Something Went Wrong</div>
              </div>
            </div>
            <div id="popup5" [className]="my_class6">
              <div class="popup" >
                    <div  class="alert alert-danger" >Please Select State First</div>
              </div>
            </div>
            <div id="popup5" [className]="my_class7">
              <div class="popup" >
                    <div class="alert alert-danger" >Please Enter The Operating Unit Code</div>
              </div>
            </div>
            <div id="popup5" [className]="my_class8">
              <div class="popup" >
                    <div class="alert alert-danger" >Please Enter The Operating Unit Name</div>
              </div>
            </div>
            <div id="popup5" [className]="my_class9">
              <div class="popup" >
                    <div class="alert alert-danger" >Please Enter Main Operating Unit</div>
              </div>
            </div>
            <!-- Save Message Popup Starts  -->
            <div [className]="my_class10" *ngIf= "postSaveRes != undefined">
            <div class="popup">
              <div class="modal-content">
                <div class="modal-header">
                    <div class="close" (click)="hideMessagePopUp()" ><img class="" src="assets/images/delete.png"></div>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <p class="col-xs-12" style="color:red" *ngIf="postSaveRes.status == 0">{{saveMsg}}</p>
                    <p class="col-xs-12" style="color:green" *ngIf="postSaveRes.status == 1">{{saveMsg}}</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideMessagePopUp()">OK</button>
                </div>
              </div>
            </div>
          </div>
            <!-- Save Message Popup Ends -->
<!-- Opr view popup starts -->
            <div [className]="my_class11">
                <div class="popup" style="width: 60%;">
                  <div class="modal-content">
                    <div class="modal-header">
                        <div class="close" (click)="hideViewPopup()" ><img class="" src="assets/images/delete.png"></div>
                        <h4 class="modal-title" i18n="@@loco:$1166">Operating Unit Master</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div>
                             <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                               <p class="col-xs-12" i18n="@@loco:$1166">Operating Unit Code</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchOprUnitCode" (input)="filterOprUnitCode()" >
                             </div>
                        </div>
                        <div>
                             <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                               <p class="col-xs-12" i18n="@@loco:$1582">Operating Unit Name</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchOprUNitName" (input)="filterOprUnitName()">
                             </div>
                        </div>
                        <div>
                             <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                               <p class="col-xs-12" i18n="@@loco:$1582">City</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCity" (input)="filterCity()">
                             </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="table-fixed padding-top table-responsive" *ngIf="filteredOprUnitList != undefined">
                              <table  [mfData]="filteredOprUnitList"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                <thead>
                                  <tr>
                                      <th i18n="@@loco:$1166"><mfDefaultSorter by="" >Operating Unit Code</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1582"><mfDefaultSorter by="" >Operating Unit Name</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >City</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >Email Id</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >S.S.I Registration No.</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >Main Operating Unit</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >Currency</mfDefaultSorter></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                              <td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                                  </tr>
                                  <tr *ngFor='let post of mf2.data;let i= index'>
                                    <td style="cursor:pointer"><a (click)="onSelOprUnit(post)">{{post.adoumCode}}</a></td>
                                    <td>{{post.adoumOprname}}</td>
                                    <td>{{post.adoumCity}}</td>
                                    <td>{{post.adoumEmail}}</td>
                                    <td>{{post.adoumSsi}}</td>
                                    <td>{{post.adoumMainOu}}</td>
                                    <td>{{post.acmCode}}</td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td colspan="7">
                                      <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                  </tr>
                                </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Opr view Popup ends -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Operating Unit Details</div>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Operating Unit Code</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="oprUnitCode" maxlength="6">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Name Of Premises/Road</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="nameOfPremises">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Village/City</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="villageName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Phone No.</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="phNo" maxlength="10">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Main Operating Unit	</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="mainOprUnit">
              </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  searchImgBig" (click)="div_show1()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bank Account</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="bankAccount" maxlength="20">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Security Deposit %	</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="secDepo">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">State</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="stateName">
              </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  searchImgBig" (click)="div_show2()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
              <div class="checkbox checkbox-info checkbox-circle">
                      <input id="checkbox8" type="checkbox" (click)="onAllowPayment($event.target.checked)">
                      <label for="checkbox8" class="color-notPureWhite">
                          Allow Online Payment
                      </label>
                  </div>
              </div>
            </div>
            <!-- 2nd column -->
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Operating Unit Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="oprUnitName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Area/Location</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="areaName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Pin Code</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pinCode" maxlength="6">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Email Id</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="emailId">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bank Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="bankName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">IFSC Code</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="ifscCode" maxlength="20">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Operating Unit Type</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <!-- <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="oprUnitType"> -->
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (change)="onOpUnitType(unit.value)" #unit  >
                  <option value="S" >State</option>
                  <option value="A" selected>APMC</option>
                </select>
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">District</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="districtName">
              </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1  searchImgBig" (click)="div_show3()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>
            </div>
            <!-- Nav tabs -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="panel with-nav-tabs panel-default">
                  <div class="panel-heading">
                          <ul class="nav nav-tabs centerTabs">
                              <li class="active"><a href="#tab1default" data-toggle="tab">Tax Details</a></li>
                              <li><a href="#tab2default" data-toggle="tab">Personal Information</a></li>
                          </ul>
                  </div>
                  <div class="panel-body">
                      <div class="tab-content">
                        <!-- tax details -->
                          <div class="tab-pane fade in active" id="tab1default">
                            <!-- 1st column -->
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">PAN No.</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="panNo">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">VAT</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vat">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TDS Circle	</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tdsCircle">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Professional Tax Registration</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="profTax">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Service Tax No</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="serviceTax">
                              </div>
                              <br>
                            </div>
                            <!-- 2nd column -->
                            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TAN</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tan">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TCAN No.</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tcanNo">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TDCAN No.</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tdcanNo">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Place</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="placeName">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">S.S.I. REGISTRATION NO.</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="ssiRegNo">
                              </div>
                              <br>
                            </div>
                          </div>
                        <!-- Personal information -->
                          <div class="tab-pane fade" id="tab2default">
                            <div class="col-sm-4col-lg-4 col-md-4 col-xs-4 toolbar-adj">
                              <!-- 1st column -->
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Person Name</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="personName">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Flat No</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pFlatNo">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Area</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pAreaName">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Pin Code</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pPinCode" maxlength="6">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Admin Name</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="adminName">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Other Name</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="otherName">
                              </div>
                              <br>
                            </div>
                            <!-- 2nd column -->
                            <div class="col-sm-4col-lg-4 col-md-4 col-xs-4 toolbar-adj">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Designation</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="designation">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Name of Premises</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pNameOfPremi">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Village/City</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pVillage">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Email Id</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pEmailId">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Admin Contact</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pAdminContact" maxlength="10">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Other Contact</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pOtherContact" maxlength="10">
                              </div>
                              <br>
                            </div>
                            <!-- 3rd column -->
                            <div class="col-sm-4col-lg-4 col-md-4 col-xs-4 toolbar-adj">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Phone No.</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pPhoneNum" maxlength="10">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Road</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pRoad">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">State</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn ">
                                <!-- padding-bottom82" -->
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pState">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Admin Email</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pAdminEmail">
                              </div>
                              <br>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Other Email</div>
                              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pOtherEmail">
                              </div>
                              <br>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <!-- Buttons -->
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                <button type="button" class="btn btn-success" (click)="onSaveOprUnitMaster()" *ngIf="!showOnSaveSuccess">Save</button>
                 <button type="button" class="btn btn-warning" (click)="onResetOprUnitMaster()"> Reset</button>
                 <button type="button" class="btn btn-success" *ngIf="showOnSaveSuccess">Modify</button>
                 <button type="button" class="btn btn-success" (click)="onViewOprUnitMaster()"  *ngIf="showOnSaveSuccess">View</button>
                 <!-- *ngIf="showOnSaveSuccess" -->
              </div>
              <!-- main operating unit popup -->
              <div id="popup1" [className]="my_class1">
                	<div class="popup">
                		<h4>Main Operating  Unit</h4>
                		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                		<div class="newContentPop">
		                   <br>
                       <div class="row">
                         <div class="col-sm-4 col-xs-12">
                           <p>Main OU</p>
                           <div class="form-group res-btn">
                             <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                           </div>
                         </div>
                           <div class="col-sm-4 col-xs-12">
                             <p>Operating Unit Code	</p>
                             <div class="form-group res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                             </div>
                           </div>
                             <div class="col-sm-4 col-xs-12">
                               <p>Operating Unit Name	</p>
                               <div class="form-group res-btn">
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                               </div>
                             </div>
                       </div>
        		           <br>
                       <div class="row">
                         <div class="col-xs-12">
                          	<div class="table-fixed padding-top table-responsive">
                          	    <table  [mfData]="filtMainOprUnitList"  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th><mfDefaultSorter by="" >Operating Unit Name</mfDefaultSorter></th>
                        				  			<th><mfDefaultSorter by="" >Operating Unit Code</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			         <td colspan="7" *ngIf="mf1.data.length== 0" class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf1.data;let i= index' [class.active]="i == selectedOprUnit" style="cursor:pointer" (click)="selOprUnit(post,i)">
                    					  			<td>{{post.adoumOprname}}</td>
                    					  			<td>{{post.adoumOprcd}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                                			<td colspan="7">
                                			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table><!--TABLE ENDS-->
                          	</div><!--TABLE DIV ENDS HERE-->
                          </div>
                       </div>
                		</div>
                    <div class="modal-footer" >
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" (click)="onSelOprUnitOK()">Ok</button>
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                    </div>
                	</div>
              </div>
              <!--Pop of state  starts-->
              <div id="popup1" [className]="my_class2">
                              	<div class="popup">
                              		<h4>State</h4>
                              		<div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="newContentPop">
              		                   <br>
                                    <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <p>Name</p>
                                         <div class="form-group  res-btn">
                                           <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                         </div>
                                      </div>
                                    </div>
                   <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]="filtStateList"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                      				  		<th><mfDefaultSorter by="" >Name</mfDefaultSorter></th>
                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <tr>
                        			<td colspan="7" *ngIf="mf2.data.length == 0" class="noDataDisp">No data to display</td>
                        		      </tr>
                        		      <tr *ngFor='let post of mf2.data; let i= index' [class.active]="i == selectedState" style="cursor:pointer" (click)="selState(post,i)">
                  					  			<td>{{post.gmsmStateDesc}}</td>
                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                        			<td colspan="7">
                        			  <mfBootstrapPaginator></mfBootstrapPaginator>
                        			</td>
                        		      </tr>
                        		    </tfoot>
                        		  </table><!--TABLE ENDS-->
                        	   </div><!--TABLE DIV ENDS HERE-->
                            </div><!--Full table ends here-->
                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelStateOK()">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of District  starts-->
              <div id="popup1" [className]="my_class3">
                              	<div class="popup">
                              		<h4>District</h4>
                              		<div class="close" (click)="div_hide3()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="newContentPop">
                                     <div class="row">
                                       <div class="col-xs-12">
                                         <p>Name</p>
                                       <div class="form-group res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                                     </div>
                                   </div>
                                      <br>
                                      <!-- Table starts here -->
                   <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]="filtDistList"  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                      				  			<th><mfDefaultSorter by="" >Name</mfDefaultSorter></th>
                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <tr>
                        			         <td colspan="7" *ngIf="mf3.data.length== 0" class="noDataDisp">No data to display</td>
                        		      </tr>
                        		      <tr *ngFor='let post of mf3.data;let i= index' [class.active]="i == selectedDist" style="cursor:pointer" (click)="selDist(post,i)">
                  					  			<td>{{post.gmdmDistDesc}}</td>
                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                              			<td colspan="7">
                              			  <mfBootstrapPaginator></mfBootstrapPaginator>
                              			</td>
                        		      </tr>
                        		    </tfoot>
                        		</table><!--TABLE ENDS-->
                        	</div><!--TABLE DIV ENDS HERE-->
                  </div><!--Full table ends here-->
                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelDistOK()" >Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide3()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <div id="popup4" [className]="my_class4">
                    <div class="popup">
                      <div class=" newContentPop ">
                        <div>Your token has expired.<br> Redirecting to login page...</div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
