<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
            <div class="panel panel-default">
              <div class="screen_header"><span>Assaying</span></div>
              <div class="panel-body">
                <div class="row">
                  <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Lot Code</div>
                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="selLot">
                          </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                      <br>
                  </div>
                  <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Commodity</div>
                     <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                       <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="commodityName" [disabled]="true">
                     </div>
                     <br>
                  </div>
                  <div class=" col-sm-4 col-xs-4 col-md-4 col-lg-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Sample Code</div>
                     <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                       <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="selectedSampleCode" [disabled]="(selLot == undefined) || (selLot == '')">
                       <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg sample pull-right" (click)="openSamplePopUp()">
                         <img src="assets/images/search.png">
                       </div>
                     </div>
                     <div id="popup5" [className]="my_class5">
                       <div class="popup" >
                             <div  style="color:red;padding-bottom:10px;" >Please Select Sample Code First</div>
                       </div>
                     </div>
                     <div id="popup6" [className]="my_class6">
                       <div class="popup" >
                             <div  style="color:red;padding-bottom:10px;" >Please Select Lot Code First</div>
                       </div>
                     </div>
                     <div id="popup7" [className]="my_class7">
                       <div class="popup" >
                             <div  style="color:red;padding-bottom:10px;" >Please Enter All The Measured Values.</div>
                       </div>
                     </div>
                     <div id="popup8" [className]="my_class8" *ngIf="savedRes != undefined">
                       <div class="popup" >
                             <div  style="color:green;padding-bottom:10px;" *ngIf="savedRes.status == '1'" >Assaying For The Lot Created Successfully</div>
                             <div  style="color:red;padding-bottom:10px;" *ngIf="savedRes.status == '0'" >Something Went Wrong</div>
                       </div>
                     </div>
                     <div id="popup9" [className]="my_class9">
                       <div class="popup" >
                             <div  style="color:red;padding-bottom:10px;" >Please Enter The Measured Value Within The Range</div>
                       </div>
                     </div>
                     <div id="popup9" [className]="my_class10">
                       <div class="popup" >
                             <div  style="color:red;padding-bottom:10px;" >Please Enter Only Numeric Measured Value</div>
                       </div>
                     </div>
                     <div id="popup9" [className]="my_class11">
                       <div class="popup" >
                             <div  style="color:red;padding-bottom:10px;" >Something Went Wrong</div>
                       </div>
                     </div>
                     <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  <div class="padding-top table-responsive" style="overflow-y: scroll;height: 350px;">
                      <table  [mfData]="listParamterData"  #mf="mfDataTable"   class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>
                          <tr>
                              <th><mfDefaultSorter by="" >Parameter Name</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="" >Range1</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="" >Range2</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="" >Range3</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="" >*Measured Tables</mfDefaultSorter></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf = "mf.data.length == 0">
                            <td colspan="5"  class="noDataDisp">No data to display</td>
                          </tr>
                          <tr *ngFor='let post of mf.data;let k=index'>
                            <td>{{post.gmpamparamdesc}}</td>
                            <td>{{post.gmpamrange1}}</td>
                            <td>{{post.gmpamrange2}}</td>
                            <td>{{post.gmpamrange3}}</td>
                            <td *ngIf= "post.gmpamtype == 'N'">
                              <input type="text" class="form-control input-adj inputDark inputWhite"  placeholder="Measured Values" (change)="onMeasureValue(k,$event.target.value)" id = "measureAmount_{{k}}">
                            </td>
                            <td *ngIf= "post.gmpamtype == 'F'">
                              <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onMeasureValue(k,$event.target.value)">
                                    <option value="{{post.gmpamrange1}}">{{post.gmpamrange1}}</option>
                                    <option value="{{post.gmpamrange2}}">{{post.gmpamrange2}}</option>
                                    <option value="{{post.gmpamrange3}}">{{post.gmpamrange3}}</option>
                              </select>
                            </td>

                          </tr>
                        </tbody>
                        <!-- <tfoot>
                          <tr>
                      <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                      </td>
                          </tr>
                        </tfoot> -->
                    </table><!--TABLE ENDS-->
                  </div><!--TABLE DIV ENDS HERE-->
                </div>
            </div>
            <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class4">
                  <div class="popup">
                    <div class=" newContentPop errorPopup">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>
                  </div>
              </div>
            <!--popup ends-->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
              <button type="submit" class="btn btn-success" (click)="onSaveAssaying()">Save</button>
              <button type="submit" class="btn btn-warning" (click)="resetAssaying()"> Reset</button>
            </div>
            <!-- Popup for lotcode -->
            <div id="popup1" [className]="my_class1">
              	<div class="popup">
                  <div class="panel panel-default assayingPopup">
                    <div class="panel-heading">
                      Lot Code
                  		<div class="close" (click)="div_hide()" ><img class="" src="assets/images/delete.png"></div>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                         <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12  res-btn">
                            <p>Lot From Date</p>
                           <form #myForm="ngForm" novalidate>
                             <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date"
                             [(ngModel)]="fromDateInsert" required ></my-date-picker>
                           </form>
                         </div>
                         <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12  res-btn">
                           <p>Lot To Date</p>
                           <form #myForm="ngForm" novalidate>
                             <my-date-picker name="mydate2" [options]="myDatePickerOptions" placeholer="Pick date"
                             [(ngModel)]="toDateInsert" required></my-date-picker>
                           </form>
                         </div>
                       </div>
                         <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 text-align-center">
                          <button type="submit" class="btn btn-success" (click)="onSearchLotCode()">Search</button>
                          <button type="submit" class="btn btn-warning" (click)="onLotCodeReset()">Reset</button>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                          <flash-messages></flash-messages>
                        </div>
                        <div class="row">
                           <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 res-btn">
                             <p>Lot Code</p>
                             <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="lotCodeFilter"  (input)="onLotCodeFilter()">
                           </div>
                            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            	<div class="table-fixed padding-top table-responsive">
                            	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                            		    <thead>
                            		      <tr>
                          				  			<th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                          				  			<th><mfDefaultSorter by="" >Lot Date</mfDefaultSorter></th>
                            		      </tr>
                            		    </thead>
                            		    <tbody>
                            		     <tr *ngIf="filteredData.length == 0">
                            			         <td colspan="2"  class="noDataDisp">No data to display</td>
                            		      </tr>
                            		      <tr *ngFor="let post of filteredData;let i = index" (click)="selectedLot(post,i)"
                                      [class.active]="i == selectedRow" style="cursor:pointer">
                      					  			<td>{{post.iledlotcode}}</td>
                      					  			<td>{{post.lotdate | date :"dd/MM/yyyy"}} </td>
                            		      </tr>
                            		    </tbody>
                            		    <tfoot>
                            		      <tr>
                            			<td colspan="2">
                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                            			</td>
                            		      </tr>
                            		    </tfoot>
                            		</table>
                            	</div>
                          </div>
                      </div>
                    </div>
                  </div>
              		<!-- <h2>Lot Code</h2> -->

                  <div class="modal-footer" >
                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="selectedLotRow()">Ok</button>
                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide()">Cancel</button>
                  </div>
              	</div>
            </div>


            <!-- Popup for sample id -->
            <div id="popup1" [className]="my_class2">
              <div class="popup">
                <div class="modal-content">
                  <div class="modal-header">
                    Sample Code
                    <div class="close" (click)="div_hide_sample()" ><img class="" src="assets/images/delete.png"></div>
                  </div>
                  <div class="modal-body">
                      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top10">Sample Id</div> -->
                      <div class="form-group row res-btn">
                        <label class="col-xs-6 col-md-3">Sample Id</label>
                        <input type="text" class="col-xs-6 col-md-8 inputDark " [(ngModel)]="sampleCodeFilter" (input)="onSampleCodeFilter()">
                      </div>
                       <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                         <flash-messages></flash-messages>
                       </div>
                       <div>
                        <!-- <button type="submit" class="btn btn-success" (click)="onSampleCodeFilter()">Search</button>
                        <button type="submit" class="btn btn-warning" (click)="onSampleIdReset()">Reset</button> -->
                        <div class="table-fixed padding-top table-responsive" style="overflow-x: inherit;">
                            <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-popup-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                              <thead>
                                <tr>
                                    <th><mfDefaultSorter by="" >Sample ID</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Lot Id</mfDefaultSorter></th>
                                </tr>
                              </thead>
                              <tbody>
                               <tr *ngIf="sampleIdData != undefined">
                                     <td colspan="2" *ngIf="sampledFilteredData.length=='0'" class="noDataDisp">No data to display</td>
                                </tr>
                                <tr *ngFor="let post of sampledFilteredData;let i = index" (click)="selectedSample(post,i)"
                                [class.active]="i == selectedSampleRow" style="cursor:pointer;">
                                  <td>{{post.iledsampleid}}</td>
                                  <td>{{post.gmpmgprodname}}</td>
                                  <td>{{post.iledlotid}}</td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                            <td colspan="2">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                                </tr>
                              </tfoot>
                          </table>
                        </div>

                      </div>
                    <div class="modal-footer" >
                      <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="selectedAssayingSample()">Ok</button>
                      <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide_sample()">Cancel</button>
                    </div>
                   </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
