.searchImg{
	padding: 7px 7px;
	background: #fff;
}

.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
.sample{
	    margin: -34px 0px 0px 0px;
			background: #eee;
}
.disabled {
    cursor: not-allowed;
}
.paddingBox{padding: 10px;}
.table.table-striped{border: 1px solid #ddd;box-shadow: 0px 0px 1px #ddd; border-radius: 5px;}
.table.table-striped thead{background: #f5f5f5;}
.table.table-striped thead th{color: #000; font-weight: 400;}
a.text-nowrap{color: #000 !important; font-weight: 400;}

.assayingPopup{}
.mydp, .mydp .headertodaybtn { height: 36px!important;}
.selectiongroup .selbtngroup { height: 30px!important;}

.mydp, .mydp .headertodaybtn{ height: 36px;}
.table-fixed{height: 200px;}
.table-popup-striped{border: none;}
.popup{padding: 2px;}
.close {
    top: 7px;
    right: 15px;
}
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
