
.table>tbody>tr>td{font-size: 12px;}
.paddingBox{padding: 10px;}

.table.table-striped{border: 1px solid #ddd;box-shadow: 0px 0px 1px #ddd; border-radius: 5px;}
.table.table-striped thead{background: #f5f5f5;}
.table.table-striped thead th{color: #000; font-weight: 400;}
a.text-nowrap{color: #000 !important; font-weight: 400;}
.input-adj {
    height: 35px;
}
.mydp, .mydp .headertodaybtn{ height: 36px;}

.popup{padding: 2px;}
/*#firstTable  tbody{
    overflow-y: scroll;
    display: table-caption;
    height: 100px;
}
#firstTable thead {
  position: absolute;
  width: 100%;
  top: 0;
}
.table-fixheader>div {
    height: 150px;
    overflow-y: auto;
}*/
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
