<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default paddingBox">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="panel panel-default">
              <div class="screen_header"><span i18n="@@loco:$1905">Agreement/Sale Bill Cancellation</span></div>
              <div class="panel-body">
                <div id="popup1" [className]="my_class2" *ngIf="saleBillSavedRes != undefined">
                  <div class="popup">
                        <div  class="alert alert-success" *ngIf= "saleBillSavedRes.status == '1'">Sale Bill Cancelled Successfully</div>
                        <div class="alert alert-danger" *ngIf= "saleBillSavedRes.status == '0'">Sale Bill Cancellation Unsuccessful</div>
                 </div>
                </div>
                <div id="popup1" [className]="my_class2" *ngIf="saleAgrSavedRes != undefined">
                  <div class="popup">
                        <div  class="alert alert-success" *ngIf= "saleAgrSavedRes.status == '1'">Sale Agreement Cancelled Successfully</div>
                        <div class="alert alert-danger" *ngIf= "saleAgrSavedRes.status == '0'">Sale Agreement Cancellation Unsuccessful</div>
                 </div>
                </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-3">
                      <p i18n="@@loco:$1937">*Search</p>
                      <div class="form-group  res-btn">
                        <select class="form-control input-adj inputDark inputWhite paddingNo" (change)="onSelecttypeCancellation(search.value)" #search>
                          <option value="AC" i18n="@@loco:$1933">Agreement Cancellation</option>
                          <option value="BC" selected i18n="@@loco:$1934">Sale Bill Cancellation</option>
                        </select>
                      </div>
                    </div>
                    <div *ngIf="shown1" class="col-xs-12 col-md-3">
                        <p i18n="@@loco:$1935">From Date</p>
                        <div class="form-group res-btn">
                          <form #myForm="ngForm" novalidate>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                            [(ngModel)]="saleBillFrmDate" required></my-date-picker>
                          </form>
                       </div>
                    </div>
                    <div *ngIf="shown1" class="col-xs-12 col-md-3">
                      <p  i18n="@@loco:$1936">To Date</p>
                      <div class="form-group res-btn">
                        <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                          [(ngModel)]="saleBillToDate" required></my-date-picker>
                        </form>
                      </div>
                    </div>
                    <div *ngIf="shown2" class="col-xs-12 col-md-3">
                      <p i18n="@@loco:$1935">From Date</p>
                      <div class="form-group  res-btn">
                        <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                          [(ngModel)]="saleAgrFrmDate" required></my-date-picker>
                        </form>
                      </div>
                    </div>
                    <div *ngIf="shown2" class="col-xs-12 col-md-3">
                      <p i18n="@@loco:$1936">To Date</p>
                      <div class="form-group res-btn">
                        <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                          [(ngModel)]="saleAgrToDate" required></my-date-picker>
                        </form>
                      </div>
                    </div>
                    <div *ngIf="shown1" class="col-xs-12 col-md-3">
                            <p>&nbsp;</p>
                            <button type="button" class="btn btn-success" (click)="onSaleBillSearch()" i18n="@@loco:$1937">Search</button>
                    </div>
                    <div *ngIf="shown2" class="col-xs-12 col-md-3">
                            <p>&nbsp;</p>
                            <button type="button" class="btn btn-success" (click)="onSaleAgrSearch()" i18n="@@loco:$1937">Search</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
                      <flash-messages></flash-messages>
                    </div>
                  </div>
                  <div class="row">
                    <div *ngIf="shown2" class=" col-xs-12">
                         	<div class="table-fixed padding-top table-responsive" style="overflow-x: hidden;  overflow-y: auto;height: 500px;">
                         	    <table  [mfData]="saleAgrList"  #mf1="mfDataTable"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                <!-- [mfRowsOnPage]="5"  -->
                         		    <thead>
                         		      <tr>
                       				  			<th i18n="@@loco:$477"><mfDefaultSorter by="" >Date</mfDefaultSorter></th>
                       				  			<th i18n="@@loco:$1938"><mfDefaultSorter by="" >Doc. No.</mfDefaultSorter></th>
                       				  			<th i18n="@@loco:$609"><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                       				  			<th i18n="@@loco:$1939"><mfDefaultSorter by="" >Lot No.</mfDefaultSorter></th>
                       				  			<th i18n="@@loco:$878"><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                       				  			<th i18n="@@loco:$1013"><mfDefaultSorter by="" >Net Qty.</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1015"><mfDefaultSorter by="" >Net Amt.</mfDefaultSorter></th>
                       				  			<th i18n="@@loco:$996"><mfDefaultSorter by="" >Cancel</mfDefaultSorter></th>
                         		      </tr>
                         		    </thead>
                         		    <tbody>
                         		      <tr>
                         			        <td colspan="10" *ngIf="mf1.data.length==0" class="noDataDisp">No data to display</td>
                         		      </tr>
                         		      <tr *ngFor='let post of mf1.data;let i= index'>
                   					  			<td>{{post.auchDate}}</td>
                   					  			<td>{{post.auchDocno}}</td>
                   					  			<td >{{post.frmFullName}}{{post.lcamFullName}}</td>
                   					  			<td>{{post.auchLotId}}</td>
                   					  			<td>{{post.gmpmgProdName}}</td>
                   					  			<td>{{post.auchNetWtqtl}}</td>
                                    <td>{{post.auchNetamt}}</td>
                   					  			<td>
                                      <input type="checkbox" value="" (change)="onCheckSaleAgrList(post,i,$event.target.checked)">
                                    </td>
                         		      </tr>
                         		    </tbody>
                         		    <!-- <tfoot>
                         		      <tr>
                               			<td colspan="10">
                               			  <mfBootstrapPaginator></mfBootstrapPaginator>
                               			</td>
                         		      </tr>
                         		    </tfoot> -->
                         		</table>
                         	</div>
                          <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                            <button type="button" class="btn btn-success" (click)="onSaveSaleAgrCancellation()" i18n="@@loco:$21">Save</button>
                            <button type="button" class="btn btn-warning"  (click)="onResetTab2()" i18n="@@loco:$1571">Reset</button>
                          </div>
                   </div>
                   <div *ngIf="shown1" class="col-xs-12">
                        	<div class="table-fixed padding-top table-responsive "  style="  overflow-y: auto;height: 500px;" >
                        	    <table  [mfData]="saleBillList"  #mf2="mfDataTable"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" id="firstTable" >
                        		    <thead>
                        		      <tr>
                      				  			<th i18n="@@loco:$1373"><mfDefaultSorter by="" >Invoice No.</mfDefaultSorter></th>
                      				  			<th i18n="@@loco:$1938"><mfDefaultSorter by="" >Doc. No.</mfDefaultSorter></th>
                      				  			<th i18n="@@loco:$609"><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                      				  			<th i18n="@@loco:$1939"><mfDefaultSorter by="" >Lot No.</mfDefaultSorter></th>
                      				  			<th i18n="@@loco:$878"><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                      				  			<th i18n="@@loco:$1205"><mfDefaultSorter by="" >Rate</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1013"><mfDefaultSorter by="" >Net Qty.</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1015"><mfDefaultSorter by="" >Net Amt.</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1336"><mfDefaultSorter by="" >Remarks</mfDefaultSorter></th>
                      				  			<th i18n="@@loco:$1926"><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <tr>
                        			         <td colspan="10" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td>
                        		      </tr>
                        		      <tr *ngFor='let post of mf2.data;let i= index'>
                  					  			<td>{{post.auchInvoiceDocno}}</td>
                  					  			<td>{{post.auchDocno}}</td>
                  					  			<td *ngIf= "post.auchImpType == 'T'">{{post.lcamFullName}}</td>
                  					  			<td *ngIf= "post.auchImpType == 'F'">{{post.frmFullName}}</td>
                                    <td>{{post.auchLotId}}</td>
                  					  			<td>{{post.gmpmgProdName}}</td>
                  					  			<td>{{post.auchRate}}</td>
                                    <td>{{post.auchNetWtqtl}}</td>
                                    <td>{{post.auchNetamt}}</td>
                  					  			<td>
                                        <textarea  class="form-control input-adj inputDark inputWhite"  (change)="onRemarks(post,$event.target.value)"></textarea>
                                    </td>
                  					  			<td>
                                      <input type="checkbox" value="" (change)="onCheckSaleBillList(post,i,$event.target.checked)">
                                    </td>
                        		      </tr>
                        		    </tbody>
                        		    <!-- <tfoot>
                        		      <tr>
                              			<td colspan="10">
                              			  <mfBootstrapPaginator></mfBootstrapPaginator>
                              			</td>
                        		      </tr>
                        		    </tfoot> -->
                        		</table>
                        	</div>
                          <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                            <button type="button" class="btn btn-success" (click)="onSaveSaleBillCancellation()" i18n="@@loco:$21">Save</button>
                            <button type="button" class="btn btn-warning"  (click)="onResetTab1()" i18n="@@loco:$1571">Reset</button>
                          </div>
                        </div>
                  </div>
              </div>
            </div>

          <div id="popup1" [className]="my_class1">
              <div class="popup">
                <div class=" newContentPop ">
                  <div>Your token has expired.<br> Redirecting to login page...</div>
                </div>

              </div>
          </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
