<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
            <div class="box-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Commodity Group Master</div>
              </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                      <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                        <div class="">
                          <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                        </div>
                      </div>

                  </div>
                  <!-- Table -->
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                				  			<th><mfDefaultSorter by="" >*Product Code</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >*Commodity</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Parent Group</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Defunct</mfDefaultSorter></th>
                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="4" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn paddingNo">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                              </td>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn paddingNo">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                              </td>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn paddingNo">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                                      <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                                      <img src="assets/images/search.png">
                                    </div>
                                </div>
                              </td>
            					  			<td><input type="checkbox" name="vehicle" value=""></td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="4">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                    <button type="button" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-warning"> Reset</button>
                  </div>

                  <!--Pop of Parent Group  starts-->
              <div id="popup1" [className]="my_class1">
                              	<div class="popup">
                              		<h2>Parent Group</h2>
                              		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown1" (click)="onAdvance()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown2" (click)="onBasic()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Group Code</div>
                                    <div *ngIf="shown2" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Group</div>
                                       <div *ngIf="shown2" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                           <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                 <option value="">Starts With</option>
                                                 <option value="">Ends With</option>
                                                 <option value="">Equals</option>
                                                 <option value="">Doesn't Equal</option>
                                                 <option value="">Less Than</option>
                                                 <option value="">Less Than or Equal To</option>
                                                 <option value="">Greater Than</option>
                                                 <option value="">Greater Than or Equal To</option>
                                                 <option value="">Between</option>
                                                 <option value="">Not Between</option>
                                                 <option value="">Contains</option>
                                                 <option value="">Doesn't Contain</option>
                                                 <option value="">Is Blank</option>
                                                 <option value="">Is Not Blank</option>
                                           </select>
                                         </div>
                                          <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                            <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                          </div>
                           		           <br>


                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Group Code</mfDefaultSorter></th>
                                          				  			<th><mfDefaultSorter by="" >Group</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf1.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
