#create_bids.active  {
  background-color:#00a65a !important;
  color: white;
}

.table>tbody>tr>td{font-size: 12px;}
.paddingBox{padding: 10px;}

.table.table-striped{border: 1px solid #ddd;box-shadow: 0px 0px 1px #ddd; border-radius: 5px;}
.table.table-striped thead{background: #f5f5f5;}
.table.table-striped thead th{color: #000; font-weight: 400;}
a.text-nowrap{color: #000 !important; font-weight: 400;}
.input-adj {
    height: 35px;
}
.mydp, .mydp .headertodaybtn{ height: 36px;}

.popup{padding: 2px;}
angular2-date-picker .wc-date-container{border: 1px solid #cfd0d0!important;}
angular2-date-picker .wc-date-container span,angular2-date-picker .wc-date-container i{color: #cfd0d0!important;}
.popup .modal-header {
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.close {
    top: 0px;
    right: 10px;
}

.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}

#select_bids.active  {
  background-color:#00a65a !important;
  color: white;
}

#deselect_bids.active  {
  background-color:#00a65a !important;
  color: white;
}
