<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
<section class="content">
<!-- Small boxes (Stat box) -->
<div class="row">
<section class="content">
<!-- SELECT2 EXAMPLE -->
<div class="box box-default paddingBox">
  <!-- /.box-header -->
  <div class="box-body">
      <!-- <h3>Bid Creation</h3> -->
          <div class="panel with-nav-tabs panel-default">
            <div class="screen_header"><span>Bid Creation</span></div>
              <div class="panel-heading">
                  <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab1default" data-toggle="tab">Create Bids</a></li>
                      <li><a href="#tab2default" data-toggle="tab">View Bids</a></li>
                  </ul>
              </div>
              <div id="popup6" [className]="my_class4">
                <div class="popup" >
                      <div  class="alert alert-danger">Please Select Atleast One Lot to Create Bid</div>
                </div>
              </div>
              <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                      <div class="row">
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                             <div class="form-group res-btn">
                               <p>Lot Code</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite"[(ngModel)]="matchLotCode" (input)="onLotCode()">
                             </div>
                              <div class="form-group res-btn">
                                <p>Seller</p>
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchSellerName" (input)="onSeller()">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                             <div class="form-group  res-btn">
                               <p>Trader</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite"  [(ngModel)]="matchTraderName" (input)="onTrader()">
                             </div>
                              <div class="form-group res-btn">
                                <p>Agent</p>
                                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchAgentName" (input)="onAgentName()">
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                             <div class="form-group res-btn">
                               <p>Commodity</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCommodityName" (input)="onCommodity()">
                             </div>
                             <div class="row">
                               <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 ">
                                  <div class="form-group res-btn">
                                    <p>Lot From Date</p>
                                    <form #myForm="ngForm" novalidate>
                                      <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                      [(ngModel)]="fromDate" required></my-date-picker>
                                    </form>
                                  </div>
                              </div>
                              <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 ">
                                <div class="form-group res-btn">
                                  <p>Lot To Date</p>
                                  <form #myForm="ngForm" novalidate>
                                    <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                    [(ngModel)]="toDate" required></my-date-picker>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ">
                             <div class="form-group res-btn">
                               <p>Firm Name</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCompanyName" (input)="onCompanyName()">
                             </div>
                             <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
                                <button type="button" class="btn btn-success" (click)="onBidListSearch()">Search</button>
                                <button type="button" class="btn btn-warning" (click)="onResetBidCreation()">Reset</button>
                              </div>
                          </div>
                        <div id="popup5" [className]="my_class5">
                          <div class="popup" >
                                <div  class="alert alert-danger">To-Date Should Be On Or Before Current Date</div>
                          </div>
                        </div>
                        <div id="popup5" [className]="my_class6">
                          <div class="popup" >
                                <div class="alert alert-danger" >From-Date Should Be On Or Before To-Date</div>
                          </div>
                        </div>
                        <div id="popup5" [className]="my_class7">
                          <div class="popup" >
                                <div   class="alert alert-danger" >Dates Are Mandatory To Search</div>
                          </div>
                        </div>

                        <div id="popup1" [className]="my_class2">
                            <div class="popup" >
                              <div id="popup5" [className]="my_class3">
                                <div class="popup" >
                                      <div  class="alert alert-danger">Bid Creation Saved Successfully</div>
                                </div>
                              </div>
                              <div class="modal-content">
                                <div class="modal-header">
                                  <div class="close" (click)="div_hide_bid()" ><img class="" src="assets/images/delete.png"></div>
                                  <h4 class="modal-title">Bid Details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="">
                                      <flash-messages></flash-messages>
                                    </div>
                                    <div class="row">
                                     <div class="col-xs-4">
                                       <span>*Bid Type</span>
                                       <input type="radio" name="bidType" class="marginleft14 marginright5" (click)="onOpenBidType()" checked>Open
                                       <input type="radio" name="bidType" class="marginleft14 marginright5" (click)="onCloseBidType()">Close
                                     </div>
                                     <div class="col-xs-4">
                                       <span>Auto Assign Winners</span>
                                       <input type="checkbox" value="" [checked]="autoAssignChecked" (change)="autoAssignChecked = !autoAssignChecked" >
                                     </div>
                                     <div class="col-xs-4">
                                       <span>Allow Multi-Bid</span>
                                       <input type="checkbox" value="" [checked]="allowMultiChecked" (change)="allowMultiChecked = !allowMultiChecked"  >
                                     </div>
                                   </div>
                                   <br>
                                    <div class="row">
                                      <div class="col-xs-6" >
                                        <span>*Minimum Buyers</span>
                                         <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="minBuyers" min="1" ng-init="1" required>
                                       </div>
                                      <div class="col-xs-6">
                                        <span>Minimum Selling Price</span>
                                         <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="minSellingPrice"
                                            ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" >
                                       </div>
                                   </div>
                                   <br>
                                   <div class="row">
                                     <div class="col-xs-6">
                                       <span>*Start Time</span>
                                       <angular2-date-picker [(ngModel)]="startTime" [settings]="settings" class="form-group res-btn"></angular2-date-picker>
                                     </div>
                                     <div class="col-xs-6">
                                       <span>*Closing Time</span>
                                       <angular2-date-picker [(ngModel)]="closingTime" [settings]="settings" class="form-group res-btn"></angular2-date-picker>
                                     </div>
                                   </div>
                                   <br>
                                   <div class="row">
                                     <div class="col-xs-6">
                                       <span>*Declaration Time</span>
                                       <angular2-date-picker [(ngModel)]="declarationTime" [settings]="settings" class="form-group res-btn"></angular2-date-picker>
                                     </div>
                                   </div>
                                </div>
                                <div class="modal-footer">
                                  <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="createBidData()">Save</button>
                                  <button  type="submit" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide_bid()">Cancel</button>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>                       <!-- Data table with add and delete buttons-->
                      <!--<div class="row">
                        <div class="col-sm-12 col-lg-2 col-md-2 col-xs-12">
                          <div class="">
                              <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" id="select_bids" [class.active]="activeSelect" (click)="onSelectAll()" >Select All</button>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-2 col-xs-12">
                          <div class="">
                              <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" id="deselect_bids" [class.active]="activeDeSelect" (click)="onDeSelectAll()" >DeSelect All</button>
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-2 col-md-2 col-xs-12">
                          <div class="">
                            <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" (click)="onCreateBids()" id="create_bids" [class.active]="activeCreate" >Create Bids</button>
                          </div>
                        </div>
                      </div> -->
                      <div class="row">
                        <div class="col-md-12 col-xs-12 ">
                         <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" [class.active]="activeSelect" id="select_bids" (click)="onSelectAll()" [disabled]="!activeSelect">Select All</button>
                         <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" [class.active]="activeDeSelect" id="deselect_bids" (click)="onDeSelectAll()" [disabled]="!activeDeSelect">DeSelect All</button>
                         <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" [class.active]="activeCreate" id="create_bids" (click)="onCreateBids()" [disabled]="!activeCreate">Create Bids</button>
                       </div>
                      </div>
                      <div class="row">
                        <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                                			<th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Agent</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Firm Name</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                                      <th><mfDefaultSorter by="" >No. of. Bags</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Qty(kg)</mfDefaultSorter></th>
                                			<th><mfDefaultSorter by="" >Lot Status</mfDefaultSorter></th>
                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <tr>
                        			         <td colspan="10" *ngIf="filtererdBidCreationList.length==0" class="noDataDisp">No data to display</td>
                        		      </tr>
                        		      <tr *ngFor='let post of filtererdBidCreationList;let i = index'>
                                        <td><input type="checkbox" value="" (click)="onCheckBid(post,$event.target.checked,i)" id="checkId_{{i}}"></td>
                                  			<td>{{post.iledLotCode}}</td>
                                  			<td *ngIf= "post.iledImpoType == 'T'">{{post.lcamFullName}}</td>
                                  			<td *ngIf= "post.iledImpoType == 'F'">{{post.frmFullName}}</td>
                                  			<td >{{post.lcamFullName1}}</td>
                                  			<td>{{post.lcamAgenCompName}}</td>
                                  			<td>{{post.gmpmgProdName}}</td>
                                  			<td>{{post.gmptmDesc}}</td>
                                  			<td>{{post.iledNoofBag}}</td>
                                  			<td>{{post.iledQty}}</td>
                                        <td *ngIf = "post.iledLotStatus == '1'">Approved</td>
                                        <td *ngIf = "post.iledLotStatus != '1'">Unknown</td>
                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                              			<td colspan="10">
                              			  <mfBootstrapPaginator></mfBootstrapPaginator>
                              			</td>
                        		      </tr>
                        		    </tfoot>
                        		</table>
                        	</div><!--TABLE DIV ENDS HERE-->
                        </div>
                      </div>
                    </div>          <!-- View Bids -->
                  <div class="tab-pane fade" id="tab2default">
                    <div id="popup6" [className]="my_class9">
                      <div class="popup" >
                            <div  class="alert alert-danger">Lot Id is mandatory to search</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                        <p>Start Date</p>
                        <div class="form-group res-btn">
                          <form #myForm="ngForm" novalidate>
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                            [(ngModel)]="viewBidDate" required></my-date-picker>
                          </form>
                        </div>
                        <br>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                        <p>*Lot Id</p>
                         <div class="form-group res-btn">
                           <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="viewLotCode" min ="1">
                         </div>
                         <br>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-top25">
                        <button type="button" class="btn btn-success" (click)="onViewBidSearch()">Search</button>
                        <button type="button" class="btn btn-warning" (click)="onResetViewBid()"> Reset</button>
                      </div>
                    </div>
                  <!-- <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                      <div class="">
                        <button type="submit" class="btn btn-sm white m-b input-adj outlineNo greybtn" >View</button>
                      </div>
                    </div>
                  </div> -->
                  <br>
                  <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]="filteredViewBidList"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                          			<th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                          			<th><mfDefaultSorter by="" >Start Time</mfDefaultSorter></th>
                          			<th><mfDefaultSorter by="" >Closing Time</mfDefaultSorter></th>
                          			<th><mfDefaultSorter by="" >Declaration Time</mfDefaultSorter></th>
                          			<th><mfDefaultSorter by="" >Minimum Selling Price</mfDefaultSorter></th>
                          			<th><mfDefaultSorter by="" >Minimum Buyers</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<td colspan="6" *ngIf="mf2.data.length==0" class="noDataDisp">No data to display</td>
                  		      </tr>
                  		      <tr *ngFor='let post of mf2.data'>

                          			<td>{{post.abcLotId}}</td>
                          			<td>{{post.abcStartTime}}</td>
                          			<td>{{post.abcEndDate}}</td>
                          			<td>{{post.abcBidOpenTime}}</td>
                          			<td>{{post.abcMspBidRate}}</td>
                          			<td>{{post.abcMinBuyers}}</td>
                          			<td></td>
                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="6">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
                  </div>
                  </div>

                      </div>
              </div>
          </div>
        <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class1">
                  <div class="popup">
                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>
                  </div>
              </div>
              <div id="popup5" [className]="my_class8">
                <div class="popup" >
                      <div  class="alert alert-danger" > Something Went Wrong</div>
                </div>
              </div>
  <!--popup ends-->

    </div>
  </div>
</section>
</div>
<!-- /.row -->
</section>
</div>
