<header class="main-header" *ngIf="authservice.loggedIn()">
  <!--  *ngIf="authservice.loggedIn()" -->
  <!-- Logo -->
  <a href="#" class="sidebar-toggle sidebar-toggle-button" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span> </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav  class="navbar navbar-static-top">

      <ul class="nav navbar-nav padding-left10">
        <li class="active img-text-adj"><img src="assets/images/Logo.jpg" width="35px" height="35px" class="logo1">&nbsp;&nbsp; <span class="logotxt" >NATIONAL AGRICULTURE MARKET</span></li>
      </ul>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav navbarAdj">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu " style="margin-top:7px;">
            <img src="assets/images/Logo.jpg" width="35px" height="35px" class="logo1 logo2 pull-left logoadj">
            <div  ng-app="MyApp" ng-controller="MyController" class="open time-hide">
              <div class="btn orange-color cursor-chng "> <i class="fa margin-r-5"><img class="" src="assets/images/alarm-clock.png"></i>{{time | date:'hh:mm:ss a'}}</div>
            </div>
          </li>

          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown messages-menu " style="margin-top:7px;">

            <div  ng-app="MyApp" ng-controller="MyController" class="dropdown open">
              <div  class="btn orange-color cursor-chng"> <i class="fa margin-r-5"><img src="assets/images/placeholder.png" ></i>{{authservice.getStorageData('location')}}</div>
              <!-- <div *ngIf="userType=='M'" class="btn orange-color cursor-chng"> <i class="fa margin-r-5"><img src="assets/images/placeholder.png"></i>{{authservice.locationName}}</div> -->
            </div>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon left-pad"><img src="assets/images/man.png"></span>
            <span class="" data-placement="down" title="click to view more">{{authservice.getStorageData('userName')}}</span><i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 3px;font-weight: 100;font-size: 14px;color: grey;"></i></a>
            <ul class="dropdown-menu">
              <li ><a (click)="pop_show()"  style="cursor:pointer"><p i18n="@@loco:$5">Preference</p></a></li>
              <li role="separator" class="divider"></li>
              <li><a style="cursor:pointer">Theme</a>&nbsp;&nbsp;&nbsp; <button class="btn btn-group" (click)="getLight()" style="background-color:#E5EBE8;font-size:12px;height:28px;line-height: 15px;"><span>Light</span></button> &nbsp; <button class="btn btn-group" style="background-color:#303432;height:28px; line-height: 15px;" (click)="getDark()"><span style="color:white;font-size:12px;">Dark</span></button>

              <li role="separator" class="divider"></li>
              <li ><a (click)="onLogoutClick();" style="cursor:pointer"><p i18n="@@loco:$6">Log Out</p></a></li>

            </ul>
          </li>


          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <div id="popup11" [className]="my_class1">
    <div class="popup">
      <h2>Edit</h2>
      <div class="close" (click)="pop_hide()" ><img class="" src="assets/images/delete.png"></div>
      <div class="content newContentPop" style="min-height:0">
        <table class="table table-hover b-t padding-top">
          <tbody id="darkNavTable">
            <tr>
              <td class="text-black" i18n="@@loco:$8">Name:</td>
              <td><input class="form-control input-adj " value="{{authservice.getStorageData('userName')}}" [readonly]="true"  type="text"></td>
            </tr>
            <tr>
              <td class="text-black" i18n="@@loco:$9">Email:</td>
              <td><input class="form-control input-adj " value="{{authservice.getStorageData('userEmailID')}}" [readonly]="true" type="email"></td>
            </tr>
            <tr>
              <td class="text-black" i18n="@@loco:$10">Phone:</td>
              <td><input class="form-control input-adj " value="{{authservice.getStorageData('userPhoneNo')}}" [readonly]="true" type="text"></td>
            </tr>
            <tr>
              <td class="text-black" i18n="@@loco:$12">New Password:</td>
              <td><input class="form-control input-adj " [(ngModel)]="pwd" type="password"></td>
            </tr>
            <tr>
              <td class="text-black" i18n="@@loco:$13">Confirm Password:</td>
              <td><input class="form-control input-adj " [(ngModel)]="cpwd" type="password"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer customFooterUp" >
        <div class="modal-footer customFooter">
          <button type="button" class="btn btn-default" (click)="validateform()" (click)="pop_hide()" i18n="@@loco:$15">Submit</button>
        </div>
      </div>
    </div>
  </div>
