<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj bold-title">
              Grievance Entry
            </div>

            <!-- Table starts here -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
              <div class="table-fixed padding-top table-responsive">
                <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  <thead>
                    <tr>
                      <th><mfDefaultSorter by="" >Selection Of Grievance</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Description(Optional)</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Assign To</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Document Upload</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" ></mfDefaultSorter></th>

                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>
                    <td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                  </tr> -->
                  <tr>

                    <td>
                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                        <option value="">Software Related</option>
                        <option value="">Not Related To Software </option>

                      </select>
                    </td>
                    <td>
                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn paddingNo">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                      </div>
                    </td>
                    <td>
                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                        <option value="">APMC</option>
                        <option value="">SFAC</option>
                        <option value="">SAMB</option>
                        <option value="">SP-IT Administrator</option>
                      </select>
                    </td>
                    <td>
                      <input type="button" value="Upload"> Choose File...
                    </td>
                    <td>
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 text-align-center">
                        <button type="button" class="btn btn-success">Submit</button>
                      </div>
                    </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="7">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table><!--TABLE ENDS-->
            </div><!--TABLE DIV ENDS HERE-->
          </div><!--Full table ends here-->



        </div>
      </div>
    </section>
  </div>
  <!-- /.row -->
</section>
</div>
