<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!-- 1st column -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Document Master</div>
            </div>
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Document Type</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                  <img src="assets/images/search.png">
                </div>
             </div>
              <br>
              <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj paddingNo">
                <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj paddingNo">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Length</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                          <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                  </div>
                  <br>
                </div>
                <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj paddingNo">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Fix Prefix</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                          <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                  </div>
                  <br>
                </div>
              </div>
              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Schema Length</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn" >
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Record Count</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
              </div>
              <br>
            </div>
            <!-- 2nd column -->
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Reset Type</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [disabled]="true">
                  <option value="">Operating unit</option>

                </select>
              </div>
              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Generation Type</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value="">Calendar</option>
                  <option value="">Financial year</option>
                  <option value="">Monthly</option>
                </select>
              </div>
              <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Document Schema</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn padding-bottom20">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>

               <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <button type="button" class="btn btn-success color-notPureWhite">Generate Document Scheme</button>
               </div>

               <br>
            </div>


              <!-- table row -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Delete</button>
                  </div>
                </div>
            </div>

            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                        			<th><mfDefaultSorter by="" >Sr. No.</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >Reset At.</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >From Date</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >To Date</mfDefaultSorter></th>
                        			<th><mfDefaultSorter by="" >Records</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="5" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>

            		          			<td>1</td>
            		          			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                                        <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                                      </div>
                                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                                        <img src="assets/images/search.png">
                                      </div>
                                  </div>
                                </td>
            		          			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <form #myForm="ngForm" novalidate>
                                      <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                      [(ngModel)]="dateInsert" required></my-date-picker>
                                    </form>
                                  </div>
                                </td>
            		          			<td>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <form #myForm="ngForm" novalidate>
                                      <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                      [(ngModel)]="dateInsert" required></my-date-picker>
                                    </form>
                                  </div>
                                </td>
            		          			<td>0</td>


                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="5">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>

            <!-- Buttons -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
              <button type="button" class="btn btn-success">Save</button>
               <button type="button" class="btn btn-warning"> Reset</button>
            </div>

<!--Pop of Document type  starts-->
              <div id="popup1" [className]="my_class1">
                              	<div class="popup">
                              		<h4>Document Type</h4>
                              		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="newContentPop">
                                    <div class=" col-sm-9 col-lg-9 col-md-9 toolbar-adj color-notPureWhite">Match
                                      <input type="radio" name="match" class="color-notPureWhite">All
                                      <input type="radio" name="match" class="color-notPureWhite">Any
                                    </div>
                                    <div *ngIf="shown2" (click)="docTypeAdv()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown1" (click)="docTypeBas()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                     <div class="row">
                                       <div class="col-xs-6">
                                         <span>Name</span>
                                         <div *ngIf="shown1" class="form-group res-btn">
                                           <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                 <option value="">Starts With</option>
                                                 <option value="">Ends With</option>
                                                 <option value="">Equals</option>
                                                 <option value="">Doesn't Equal</option>
                                                 <option value="">Less Than</option>
                                                 <option value="">Less Than or Equal To</option>
                                                 <option value="">Greater Than</option>
                                                 <option value="">Greater Than or Equal To</option>
                                                 <option value="">Between</option>
                                                 <option value="">Not Between</option>
                                                 <option value="">Contains</option>
                                                 <option value="">Doesn't Contain</option>
                                                 <option value="">Is Blank</option>
                                                 <option value="">Is Not Blank</option>
                                           </select>
                                         </div>
                                          <div class="form-group res-btn">
                                            <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                          </div>
                                       </div>
                                       <div class="col-xs-6">
                                         <span>Doc No.</span>
                                         <div *ngIf="shown1" class="form-group res-btn">
                                           <select class="form-control input-adj inputDark inputWhite">
                                                 <option value="">Starts With</option>
                                                 <option value="">Ends With</option>
                                                 <option value="">Equals</option>
                                                 <option value="">Doesn't Equal</option>
                                                 <option value="">Less Than</option>
                                                 <option value="">Less Than or Equal To</option>
                                                 <option value="">Greater Than</option>
                                                 <option value="">Greater Than or Equal To</option>
                                                 <option value="">Between</option>
                                                 <option value="">Not Between</option>
                                                 <option value="">Contains</option>
                                                 <option value="">Doesn't Contain</option>
                                                 <option value="">Is Blank</option>
                                                 <option value="">Is Not Blank</option>
                                           </select>
                                         </div>
                                            <div class="form-group res-btn">
                                              <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                            </div>
                                       </div>
                                     </div>
                                     <div class="row">
                                        <div class="col-xs-12 toolbar-adj text-align-center">
                                          <button type="button" class="btn btn-success">Search</button>
                                          <button type="button" class="btn btn-warning">Reset</button>
                                        </div>
                                      </div>
                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Name</mfDefaultSorter></th>
                                          				  			<th><mfDefaultSorter by="" >Doc No.</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf1.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->

                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
