<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Trader/Commission Agent Bidding Report</div>
              </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">

              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">Output Type</div>
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value="">PDF</option>
                  <option value="">HTML</option>
                  <option value="">RTF</option>
                </select>
              </div>



              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">From Date</div>
                <form #myForm="ngForm" novalidate>
                  <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                  [(ngModel)]="dateInsert" required></my-date-picker>
                </form>
              </div>



              <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">To Date</div>
                <form #myForm="ngForm" novalidate>
                  <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                  [(ngModel)]="dateInsert" required></my-date-picker>
                </form>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj color-notPureWhite">
                Select Report
                <input type="radio" name="select_report" class="marginleft14 marginright5">Trader Bidding Report
                <input type="radio" name="select_report" class="marginleft14 marginright5">Commission Agent Bidding Report
              </div>


              <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3  res-btn">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">*Trader Name</div>
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                    <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                  </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                  <img src="assets/images/search.png">
                </div>
              </div>



               <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3  res-btn">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">Trader License No.</div>
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>



                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3  res-btn">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">Comission Agent Name</div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                      <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                    </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                    <img src="assets/images/search.png">
                  </div>
                </div>


                 <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3  res-btn">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">Commission Agent License No.</div>
                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
                 </div>
  		           <br>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj text-align-center">

              <button type="button" class="btn btn-success">View Report</button>
              <button type="button" class="btn btn-warning">Close</button>

            </div>
            <!--Pop of Trader Name starts-->
                        <div id="popup1" [className]="my_class1">
                          <div class="popup">
                            <h2>Trader Name</h2>
                            <div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                            <div class="content newContentPop">
                              <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 toolbar-adj paddingNo">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Trader Name</div>
                               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                               </div>
                		           <br>
                              </div>
                              <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 toolbar-adj paddingNo">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Company Name</div>
                               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                               </div>
                		           <br>
                              </div>
                              <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 toolbar-adj paddingNo">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Trader License No.</div>
                               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                               </div>
                		           <br>
                              </div>


                              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                <button type="button" class="btn btn-success">Search</button>
                                <button type="button" class="btn btn-warning">Reset</button>
                              </div>
                              <br>
                              <!-- Table starts here -->
                              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                <div class="table-fixed padding-top table-responsive">
                                  <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                    <thead>
                                      <tr>
                                        <th><mfDefaultSorter by="" >Trader Name</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Company Name</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Trader License No.</mfDefaultSorter></th>


                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                      </tr>
                                      <tr *ngFor='let post of mf1.data'>

                                        <td></td>


                                      </tr>
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                        <td colspan="7">
                                          <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                      </tr>
                                    </tfoot>
                                  </table><!--TABLE ENDS-->
                                </div><!--TABLE DIV ENDS HERE-->
                              </div><!--Full table ends here-->

                            </div>
                            <div class="modal-footer" >
                              <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                              <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                            </div>
                          </div>
                        </div>
                        <!--popup ends-->
                        <!--Pop of Commission Agent Name starts-->
                                    <div id="popup1" [className]="my_class2">
                                      <div class="popup">
                                        <h2>Commission Agent Name</h2>
                                        <div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                                        <div class="content newContentPop">
                                          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 toolbar-adj paddingNo">
                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Commission Agent Name</div>
                                           <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                             <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                           </div>
                            		           <br>
                                          </div>
                                          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 toolbar-adj paddingNo">
                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Company Name</div>
                                           <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                             <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                           </div>
                            		           <br>
                                          </div>
                                          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 toolbar-adj paddingNo">
                                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Commission Agent License No.</div>
                                           <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                             <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                           </div>
                            		           <br>
                                          </div>


                                          <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                            <button type="button" class="btn btn-success">Search</button>
                                            <button type="button" class="btn btn-warning">Reset</button>
                                          </div>
                                          <br>
                                          <!-- Table starts here -->
                                          <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            <div class="table-fixed padding-top table-responsive">
                                              <table  [mfData]=""  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                                <thead>
                                                  <tr>
                                                    <th><mfDefaultSorter by="" >Commission Agent Name</mfDefaultSorter></th>
                                                    <th><mfDefaultSorter by="" >Company Name</mfDefaultSorter></th>
                                                    <th><mfDefaultSorter by="" >Commission Agent License No.</mfDefaultSorter></th>


                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td colspan="7" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td>
                                                  </tr>
                                                  <tr *ngFor='let post of mf2.data'>

                                                    <td></td>


                                                  </tr>
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                                    <td colspan="7">
                                                      <mfBootstrapPaginator></mfBootstrapPaginator>
                                                    </td>
                                                  </tr>
                                                </tfoot>
                                              </table><!--TABLE ENDS-->
                                            </div><!--TABLE DIV ENDS HERE-->
                                          </div><!--Full table ends here-->

                                        </div>
                                        <div class="modal-footer" >
                                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                    <!--popup ends-->
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
