<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj bold-title">
              Grievance Management
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
                  Assignment
                </div>
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                      				  			<th><mfDefaultSorter by="" >Ticket No</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Description of Grievance</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Assignment</mfDefaultSorter></th>
                                      <th><mfDefaultSorter by="" ></mfDefaultSorter></th>

                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <!-- <tr>
                        			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                        		      </tr> -->
                        		      <tr>

                  					  			<td>54585555</td>
                  					  			<td>grievance description</td>
                                    <td><div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo res-btn">
                                          <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                            <option value="">APMC</option>
                                            <option value="">SFAC</option>
                                            <option value="">SAMB</option>
                                            <option value="">SP-IT Administrator</option>
                                          </select>
                                        </div>
                                    </td>
                  					  			<td>
                                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12  text-align-center">
                                        <button type="button" class="btn btn-success">Assign</button>

                                      </div>
                                    </td>

                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                        			<td colspan="7">
                        			  <mfBootstrapPaginator></mfBootstrapPaginator>
                        			</td>
                        		      </tr>
                        		    </tfoot>
                        		</table><!--TABLE ENDS-->
                        	</div><!--TABLE DIV ENDS HERE-->
                  </div><!--Full table ends here-->

            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
              <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
                View of Response
              </div>
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <div class="table-fixed padding-top table-responsive">
                            <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                              <thead>
                                <tr>
                                    <th><mfDefaultSorter by="" >Ticket No</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Type of Ticket</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Resolution Time</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Description of Resolution</mfDefaultSorter></th>

                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr>
                            <td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                </tr> -->
                                <tr>

                                  <td>54585555</td>
                                  <td>NA</td>
                                  <td>2 Days
                                  </td>
                                  <td>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                  </td>

                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                            <td colspan="7">
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                                </tr>
                              </tfoot>
                          </table><!--TABLE ENDS-->
                        </div><!--TABLE DIV ENDS HERE-->
                </div><!--Full table ends here-->
            </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
