<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!-- 1st column -->
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Lot Entry</div>
            </div>-->
            <div class="screen_header"><span>Lot Entry</span></div>
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Gate Entry No.</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Gate No.</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
                  </div>
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                    <img src="assets/images/search.png">
                  </div> -->
                </div>
              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Registration No.</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
                  </div>
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                    <img src="assets/images/search.png">
                  </div> -->
                </div>
              <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Vehicle Owner Name</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                  <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                </div>
 		           <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Amount</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                  <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                </div>
 		           <br>
            </div>
            <!-- 2nd column -->
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Date</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Yard Type</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
                  </div>
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                    <img src="assets/images/search.png">
                  </div> -->
                </div>
              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Vehicle Number</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Vehicle Type</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" [disabled]="true">
                   </div>
                  <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                    <img src="assets/images/search.png">
                  </div> -->
                </div>
              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Mobile No.</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>
            </div>
            <!-- Table -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                <div class="col-sm-12 col-lg-3 col-md-3 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Farmer Quick Registration</button>
                  </div>
                </div>
                  <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                    <div class="">
                      <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                    <div class="">
                      <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Delete</button>
                    </div>
                  </div>
              </div>
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="table-fixed padding-top table-responsive">
                    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                      <thead>
                        <tr>
                          <th><mfDefaultSorter by="" >*Seller Type</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >*Seller Name</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Agent Name</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >*Commodity</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >*Bag Type</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >*No. of Bags</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >*Qty(Kg)</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >*Qty in Quintal</mfDefaultSorter></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                    <td colspan="7" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                        </tr>
                        <tr *ngFor='let post of mf.data'>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                    <td colspan="7">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                        </tr>
                      </tfoot>
                  </table><!--TABLE ENDS-->
                </div><!--TABLE DIV ENDS HERE-->
              </div>
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
               <button type="button" class="btn btn-success">Save</button>
               <button type="button" class="btn btn-warning"> Reset</button>
             </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
