<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<body class="hold-transition skin-blue sidebar-mini scrollHide">
  <section class="content background-bg customContent">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content" >
        <div class=" box-default">
          <div class=" box-body">
            <div class="flower">
              <div class="container " style="height:43em">
                <p style="TEXT-ALIGN: center;font-size: 24px;" i18n="@@loco:$1">NATIONAL AGRICULTURE MARKET</p>

                <div class="card card-container leaf-adj">
                  <img class="profile-img-card" id="profile-img" src="assets/images/login-logo.jpg">
                  <div class="msg">
                    <flash-messages></flash-messages>
                  </div>
                  <p id="profile-name" class="profile-name-card"></p>
                  <form class="form-signin" data-toggle="validator" role="form" name="userForm">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input i18n-placeholder="[placeholder]@@loco:$750" type="text" [(ngModel)]="userid" name="userid" class="btn onlyBottomBorder" placeholder="Login Id" autofocus="" [ngModelOptions]="{standalone: true}" required>

                    <input i18n-placeholder="[placeholder]@@loco:$11" type="password" [(ngModel)]="password" name="password" class="btn onlyBottomBorder" placeholder="Password" [ngModelOptions]="{standalone: true}" required data-minlength="4">

                    <!-- <div class="g-recaptcha captchaAdj" data-sitekey="6LfrvCsUAAAAAOEE2UVkX09gy5y1C1w4vMdhDYDu" data-type="audio image">
                      <re-captcha site_key="6LfrvCsUAAAAAOEE2UVkX09gy5y1C1w4vMdhDYDu"></re-captcha>

                    </div> -->
                    <!-- <div>
                      <input class="captcha" type="text" name="text" value="CAPTCHA" [readonly]="true">
                    </div>
                    <div>
                      <input type="text" [(ngModel)]="captchaValue" class="btn onlyBottomBorder" (blur)="checkCaptcha()" placeholder="Captcha text" autofocus="" [ngModelOptions]="{standalone: true}" required>
                    </div> -->
                    <div class="lngadj">
                      <select class="form-control btn onlyBottomBorder" onchange="javascript:location.href = this.value;">
                        <!-- <option  value="0" ng-reflect-value="0" selected>Choose Language</option> -->
                        <option  value="{{english}}" ng-reflect-value="1" selected>English</option>
                        <option  value="{{hindi}}" ng-reflect-value="2">Hindi</option>
                        <option  value="{{gujurati}}" ng-reflect-value="3">Gujarati</option>
                        <option  value="{{telegu}}" ng-reflect-value="4">Telegu</option>
                      </select>
                    </div>
                    <!-- <div id="remember" class="checkbox">
                    <label>
                      <input type="checkbox" value="remember-me" i18n="@@rememberme"> Remember me
                    </label>
                  </div> -->
                    <div class="loginadj">
                        <button class="btn btn-lg btn-success btn-block btn-signin" type="submit" (click)="onLoginSubmit()" i18n="@@login">Login</button>
                    </div>
                  </form>
                  <!-- /form -->
                  <a href="#" class="forgot-password" i18n="@@forgetpassword">
                  Forgot the password?
                </a>
                </div>
                <!-- <div class="msg">
                  <flash-messages></flash-messages>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.row -->

  </section>
</body>
