<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj bold-title">
              Grievance List
            </div>

            <!-- Table starts here -->
                   <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                      				  			<th><mfDefaultSorter by="" >Ticket No:</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Description Of Grievance</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Resolution</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Re assign</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" ></mfDefaultSorter></th>

                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <!-- <tr>
                        			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                        		      </tr> -->
                        		      <tr>

                  					  			<td width="5%">66554564</td>
                  					  			<td width="30%">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </td>
                  					  			<td width="25%" style="padding:10px 0 0 0"><div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                                    </td>
                  					  			<td width="15%" >
                                      <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6">
                                        <input type="checkbox" name="vehicle" value="" [checked]="checkBox" (change)="checkDropDown(check.checked)" #check>
                                      </div>
                                      <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6" style="padding: 0;margin-left: -53px;width: 72%;">
                                          <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [disabled]="disableDropdown" >
                                            <option value="">APMC</option>
                                            <option value="">SFAC</option>
                                            <option value="">SAMB</option>
                                            <option value="">SP-IT Administrator</option>
                                            
                                          </select>
                                      </div>
                                    </td>
                  					  			<td width="10%">
                                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 text-align-center">
                                            <button type="button" class="btn btn-success">Submit</button>

                                          </div>
                                    </td>

                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                        			<td colspan="7">
                        			  <mfBootstrapPaginator></mfBootstrapPaginator>
                        			</td>
                        		      </tr>
                        		    </tfoot>
                        		</table><!--TABLE ENDS-->
                        	</div><!--TABLE DIV ENDS HERE-->
                  </div><!--Full table ends here-->


            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
