.marginleft14{
	margin-left: 14px;
}
.marginright5{
  margin-right: 5px;
}
/* .searchImg{
	padding: 6px 15px 0 0;
} */

.box-body.paddingBox{padding: 10px;}
.popup{padding: 0;}
.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
div.disabled{
    color: #ccc;
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;
}
.searchImg.disabled{
    background: #eeeeee;
	}
	.panel-heading-top{
	    color: #333;
	    background-color: #FFE4C4;
	    border-color: #ddd;
	}
