<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj bold-title">
              View Required Commodity Status
            </div>

            <!-- Table starts here -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
              <div class="table-fixed padding-top table-responsive">
                <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  <thead>
                    <tr>
                      <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Quantity Required</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Quality</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Proposed Rate</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Expected Date Of Delivery</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Quality Certificate Upload</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Selling Rate</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Time Left</mfDefaultSorter></th>
                      <th><mfDefaultSorter by="" >Want To Buy</mfDefaultSorter></th>

                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>
                    <td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                  </tr> -->
                  <tr>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 padding-left0">
                        <button type="button" class="btn btn-success">Confirm</button>
                        <button type="button" class="btn btn-warning">Reject</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="7">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table><!--TABLE ENDS-->
            </div><!--TABLE DIV ENDS HERE-->
          </div><!--Full table ends here-->



        </div>
      </div>
    </section>
  </div>
  <!-- /.row -->
</section>
</div>
