<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default paddingBox">
          <div class="box-body">
              <div class="panel panel-default">
                <div class="screen_header"><span>Sale Agreement</span></div>
                <div class="panel-body saleAgreementForm">
                  <div id="popup1" [className]="my_class7">
                    <div class="popup" *ngIf="saveRes != undefined">
                          <div class="alert alert-success" *ngIf="saveRes.status == '1'">Sale Agreement Created  Successfully</div>
                          <div class="alert alert-danger" *ngIf="saveRes.status == '0'">{{successMsg}}</div>
                    </div>
                    <div class="popup" *ngIf="saveRes == undefined">
                          <div class="alert alert-danger">Something Went Wrong</div>
                    </div>
                  </div>
                  <div id="popup1" [className]="my_class9">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose Winning Bid To Create Agreement</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class10">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose One Fee Category</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class11">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose One Fee Category</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class12">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose Party Name For Each Fee Component</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class17">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose Seller</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class14">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose Trader</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class15">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose Lot Code</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class18">
                    <div class="popup">
                          <div class="alert alert-danger">Please Enter Rate/QUI</div>
                   </div>
                  </div>
                  <div id="popup1" [className]="my_class16">
                    <div class="popup">
                          <div class="alert alert-danger">Please Choose Seller To Search Lots</div>
                   </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>*Agreement Type</p>
                      <div class="form-group res-btn">
                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite"  (click)="chooseAgrType($event.target.value)">
                          <option value="O" (click)="onOneToOne()">One To One</option>
                          <!-- <option value="A">Auction</option> -->
                          <option value="E" >eTender</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Seller Type</p>
                      <div class="form-group res-btn">
                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" *ngIf="!isOneToOne" disabled>
                          <option value="" *ngIf="selTenderOK.auchImpType == 'F'" >Farmer</option>
                          <option value="" *ngIf="selTenderOK.auchImpType == 'T'">Trader</option>
                        </select>
                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" *ngIf="isOneToOne" (change)="chooseFarmerTrader($event.target.value)">
                          <option value="F" >Farmer</option>
                          <option value="T" >Trader</option>
                        </select>
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>*Seller</p>
                        <div class="form-group res-btn" [class.disabled]="!isOneToOne">
                            <div class="col-lg-11 col-md-11 col-sm-9 col-xs-9 paddingNo">
                              <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="sellerName" readonly>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 searchImg inactvBtn" (click)="div_show2()">
                              <img src="assets/images/search.png">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>*Trader</p>
                      <div class="form-group res-btn" [class.disabled]="!isOneToOne">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                          <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="traderName" readonly>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg inactvBtn" (click)="div_show1()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Firm Name</p>
                      <div class="form-group res-btn" >
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="firmName" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>*Lot Code</p>
                      <div class="form-group res-btn" [class.disabled]="!isOneToOne">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="lotCode" readonly>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg inactvBtn" (click)="div_show3()" >
                            <img src="assets/images/search.png">
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Commodity</p>
                      <div class="form-group res-btn" >
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="commodityDesc" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Appr. Wt in Kg/Nos</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="approxWtInKg" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>*Rate/QUI.</p>
                      <div class="form-group res-btn">
                        <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="rate" [readonly]="!isOneToOne" (change)="calcNetAmount()" min="0">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Net Wt.QUI</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="netWtInQt" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Actual Wt.in Kg</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="actualWtInKg" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>*Fee Category</p>
                      <div class="form-group res-btn" >
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                          <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="feeDesc" readonly>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg " (click)="div_show4()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Bag Type</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tPackType" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>No. Of Bags</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="noOfPack" [readonly]="true">
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Net Amt. (Rs.)</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="netAmount" [readonly]="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <div class="form-group res-btn">
                          <input type="checkbox" name="bill" (change)="OnGenerateSaleBill($event.target.checked)" [checked]="genSaleBillChecked" (change)="genSaleBillChecked = !genSaleBillChecked"><span class="padding-left8" >Generate Sale Bill</span>
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4" >
                      <div class="form-group res-btn" *ngIf="isOneToOne" (change)="onMspSaleBill($event.target.checked)">
                          <input type="checkbox" name="saleMSP" [checked]="mspSaleBillChecked" (change)="mspSaleBillChecked = !mspSaleBillChecked"><span class="padding-left8" selected="mspSaleBill =='Y'">MSP Sale</span>
                      </div>
                    </div>
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4">
                      <p>Gross Payable (Rs.)</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="grossPay" [readonly]="!isOneToOne">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-4 col-lg-4 pull-right">
                      <p>Net Payable (Rs.)</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="netPay" [readonly]="!isOneToOne">
                      </div>
                      <p style="color:#398439">{{amountInWord}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Fee Component Details</div>
                <div class="panel-body saleAgreementForm">
                  <table  [mfData]="rowData"  #mf6="mfDataTable"  class="table-fixed display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                    <thead>
                      <tr>
                          <th><mfDefaultSorter by="" >Sr. No</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Component</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Amount (Rs.)</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Deducted Amount (Rs.)</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Calculated Amount (Rs.)</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Amount Calculated Type</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Percent</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Incl./Excl</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Party Type</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="" >Party Name</mfDefaultSorter></th>
                      </tr>
                    </thead>
                    <tbody *ngIf= "rowData != undefined" id="tbd" class="tbdClass">
                      <tr>
                        <td colspan="10" *ngIf="mf6.data.length== 0" class="noDataDisp">No data to display</td>
                      </tr>
                      <tr *ngFor='let post of mf6.data;let i=index' >
                        <td>{{i+1}}</td>
                        <td>
                          <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="post.t_component" readonly >
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 searchImg" >
                            <img src="assets/images/search.png">
                            <!-- (click)="div_show2()" -->
                          </div>
                        </td>
                        <td>{{post.AucdAmt}}</td>
                        <td>{{post.AucdTdsAmt}}</td>
                        <td>{{post.AucdCalcAmount}}</td>
                        <td>
                          <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [disabled]="!isOneToOne" >
                              <option value="" [selected]= "post.AucdAmtcalOn == '0'">Fixed Amount</option>
                              <option value="" [selected]= "post.AucdAmtcalOn == '1'">Per Bag</option>
                              <option value="" [selected]= "post.AucdAmtcalOn == '2'">Per Bag UOM</option>
                              <option value="" [selected]= "post.AucdAmtcalOn == '3'">Commodity UOM</option>
                              <option value="" [selected]= "post.AucdAmtcalOn == '4'">Fixed Percent Wise</option>
                            </select>
                        </td>
                        <td>{{post.AucdPer}}</td>
                        <td *ngIf= "post.AucdIncExlud == 'E'">Exclusive</td>
                        <td *ngIf= "post.AucdIncExlud == 'I'">Inclusive</td>
                        <td>
                          <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" [disabled]="!isOneToOne" >
                              <option value="" *ngIf= "post.AucdPartyType == 'T'">Trader</option>
                              <option value="" *ngIf= "post.AucdPartyType == 'A'">Commission Agent</option>
                              <option value="" *ngIf= "post.AucdPartyType == 'H'">Hammal</option>
                              <option value="" *ngIf= "post.AucdPartyType == 'L'">Weighman</option>
                              <option value="" *ngIf= "post.AucdPartyType == 'C'">APMC</option>
                              <option value="" *ngIf= "post.AucdPartyType == 'G'">Govt.</option>
                            </select>
                        </td>
                        <td>
                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="post.t_partyname" readonly>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 searchImg" (click)="openPartyNamePopup(post,i)">
                            <img src="assets/images/search.png">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                  <!-- <td colspan="7">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td> -->
                      </tr>
                    </tfoot>
                </table>
                </div>
              </div>
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                    <button type="button" class="btn btn-success" (click)="saveSaleAgreement()">Save</button>
                    <button type="button" class="btn btn-warning" (click)="onReset()"> Reset</button>
                  </div>

                  <!--Pop of  Trader starts-->
              <div id="popup1" [className]="my_class1">
                  	<div class="popup">
                      <div class="modal-content">
                       <div class="modal-header">
                   		    <div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                         <h4 class="modal-title">Trader</h4>
                       </div>
                       <div class="modal-body">
                        <div class="row">
                            <div class=" col-xs-6 color-notPureWhite">
                             <p>Agent/Trader Name</p>
                              <div class="form-group  res-btn">
                                <input type="text" class="form-control inputDark inputWhite" [(ngModel)]="matchTrader"  (input)="searchTraderName()">
                              </div>
                            </div>
                            <!-- <div class=" col-xs-6 color-notPureWhite">
                              <p>Company</p>
                                 <div class="form-group res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                            </div> -->
                          </div>
                          <div class="table-fixed padding-top table-responsive" *ngIf="filtFarmerTraderData != undefined">
                               <table  [mfData]="filtFarmerTraderData"  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                 <thead>
                                   <tr>
                                       <th><mfDefaultSorter by="" >Agent/Trader Name</mfDefaultSorter></th>
                                       <th><mfDefaultSorter by="" >Company</mfDefaultSorter></th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td colspan="7" *ngIf="mf1.data.length==0" class="noDataDisp">No data to display</td>
                                   </tr>
                                   <tr *ngFor='let post of mf1.data; let i=index' (click)="onTraderSelect(post,i)" [class.active]="i == selTraderIndex" style="cursor:pointer">
                                     <td>{{post.lcam_full_name}}</td>
                                     <td>{{post.lcam_agen_comp_name}}</td>
                                   </tr>
                                 </tbody>
                                 <tfoot>
                                   <tr>
                                     <td colspan="7">
                                       <mfBootstrapPaginator></mfBootstrapPaginator>
                                     </td>
                                   </tr>
                                 </tfoot>
                             </table>
                           </div>
                       </div>
                       <div class="modal-footer">
                         <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelTraderOK()">Ok</button>
                         <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                       </div>
                     </div>
                  	</div>
              </div>
              <!--popup ends-->
            <!--Popup of  Only Trader starts-->
              <div id="popup1" [className]="my_class13">
                  	<div class="popup">
                      <div class="modal-content">
                       <div class="modal-header">
                   		    <div class="close" (click)="hideTraderPopUP()" ><img class="" src="assets/images/delete.png"></div>
                         <h4 class="modal-title">Trader</h4>
                       </div>
                       <div class="modal-body">
                        <div class="row">
                            <div class=" col-xs-6 color-notPureWhite">
                             <p>Agent/Trader Name</p>
                              <div class="form-group  res-btn">
                                <input type="text" class="form-control inputDark inputWhite" [(ngModel)]="matchTrader"  (input)="searchTraderName()">
                              </div>
                            </div>
                            <!-- <div class=" col-xs-6 color-notPureWhite">
                              <p>Company</p>
                                 <div class="form-group res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                 </div>
                            </div> -->
                          </div>
                          <div class="table-fixed padding-top table-responsive" *ngIf="filtFarmerTraderData != undefined">
                               <table  [mfData]="filtFarmerTraderData"  #mf8="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                 <thead>
                                   <tr>
                                       <th><mfDefaultSorter by="" >Agent/Trader Name</mfDefaultSorter></th>
                                       <th><mfDefaultSorter by="" >Company</mfDefaultSorter></th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr>
                                     <td colspan="7" *ngIf="mf8.data.length==0" class="noDataDisp">No data to display</td>
                                   </tr>
                                   <tr *ngFor='let post of mf8.data; let i=index' (click)="onOnlyTraderSelect(post,i)" [class.active]="i == selOnlyTraderIndex" style="cursor:pointer">
                                     <td>{{post.lcam_full_name}}</td>
                                     <td>{{post.lcam_agen_comp_name}}</td>
                                   </tr>
                                 </tbody>
                                 <tfoot>
                                   <tr>
                                     <td colspan="7">
                                       <mfBootstrapPaginator></mfBootstrapPaginator>
                                     </td>
                                   </tr>
                                 </tfoot>
                             </table>
                           </div>
                       </div>
                       <div class="modal-footer">
                         <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onTraderOK()">Ok</button>
                         <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideTraderPopUP()">Cancel</button>
                       </div>
                     </div>
                  	</div>
              </div>
              <!--popup ends-->
              <!--Pop of  Seller starts-->
          <div id="popup1" [className]="my_class2">
              <div class="popup">
                <div class="modal-content">
                   <div class="modal-header">
                    <div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                     <h4 class="modal-title">Seller</h4>
                   </div>
                   <div class="modal-body">
                     <div class="newContentPop">
                       <div class="row">
                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Farmer Name</div>
                            <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                              <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchFarmer" id="" (input)="searchFarmerName()" placeholder="Filter By Farmer Name">
                            </div>
                       </div><br>
                          <div class="">
                                 <div class="table-fixed padding-top table-responsive" *ngIf="filtFarmerTraderData != undefined">
                                     <table  [mfData]="filtFarmerTraderData"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                       <thead>
                                         <tr>
                                             <th><mfDefaultSorter by="frmFullName" >Farmer Name</mfDefaultSorter></th>
                                             <th><mfDefaultSorter by="" >Adhar Number</mfDefaultSorter></th>
                                             <th><mfDefaultSorter by="frmRelationId" >Relation</mfDefaultSorter></th>
                                             <th><mfDefaultSorter by="gmcmCity" >City Name</mfDefaultSorter></th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                         <tr>
                                     <td colspan="7" *ngIf="mf2.data.length== 0" class="noDataDisp">No data to display</td>
                                         </tr>
                                         <tr *ngFor='let post of mf2.data;let i= index' (click)="onFarmerSelect(post,i)" [class.active]="i == selFarmerIndex" style="cursor:pointer">
                                           <td>{{post.frmFullName}}</td>
                                           <td>-</td>
                                           <td>{{post.frmRelationId}}</td>
                                           <td>{{post.gmcmCity}}</td>
                                         </tr>
                                       </tbody>
                                       <tfoot>
                                         <tr>
                                     <td colspan="7">
                                       <mfBootstrapPaginator></mfBootstrapPaginator>
                                     </td>
                                         </tr>
                                       </tfoot>
                                   </table>
                                 </div>
                         </div>
                     </div>


                   </div>
                   <div class="modal-footer">
                     <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelFarmerOK()">Ok</button>
                     <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                   </div>
               </div>
              </div>
          </div>
          <!--popup ends-->
          <!--Pop of  Lot Code starts-->
      <div id="popup1" [className]="my_class3">
          <div class="popup">
            <div class="modal-content">
               <div class="modal-header">
                 <div class="close" (click)="div_hide3()" ><img class="" src="assets/images/delete.png"></div>
                 <h4 class="modal-title">Lot Code</h4>
               </div>
               <div class="modal-body">
                 <div class="newContentPop">
                    <br>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">lot Code</div>
                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLotCode" (input)="searchLotCode()">
                      </div>
                      <br>
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                             <div class="table-fixed padding-top table-responsive">
                                 <table  [mfData]="filteredLotCodeData"  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                   <thead>
                                     <tr>
                                         <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                     </tr>
                                   </thead>
                                   <tbody>
                                     <tr>
                                 <td colspan="7" *ngIf="mf3.data.length==0" class="noDataDisp">No data to display</td>
                                     </tr>
                                     <tr *ngFor='let post of mf3.data;let i =index' (click)="onLotSelect(post,i)" [class.active]="i == selLotIndex" style="cursor:pointer">
                                       <td>{{post.iledLotCode}}</td>
                                     </tr>
                                   </tbody>
                                   <tfoot>
                                     <tr>
                                 <td colspan="7">
                                   <mfBootstrapPaginator></mfBootstrapPaginator>
                                 </td>
                                     </tr>
                                   </tfoot>
                               </table>
                             </div>
                     </div>

                 </div>
               </div>
               <div class="modal-footer">
                 <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelLotCodeOK()">Ok</button>
                 <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide3()">Cancel</button>
               </div>
             </div>
          </div>
      </div>
<div id="popup1" [className]="my_class4">
        	<div class="popup">
            <div class="modal-content">
              <div class="modal-header">
          		    <div class="close" (click)="div_hide4()" ><img class="" src="assets/images/delete.png"></div>
                <h4 class="modal-title">Fee Category</h4>
              </div>
              <div class="modal-body">
                <div class="newContentPop">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top10">Fee Category</div>
                  <div class="row">
                     <div class="form-group col-xs-8 res-btn">
                       <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="filtFee" (input)="onFilterFee()">
                     </div>
                   </div>
                    <br>
                    <div class="row">
                     <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          	<div class="table-fixed padding-top table-responsive">
                          	    <table  [mfData]="filteredFeeTypeList"  #mf4="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th><mfDefaultSorter by="" >Fee Category</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			      <td colspan="7" *ngIf="mf4.data.length== 0" class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf4.data;let i=index' (click)="onSelFeeType(post,i)" [class.active]="i == selectedFee" style="cursor:pointer">
                    					  			<td>{{post.fchCatgDesc}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                    </div>
                  </div>
            		</div>
              </div>
              <div class="modal-footer">
                <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelectFeeTypeOK()" [class.disabled]="feeTypeVal.length == 0">Ok</button>
                <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide4()">Cancel</button>
              </div>
            </div>
        	</div>
      </div>
<!-- Popup for party names starts -->
<div id="popup1" [className]="my_class8">
        	<div class="popup">
            <div class="modal-content">
              <div class="modal-header">
          		    <div class="close" (click)="hidePartyNamePopup()" ><img class="" src="assets/images/delete.png"></div>
                <h4 class="modal-title" *ngIf = "partyType == 'C'">APMC</h4>
                <h4 class="modal-title" *ngIf = "partyType == 'T'">Trader</h4>
                <h4 class="modal-title" *ngIf = "partyType == 'H'">Hammal</h4>
                <h4 class="modal-title" *ngIf = "partyType == 'G'">Govt.</h4>
                <h4 class="modal-title" *ngIf = "partyType == 'A'">Commission Agent</h4>
                <h4 class="modal-title" *ngIf = "partyType == 'L'">Weighman</h4>
              </div>
              <div class="modal-body">
                <div class="newContentPop">
                    <br>
                    <div class="row">
                     <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          	<div class="table-fixed padding-top table-responsive">
                          	    <table  [mfData]="filteredPartyNames"  #mf7="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                          		    <thead>
                          		      <tr>
                        				  			<th *ngIf = "partyType == 'C'"><mfDefaultSorter by="" >APMC Name</mfDefaultSorter></th>
                        				  			<th *ngIf = "partyType == 'C'"><mfDefaultSorter by="" >Code</mfDefaultSorter></th>
                        				  			<th *ngIf = "partyType != 'C'"><mfDefaultSorter by="" >Name</mfDefaultSorter></th>
                          		      </tr>
                          		    </thead>
                          		    <tbody>
                          		      <tr>
                          			      <td colspan="7" *ngIf="mf7.data.length== 0" class="noDataDisp">No data to display</td>
                          		      </tr>
                          		      <tr *ngFor='let post of mf7.data;let i=index' (click)="onSelPartyNames(post,i)" [class.active]="i == selectedParty" style="cursor:pointer">
                    					  			<td  *ngIf = "partyType == 'C'">{{post.ADOUM_OPRNAME}}</td>
                    					  			<td  *ngIf = "partyType == 'C'">{{post.ADOUM_OPRCD}}</td>
                    					  			<td  *ngIf = "partyType != 'C'">{{post.lcam_full_name}}</td>
                          		      </tr>
                          		    </tbody>
                          		    <tfoot>
                          		      <tr>
                          			<td colspan="7">
                          			  <mfBootstrapPaginator></mfBootstrapPaginator>
                          			</td>
                          		      </tr>
                          		    </tfoot>
                          		</table>
                          	</div>
                    </div>
                  </div>
            		</div>
              </div>
              <div class="modal-footer">
                <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelPartyNameOK()">Ok</button>
                <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hidePartyNamePopup()">Cancel</button>
              </div>
            </div>
        	</div>
      </div>
<!-- Popup for party names ends -->
      <!-- popup for Dist -->
      <div id="popup1" [className]="my_class5">
            <div class="popup" style="width: 50%;">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="close" (click)="hideETenderPopup()" ><img class="" src="assets/images/delete.png"></div>
                  <h4 class="modal-title">Select Winning Bid To Create Agreement</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="content newContentPop paddingNo">
                        <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 paddingNo">
                            <div class="table-fixed padding-top table-responsive">
                                <table  [mfData]="eTenderList"  #mf5="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                  <thead>
                                    <!-- <tr>
                                        <td><mfDefaultSorter by="" >
                                          <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterDistName($event)"  placeholder="Filter By Lot Code"></mfDefaultSorter>
                                        </td>
                                        <td><mfDefaultSorter by="" >
                                          <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterDistName($event)"  placeholder="Filter By Commodity"></mfDefaultSorter>
                                        </td>
                                        <td><mfDefaultSorter by="" >
                                          <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterDistName($event)"  placeholder="Filter By Seller Name"></mfDefaultSorter>
                                        </td>
                                        <td><mfDefaultSorter by="" >
                                          <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterDistName($event)"  placeholder="Filter By Buyer Name"></mfDefaultSorter>
                                        </td>
                                        <td></td>
                                        <td><mfDefaultSorter by="" >
                                          <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterDistName($event)"  placeholder="Filter By Bid Rate"></mfDefaultSorter>
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Buyer Name</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Firm Name</mfDefaultSorter></th>
                                        <th><mfDefaultSorter by="" >Bid Rate</mfDefaultSorter></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td colspan="7" *ngIf="mf5.data.length==0" class="noDataDisp">No data to display</td>
                                    </tr>
                                    <tr *ngFor="let post of mf5.data;let i = index" (click)="onSelTender(post,i)" [class.active]="i == selectedTender" style="cursor:pointer">
                                      <td>{{post.iledLotCode}}</td>
                                      <td>{{post.gmpmgProdName}}</td>
                                      <td>{{post.frmFullName}}{{post.lcamFullName1}}</td>
                                      <td>{{post.lcamFullName}}</td>
                                      <td>{{post.lcamAgenCompName}}</td>
                                      <td>{{post.absBidRate}}</td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                    <tr>
                                      <td colspan="7">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                      </td>
                                    </tr>
                                  </tfoot>
                              </table>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelectTenderOK()">OK</button>
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideETenderPopup()">Cancel</button>
                </div>
              </div>
          </div>
      </div>
                    <!-- popup end -->
      <div id="popup1" [className]="my_class6">
            <div class="popup">
              <div class=" newContentPop ">
                <div>Your token has expired.<br> Redirecting to login page...</div>
              </div>

            </div>
        </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
