.searchImg{
	padding: 7px 6px 8px;
	border: 1px solid #ccc;
	border-left: none;
	background-color: #eee;
}
.marginleft14{
	margin-left: 14px;
}
.marginright5{
  margin-right: 5px;
}
.form-group{
	margin: 0;
}
.saleAgreementForm .row{
	margin-bottom: 10px;
}
.paddingBox{padding: 10px;}
.table.table-striped{border: 1px solid #ddd;box-shadow: 0px 0px 1px #ddd; border-radius: 5px;}
.table>tbody>tr>td{font-size: 12px;}
.table.table-striped thead{background: #f5f5f5;}
.table.table-striped thead th{color: #000; font-weight: 400;}
a.text-nowrap{color: #000 !important; font-weight: 400;}

.popup{padding: 0;}
.modal-body .table.table-striped{border: none;box-shadow: none; border-radius: 5px;}
.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
div.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;

}
div.disabled .inactvBtn{
    background-color: #efefef;
		border-top: 1px solid #cfd0d1;
}
#tbd .tbdClass{
    height: 120px;
    overflow-y: scroll;
}
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
