<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!-- 1st column -->
            <div id="popup5" [className]="my_class1">
              <div class="popup" >
                    <div class="alert alert-danger" >Please Enter the Organization Code</div>
              </div>
            </div>
            <div id="popup5" [className]="my_class2">
              <div class="popup" >
                    <div class="alert alert-danger" >Please Enter the Organization Name</div>
              </div>
            </div>
            <div id="popup5" [className]="my_class4">
              <div class="popup" >
                    <div  class="alert alert-danger" > Something Went Wrong</div>
              </div>
            </div>
            <!-- Save Message Popup Starts  -->
            <div [className]="my_class5" *ngIf= "postSaveRes != undefined">
            <div class="popup">
              <div class="modal-content">
                <div class="modal-header">
                    <div class="close" (click)="hideMessagePopUp()" ><img class="" src="assets/images/delete.png"></div>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <p class="col-xs-12" style="color:red" *ngIf="postSaveRes.status == 0">{{saveMsg}}</p>
                    <p class="col-xs-12" style="color:green" *ngIf="postSaveRes.status == 1">{{saveMsg}}</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideMessagePopUp()">OK</button>
                </div>
              </div>
            </div>
          </div>
            <!-- Save Message Popup Ends -->
            <div [className]="my_class6">
                <div class="popup" style="width: 50%;">
                  <div class="modal-content">
                    <div class="modal-header">
                        <div class="close" (click)="hideViewPopup()" ><img class="" src="assets/images/delete.png"></div>
                        <h4 class="modal-title" i18n="@@loco:$1166">Organization Master</h4>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div>
                             <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                               <p class="col-xs-12" i18n="@@loco:$1166">Name Of Organization</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchOrgName" (input)="filterOrgName()" >
                             </div>
                        </div>
                        <div>
                             <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                               <p class="col-xs-12" i18n="@@loco:$1582">City</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCityName" (input)="filterCityName()">
                             </div>
                        </div>
                        <div>
                             <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                               <p class="col-xs-12" i18n="@@loco:$1582">Code</p>
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCode" (input)="filterCode()">
                             </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="table-fixed padding-top table-responsive" *ngIf="filteredOrgMstList != undefined">
                              <table  [mfData]="filteredOrgMstList"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                <thead>
                                  <tr>
                                      <th i18n="@@loco:$1166"><mfDefaultSorter by="" >Org Id</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1582"><mfDefaultSorter by="" >Code</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >Name</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >Address Line 1</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >Address Line 2</mfDefaultSorter></th>
                                      <th i18n="@@loco:$1932"><mfDefaultSorter by="" >City</mfDefaultSorter></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                              <td colspan="7" *ngIf="mf2.data.length== 0 " class="noDataDisp">No data to display</td>
                                  </tr>
                                  <tr *ngFor='let post of mf2.data;let i= index'>
                                    <td style="cursor:pointer"><a (click)="onSelOrgId(post)">{{post.adomOrgId}}</a></td>
                                    <td>{{post.adomOrgcd}}</td>
                                    <td>{{post.adomOrgname}}</td>
                                    <td>{{post.adomProad}}</td>
                                    <td>{{post.adomParea}}</td>
                                    <td>{{post.adomCity}}</td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td colspan="7">
                                      <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                  </tr>
                                </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="modal-footer">
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelTraderPostOK()">Ok</button>
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideViewPopup()">Cancel</button>
                    </div> -->
                  </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Organisation Master</div>
            </div>
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Organisation Code</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="orgCode" maxlength="3">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Name of Premises/Road</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="nameOfRoad">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">City</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="cityName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Email Id</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="emailId">
              </div>

              <br>
            </div>
            <!-- 2nd column -->
            <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Organisation Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="orgName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Area/Location</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="areaName">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Pin Code</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="tel" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pinCode" maxlength="6">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Phone No.</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="tel" class="form-control input-adj inputDark inputWhite" [(ngModel)]="phNumber"  maxlength="10" >
              </div>

              <br>
            </div>
            <!-- nav tabs -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel with-nav-tabs panel-default">
                      <div class="panel-heading">
                              <ul class="nav nav-tabs centerTabs">
                                  <li class="active"><a href="#tab1default" data-toggle="tab">Tax Details</a></li>
                                  <li><a href="#tab2default" data-toggle="tab">Personal Information</a></li>


                              </ul>
                      </div>
                      <div class="panel-body bckd-color-blk_light">
                          <div class="tab-content">
                              <div class="tab-pane fade in active" id="tab1default">
                                <!-- Tax details -->
                                <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">PAN No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="panNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">CST No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="cstNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TDCAN No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tdCanNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TDS Circle</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tdsCircle" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Place</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="placeName" maxlength="20">
                                  </div>

                                  <br>
                                </div>
                                <div class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TAN</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tanNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">VAT</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vatNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">TCAN no.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="tcanNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Account Group No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="accountGroupNo" maxlength="20">
                                  </div>

                                  <br>

                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Establishment Code No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="estCodeNo" maxlength="20">
                                  </div>

                                  <br>
                                </div>
                              </div>
                              <div class="tab-pane fade" id="tab2default">
                                <div class=" col-sm-4 col-lg-4 col-md-4 col-xs-4 toolbar-adj">
                                  <!-- Personal information -->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Personal Name</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="personalName" >
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Flat No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="flatNo">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Area No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="areaNo">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Pin Code</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="tel" class="form-control input-adj inputDark inputWhite" [(ngModel)]="perPinCode" maxlength="6">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Admin Name</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="adminName">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Other Name</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="otherName">
                                  </div>

                                  <br>
                                </div>
                                <div class=" col-sm-4 col-lg-4 col-md-4 col-xs-4 toolbar-adj">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Designation</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="designation">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Name of Premises</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="nameOfPremises">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Village/City</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="villName">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Email Id</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="perEmailId">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Admin Contact</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="tel" class="form-control input-adj inputDark inputWhite" [(ngModel)]="adminContact" maxlength="10">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Other Contact</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="tel" class="form-control input-adj inputDark inputWhite" [(ngModel)]="otherContact" maxlength="10">
                                  </div>

                                  <br>
                                </div>
                                <div class=" col-sm-4 col-lg-4 col-md-4 col-xs-4 toolbar-adj">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Phone No.</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="tel" class="form-control input-adj inputDark inputWhite" [(ngModel)]="perPhoneNumber" maxlength="10">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Road</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="roadName">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">State</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn ">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="stateName">
                                    <!-- padding-bottom82 -->
                                  </div>
                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Admin Email</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="adminEmail">
                                  </div>

                                  <br>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Other Email</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="otherEmail">
                                  </div>

                                  <br>
                                </div>
                              </div>

                          </div>
                      </div>
                  </div>
                </div>
                <!-- Buttons -->
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                   <!-- *ngIf="showOnSaveSuccess" -->
                   <button type="button" class="btn btn-success" (click)="onViewOrgMaster()" *ngIf="showOnSaveSuccess" >View</button>
                   <button type="button" class="btn btn-success" (click)="onSaveOrgMaster()" *ngIf="!showOnSaveSuccess">Save</button>
                   <button type="button" class="btn btn-success" *ngIf="showOnSaveSuccess">Modify</button>
                   <button type="button" class="btn btn-warning" (click)="onResetOrgMaster()">Reset</button>
                </div>
                <div id="popup4" [className]="my_class3">
                      <div class="popup">
                        <div class=" newContentPop ">
                          <div>Your token has expired.<br> Redirecting to login page...</div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
