<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Weighment</div>
              </div> -->
              <div class="panel panel-default">
                <div class="screen_header"><span>Weighment</span></div>
                <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">
                      *Weighment
                      <input type="radio" class="marginleft14 marginright5" name="weighment" value="vehicle" (click)="setRadio(vehicle.value)" #vehicle>Vehicle Wise
                      <input type="radio" class="marginleft14 marginright5" name="weighment" value="lot" (click)="setRadio(lot.value)" [checked]="true" #lot>Lot Wise
                  </div>
                </div>
                  <br>
                  <div class="row">
                    <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
                      <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Lot Code</div>
                      <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="iled_lot_code" readonly>
                          </div>
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                            <img src="assets/images/search.png">
                          </div>

                      </div>
                      <br>
                      <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*Gate Entry Date</div>
                      <div *ngIf="shown1" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                        <form #myForm="ngForm" novalidate>
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                          [(ngModel)]="entryDate" required></my-date-picker>
                        </form>
                      </div>
                      <br>
                      <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Vehicle</div>
                      <div *ngIf="shown1" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="vehDesc" readonly>
                          </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg enabled" style="    cursor: not-allowed;">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                      <br>
                      <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Seller Type</div>
                      <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                       <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="in_importer_type" [readonly]="true">
                     </div>
    		              <br>
                     <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*Gross Weight</div>
                     <div *ngIf="shown1" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                       <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="grossWeight" min="0" (change)="onGrossWeight()" >
                     </div>
    		             <br>
                     <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*Vehicle Weight</div>
                     <div *ngIf="shown1" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                     <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehWeight" min="0" (change)="onVehWeight()">
                   </div>
    		             <br>
                    <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bag Type</div>
                    <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                          <input type="text" class="form-control input-adj inputDark inputWhite " [(ngModel)]="gmptm_desc" [readonly]="true">
                        </div>
                    </div>
                    <br>
                    <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Lot Weight in Kg</div>
                    <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                     <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="ingateqtykgs" (change)="onKgValChange()">
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite"  *ngIf="shown2">Weighment Charges</div>
                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn"  *ngIf="shown2">
                    <input type="text" class="form-control input-adj inputDark inputWhite" value="0" readonly>
                  </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite"  *ngIf="shown1">Weighment Charges</div>
                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn" *ngIf="shown1">
                    <input type="text" class="form-control input-adj inputDark inputWhite" value="0" readonly>
                  </div>
                </div>
              <!-- 2nd column -->
                <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6 toolbar-adj" style="padding-top:0px;">
                   <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Product</div>
                   <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="gmpmg_prod_name" readonly>
                   </div>
                   <br>
                   <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:0px;">Gate Entry No.</div>
                    <div *ngIf="shown1" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn " [class.disabled]="(entryDate == undefined) || entryDate == ''">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                          <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="entryNo" readonly>
                        </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg inactvBtn" (click)="getLotVehWise()">
                        <img src="assets/images/search.png">
                      </div>
                    </div>
                    <br>
                   <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Seller Name</div>
                      <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="in_importer_name" readonly>
                      </div>
       		           <br>
                     <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Vehicle No.</div>
                      <div *ngIf="shown1" class="form-group col-lg-10 col-md-10 col-sm-10 col-xs-10  res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehNo" readonly>
                      </div>
                      <div *ngIf="shown1" class=" col-sm-2 col-lg-2 col-md-2 col-xs-2 text-align-center" style="margin: 0 -24px;">
                        <button type="button" class="btn btn-success">Get Weight</button>

                      </div>
       		           <br>
                     <div *ngIf="shown1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Net Weight</div>
                      <div *ngIf="shown1" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="netWeight" readonly>
                      </div>
                      <br>
                     <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">No of Bags</div>
                     <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                       <input type="number" class="form-control input-adj inputDark inputWhite" [(ngModel)]="iled_noof_bags" (ngModelChange)="editBags($event)">
                     </div>
    		           <br>
                   <div *ngIf="shown2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Lot Weight in Qtl</div>
                    <div *ngIf="shown2" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                      <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="iledQtyQuintals" readonly>
                    </div>
     		           <br>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Remarks</div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                        <textarea class="form-control greyBorderBck" rows="2" id="comment" cols="70" [(ngModel)]="remarks"></textarea>
                    </div>
     	             <br>
                </div>
              </div>
              <div class="row" *ngIf="shown2">
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                   <button type="button" class="btn btn-success" (click)="onSaveWeighment()">Save</button>
                   <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
                 </div>
              </div>
              <div class="row" *ngIf="shown1">
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                   <button type="button" class="btn btn-success" (click)="saveWeighmentVehicleWise()">Save</button>
                   <button type="button" class="btn btn-warning" (click)="onResetVehicleWise()">Reset</button>
                 </div>
              </div>
                </div>
              </div>
             <div id="popup1" [className]="my_class2">
               <div class="popup" >
                     <div  style="color:green;padding-bottom:10px;" >{{saveMsg}}</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class3">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" >Please Choose Lot Code First</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class4">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" >	Please Enter No. of Bag Greater Than Zero </div>
               </div>
             </div>
             <div id="popup1" [className]="my_class5">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" >	Please Enter Valid Lot Weight in Kg</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class7">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" >	Gross Weight Must Be Greater Than Vehicle Weight</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class8">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" >	Vehicle Weight Must Be Lesser Than Gross Weight</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class9">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" > Please Enter Valid Gross Weight</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class10">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" > Please Enter Valid Vehicle Weight</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class11">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" > Please Select Gate Entry Date</div>
               </div>
             </div>
             <div id="popup1" [className]="my_class12">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" > Please Choose Gate Entry No</div>
               </div>
             </div>
             <div id="popup5" [className]="my_class13">
               <div class="popup" >
                     <div  style="color:red;padding-bottom:10px;" > Something Went Wrong</div>
               </div>
             </div>
             <div id="popup5" [className]="my_class14">
               <div class="popup" >
                     <div  style="color:green;padding-bottom:10px;" > Vehicle Wise Weighment Saved Successfully</div>
               </div>
             </div>
<!-- Pop Up For Lot Code Starts -->
<div id="popup1" [className]="my_class1">
  <div class="popup" >
              <div class="modal-content">
                <div class="modal-header">
                  <div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                  <h4 class="modal-title">Lot Code</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12  res-btn">
                      <p>Lot From Date</p>
                      <form #myForm="ngForm" novalidate>
                      <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date"
                      [(ngModel)]="lotFromDate" required ></my-date-picker>
                      </form>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12  res-btn">
                      <p>Lot To Date</p>
                      <form #myForm="ngForm" novalidate>
                      <my-date-picker name="mydate2" [options]="myDatePickerOptions" placeholer="Pick date"
                      [(ngModel)]="lotToDate" required></my-date-picker>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 text-align-center">
                    <button type="submit" class="btn btn-success" (click)="onSearchLotCode()">Search</button>
                    <button type="submit" class="btn btn-warning" (click)="onLotCodeReset()">Reset</button>
                    </div>
                  </div>
                  <div class="row">
                    <flash-messages></flash-messages>
                  </div>
                  <hr>
                  <div class="row">
                    <div class=" col-sm-6 col-xs-12 res-btn padding-top padding-bottom8">
                      <p>Lot Code</p>
                      <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="lotCodeFilter"  (input)="onLotCodeFilter()"  placeholder="Lot Code">
                    </div>
                    <div class=" col-sm-6 col-xs-12 res-btn padding-top padding-bottom8">
                      <p>Commision Agent</p>
                      <input type="text" class="form-control input-adj inputDark inputWhite"  placeholder="Commision Agent">
                    </div>
                  </div>
                  <div class="content newContentPop paddingNo">
                      <div class="row">
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 ">
                          <div class="table-fixed padding-top table-responsive">
                              <table  [mfData]="filteredData1"  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                <thead>
                                  <tr>
                                    <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Seller Type</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Seller Name</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                    <th><mfDefaultSorter by="" >Commission Agent</mfDefaultSorter></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td colspan="7" *ngIf="mf.data.length==0" class="noDataDisp">No data to display</td>
                                  </tr>
                                  <tr *ngFor="let post of mf.data;let i = index" (click)="CheckLotCode(post,i)" [class.active]="i == selectedLot" style="cursor:pointer">
                                    <td>{{post.iled_lot_code}}</td>
                                    <td>{{post.in_importer_type}}</td>
                                    <td>{{post.in_importer_name}}</td>
                                    <td>{{post.gmpmg_prod_name}}</td>
                                    <td>{{post.lcam_full_name}}</td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td colspan="7">
                                      <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                  </tr>
                                </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="selectedLotRow()">Ok</button>
                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                </div>
              </div>
          </div>
        </div>
<!-- Pop Up For Lot Code Ends -->
<!-- Pop Up For Lot Code Vehicel Wise Starts -->
<div id="popup1" [className]="my_class6">
    <div class="popup">
      <div class="modal-content">
         <div class="modal-header">
          <div class="close" (click)="hidePopUpVehWise()" ><img class="" src="assets/images/delete.png"></div>
           <h4 class="modal-title">Gate Entry No.</h4>
         </div>
         <div class="modal-body">
           <div class="newContentPop">
             <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Vehicle Number</div>
                  <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchVehicleNo" id="" (input)="searchVehicleNo()" placeholder="Filter By Vehicle Number">
                  </div>
             </div>
             <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Owner Name</div>
                  <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchOwnerName" id="" (input)="searchOwnerName()" placeholder="Filter By Owner Name">
                  </div>
             </div>
             <div class="row">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Ingate Number</div>
                  <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                    <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchIngateNo" id="" (input)="searchIngateNo()" placeholder="Filter By Ingate Number">
                  </div>
             </div>
                <div class="">
                  <!-- <div class="table-fixed padding-top table-responsive" *ngIf="filteredLotVehList == undefined">
                    <div class="noDataDisp">No data to display</div>
                  </div> -->
                       <div class="table-fixed padding-top table-responsive" >
                           <table  [mfData]="filteredLotVehList"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                             <thead>
                               <tr>
                                   <th><mfDefaultSorter by="frmFullName" >Ingate Number</mfDefaultSorter></th>
                                   <th><mfDefaultSorter by="" >Owner Name</mfDefaultSorter></th>
                                   <th><mfDefaultSorter by="frmRelationId" >Vehicle Number</mfDefaultSorter></th>
                               </tr>
                               <tr>
                                 <td colspan="3" *ngIf="mf2.data.length == 0" class="noDataDisp">No data to display</td>
                               </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor='let post of mf2.data;let i= index' (click)="onVehicleSelect(post,i)" [class.active]="i == selVehIndex" style="cursor:pointer" >
                                 <td>{{post.ilehTranId}}</td>
                                 <td>{{post.ilehOwnerFullName}}</td>
                                 <td>{{post.ilehVechNo}}</td>
                               </tr>
                             </tbody>
                             <tfoot>
                               <tr>
                           <td colspan="7">
                             <mfBootstrapPaginator></mfBootstrapPaginator>
                           </td>
                               </tr>
                             </tfoot>
                         </table>
                       </div>
               </div>
           </div>


         </div>
         <div class="modal-footer">
           <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelVehicleOK()">Ok</button>
           <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hidePopUpVehWise()">Cancel</button>
         </div>
     </div>
    </div>
</div>
<!-- Pop Up For Lot Code Vehicle Wise Ends -->





             <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
            <div id="popup4" [className]="my_class50">
                  <div class="popup">

                    <div class=" newContentPop ">
                      <div>Your token has expired.<br> Redirecting to login page...</div>
                    </div>

                  </div>
              </div>
<!--popup ends-->


            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
