.marginleft14{
	margin-left: 14px;
}
.marginright5{
  margin-right: 5px;
}
.searchImg{
	padding: 7px 1px;
	/* background-color: #00a65a;
	border-top: 0px solid #00a65a; */
}
.paddingBox{padding: 10px;}
.singleSideIcon {
    height: 37px;
    padding: 8px 0;
    cursor: pointer;
    display: inline-block;
}
.modal-body .form-control {
    display: inline-block;
    vertical-align: top;
    /*width: 80%;*/
    height: 36px;
    padding: 6px 12px;
}
.popup{padding: 2px;}
.popup table{font-size: 12px;}
.popup table td{padding: 3px;}
.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
div.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;
}
div.disabled .inactvBtn{
    background-color: #efefef;
		border-top: 1px solid #cfd0d1;
}
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
