.marginleft14{
	margin-left: 14px;
}
.marginright5{
  margin-right: 5px;
}
.searchImg{
	padding: 6px;
	cursor: pointer;
}
.paddingTop8{
	padding-top: 8.5%;
}
.box-body.paddingBox{padding: 10px;}
.popup{padding: 0;}
div.disabled {
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;
}
.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
.res-btn #abc.winkel-calendar.wc-date-container span {
    color: #555!important;
}
.searchImg.disabled{
    background: #eeeeee;
		border: 1px solid #bbb;
		border-left: none;
	}
	.searchImg{
	    padding: 6px;
	    background: #eee;
	    border: 1px solid #ccc;
	    border-left: none;
	}
	.panel-heading-top{
	    color: #333;
	    background-color: #FFE4C4;
	    border-color: #ddd;
	}
