<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body paddingBox">
              <div class="panel panel-default">
                <div class="screen_header"><span i18n="@@loco:$640">Vehicle Registration</span></div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom20 color-notPureWhite paddingleft26"  >*Fee Type
                      <input type="radio" name="fee" class="marginleft14 marginright5" checked (change)="checkedMonthly()"><span i18n="@@loco:$500">Monthly</span>
                      <input type="radio" name="fee" class="marginleft14 marginright5" (change)="checkedAnnually()"><span i18n="@@loco:$601">Annually</span>
                    </div>
                  </div>
                  <div id="popup1" [className]="my_class6">
                    <div class="popup" *ngIf="saveRes != undefined">
                          <div class="alert alert-success"  *ngIf="saveRes.status == '1'">{{successMsg}}</div>
                          <div class="alert alert-danger" *ngIf="saveRes.status == '0'">{{successMsg}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$478">*Vehicle Type</p>
                      <div class="form-group res-btn">
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="vehDesc" readonly placeholder="Select Vehicle" i18n-placeholder="[placeholder]@@loco:$1916">
                         </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$1917">Registration Fee</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehAmount" [disabled]="true" placeholder="Registration Fee" i18n-placeholder="[placeholder]@@loco:$1917">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$574">*Vehicle Number</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehNo" placeholder=" Vehicle No" i18n-placeholder="[placeholder]@@loco:$574">
                      </div>
                    </div>
                      <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <p i18n="@@loco:$480">Valid From</p>
                        <div class="form-group res-btn" [class.disabled]="true">
                           <form #myForm="ngForm" novalidate >
                             <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                             [(ngModel)]="fromDate" required></my-date-picker>
                           </form>
                        </div>
                     </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$481">Valid to</p>
                      <div class="form-group res-btn" [class.disabled]="true">
                         <!-- <angular2-date-picker [(ngModel)]="" [settings]="settings" readonly></angular2-date-picker> -->
                         <form #myForm="ngForm" novalidate >
                           <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                           [(ngModel)]="toDate" required></my-date-picker>
                         </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$482">*Owner Name</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="ownerName" placeholder="Enter Owner Name" i18n-placeholder="[placeholder]@@loco:$508" >
                      </div>
                    </div>
                      <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <p i18n="@@loco:$493">*Mobile Number</p>
                        <div class="form-group res-btn">
                          <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="mobNo" placeholder="Enter Mobile No" i18n-placeholder="[placeholder]@@loco:$519" >
                        </div>
                     </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$494">Email Id</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="emailId" placeholder="Enter Email Id" i18n-placeholder="[placeholder]@@loco:$520">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$560">Address1</p>
                      <div class="form-group res-btn">
                        <textarea class="form-control greyBorderBck" rows="2" id="comment" placeholder="Enter Address 1" [(ngModel)]="add1" i18n-placeholder="[placeholder]@@loco:$509"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$737">Address2</p>
                      <div class="form-group res-btn">
                        <textarea class="form-control greyBorderBck" rows="2" id="comment"  placeholder="Enter Address 2" [(ngModel)]="add2" i18n-placeholder="[placeholder]@@loco:$510"></textarea>
                      </div>
                   </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$1918">Alternate Number</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="altMobNo"  placeholder="Enter Contact No" i18n-placeholder="[placeholder]@@loco:$521">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$485">State</p>
                      <div class="form-group res-btn">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                          <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="stateDesc" placeholder="Select State" readonly i18n-placeholder="[placeholder]@@loco:$511">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                          <img src="assets/images/search.png">
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4" >
                      <p  i18n="@@loco:$486">District</p>
                      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo" [class.disabled]="distSearchDisabled">
                        <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="distDesc" placeholder="Select District" readonly i18n-placeholder="[placeholder]@@loco:$512">
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="openDistPopup()" [class.disabled]="distSearchDisabled">
                        <img src="assets/images/search.png">
                      </div>
                   </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$487">Tehsil</p>
                      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo" [class.disabled]="tahsilSearchDisabled">
                        <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [(ngModel)]="tehsilDesc" placeholder="Select Tehsil" readonly i18n-placeholder="[placeholder]@@loco:$513">
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="openTehsilPopup()" [class.disabled]="tahsilSearchDisabled">
                        <img src="assets/images/search.png">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$489">Village/City</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="city" placeholder="Select Village/City" i18n-placeholder="[placeholder]@@loco:$515">
                      </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$488">Pincode</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="pinCode" placeholder="Enter Pincode" i18n-placeholder="[placeholder]@@loco:$514">
                      </div>
                   </div>
                    <div class="col-sm-4 col-lg-4 col-md-4 col-xs-4">
                      <p i18n="@@loco:$490">Remark</p>
                      <div class="form-group res-btn">
                        <textarea class="form-control greyBorderBck" rows="2" id="comment" placeholder="Enter Remarks" [(ngModel)]="remarks" i18n-placeholder="[placeholder]@@loco:$516"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj text-align-center">
                      <flash-messages></flash-messages>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                      <button type="button" class="btn btn-success" (click)="saveVehicleRegistration()" i18n="@@loco:$21">Save</button>
                      <button type="button" class="btn btn-warning" (click)="onReset()" i18n="@@loco:$1571"> Reset</button>
                    </div>
                  </div>
                </div>
              </div>
          <!-- Vehicle Type Popup -->
              <div id="popup1" [className]="my_class1">
                	<div class="popup">
                    <div class="modal-content">
                        <div class="modal-header">
                          <div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                      		<h4 class="modal-title" i18n="@@loco:$864">Vehicle</h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <p class="col-xs-12" i18n="@@loco:$479"> Vehicle Type Code</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehicleCodeFilter" (input)="onVehicleCodeFilter()">
                             </div>
                          </div>
                          <div class="row">
                            <p class="col-xs-12" i18n="@@loco:$593"> Vehicle Type Description</p>
                             <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                               <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="vehicleDescFilter" (input)="onVehicleDescFilter()">
                             </div>
                          </div>
                          <div class="row">
                              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                              	<div class="table-fixed padding-top table-responsive">
                              	    <table  [mfData]="filterdVehicleTypeInfo"  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                              		    <thead>
                              		      <tr>
                            				  			<th i18n="@@loco:$479"><mfDefaultSorter by="" >Vehicle Type Code</mfDefaultSorter></th>
                            				  			<th i18n="@@loco:$593"><mfDefaultSorter by="" >Vehicle Type Description</mfDefaultSorter></th>
                              		      </tr>
                              		    </thead>
                              		    <tbody>
                              		      <tr>
                              			<td colspan="7" *ngIf="mf3.data.length=='0'" class="noDataDisp">No data to display</td>
                              		      </tr>
                              		      <tr *ngFor='let post of mf3.data;let i=index' (click)="onVehicleTypeSelect(post,i)" [class.active]="i == selectedVehicle" style="cursor:pointer">
                        					  			<td>{{post.gvrmVehTypeCd}}</td>
                        					  			<td>{{post.gvrmVehDesc}}</td>
                              		      </tr>
                              		    </tbody>
                              		    <tfoot>
                              		      <tr>
                              			<td colspan="7">
                              			  <mfBootstrapPaginator></mfBootstrapPaginator>
                              			</td>
                              		      </tr>
                              		    </tfoot>
                              		</table>
                              	</div>
                              </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelectVehicleTypeOK()">OK</button>
                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                        </div>
                      </div>
                	</div>
              </div>
              <!-- popup end -->
              <!-- popup for state -->
              <div id="popup1" [className]="my_class2">
                      <div class="popup">
                        <div class="modal-content">
                          <div class="modal-header">
                          <div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                            <h4 class="modal-title" i18n="@@loco:$485">State Name</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="table-fixed padding-top table-responsive">
                                  <table  [mfData]="allStates"  #mf8="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                    <thead>
                                      <tr>
                                          <th i18n="@@loco:$66"><mfDefaultSorter by="" >State Id</mfDefaultSorter></th>
                                          <th i18n="@@loco:$567"><mfDefaultSorter by="" >State Name</mfDefaultSorter></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                  <td colspan="7" *ngIf="mf8.data.length==0" class="noDataDisp">No data to display</td>
                                      </tr>
                                      <tr *ngFor="let post of mf8.data;let i = index" (click)="onSelState(post,i)" [class.active]="i == selectedState" style="cursor:pointer">
                                        <td>{{post.gmsmStateId}}</td>
                                        <td>{{post.gmsmStateDesc}}</td>
                                      </tr>
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                  <td colspan="7">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                  </td>
                                      </tr>
                                    </tfoot>
                                </table><!--TABLE ENDS-->
                              </div><!--TABLE DIV ENDS HERE-->
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelectStateOK()">OK</button>
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                          </div>
                        </div>
                          </div>
                    </div>
              <!-- popup end -->
<!-- popup for Dist -->
<div id="popup1" [className]="my_class3">
      <div class="popup">
        <div class="modal-content">
          <div class="modal-header">
            <div class="close" (click)="hideDistPopup()" ><img class="" src="assets/images/delete.png"></div>
            <h4 class="modal-title" i18n="@@loco:$568">District Name</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="content newContentPop paddingNo">
                <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 res-btn padding-top padding-bottom10">
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterDistName($event)"  placeholder="District Name" i18n-placeholder="[placeholder]@@loco:$568">
                </div>
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 paddingNo">
                      <div class="table-fixed padding-top table-responsive">
                          <table  [mfData]="filteredDists"  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                            <thead>
                              <tr>
                                  <th i18n="@@loco:$110"><mfDefaultSorter by="" >District Id</mfDefaultSorter></th>
                                  <th i18n="@@loco:$486"><mfDefaultSorter by="" >District Name</mfDefaultSorter></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td colspan="7" *ngIf="mf1.data.length==0" class="noDataDisp">No data to display</td>
                              </tr>
                              <tr *ngFor="let post of mf1.data;let i = index" (click)="onSelDist(post,i)" [class.active]="i == selectedDist" style="cursor:pointer">
                                <td>{{post.gmdmDistId}}</td>
                                <td>{{post.gmdmDistDesc}}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="7">
                                  <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                              </tr>
                            </tfoot>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelectDistrictOK()">OK</button>
            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideDistPopup()">Cancel</button>
          </div>
        </div>
    </div>
</div>
              <!-- popup end -->

              <!--  Popup for tehsil starts-->
              <div id="popup1" [className]="my_class5">
                      <div class="popup">
                        <div class="modal-content">
                          <div class="modal-header">
                            <div class="close" (click)="hideTehsilPopup()" ><img class="" src="assets/images/delete.png"></div>
                            <h4 class="modal-title" i18n="@@loco:$487">Tehsil Name</h4>
                          </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 res-btn padding-top padding-bottom10">
                              <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="" (ngModelChange)="filterTehsilName($event)"  placeholder="Tehsil Name" i18n-placeholder="[placeholder]@@loco:$487">
                            </div>
                          </div>
                          <div class="row">
                            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 paddingNo">
                                <div class="table-fixed padding-top table-responsive">
                                    <table  [mfData]="filteredTehsils"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                      <thead>
                                        <tr>
                                            <th i18n="@@loco:$76"><mfDefaultSorter by="" >Tehsil Id</mfDefaultSorter></th>
                                            <th i18n="@@loco:$487"><mfDefaultSorter by="" >Tehsil Name</mfDefaultSorter></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                    <td colspan="7" *ngIf="mf2.data.length==0" class="noDataDisp">No data to display</td>
                                        </tr>
                                        <tr *ngFor="let post of mf2.data;let i = index" (click)="onSelTehsil(post,i)" [class.active]="i == selectedTehsil" style="cursor:pointer">
                                          <td>{{post.gmtmTahsilId}}</td>
                                          <td>{{post.gmtmTashilDesc}}</td>
                                        </tr>
                                      </tbody>
                                      <tfoot>
                                        <tr>
                                    <td colspan="7">
                                      <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                        </tr>
                                      </tfoot>
                                  </table>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSelectTehsilOK()">OK</button>
                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="hideTehsilPopup()">Cancel</button>

                        </div>
                      </div>
                    </div>
              </div>
              <!--  Popup for tehsil ends-->
              <div id="popup4" [className]="my_class4">
                    <div class="popup">
                      <div class=" newContentPop ">
                        <div>Your token has expired.<br> Redirecting to login page...</div>
                      </div>

                    </div>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
