<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!-- 1st column -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Farmer Registration</div>
            </div>
            <div class=" col-sm-4 col-lg-4 col-md-4 col-xs-4 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Registration Level</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value=""></option>

                </select>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer Registration Date</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <form #myForm="ngForm" novalidate>
                   <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                   [(ngModel)]="dateInsert" required [disabled]="true"></my-date-picker>
                 </form>
               </div>
               <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Full Name</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Address 1</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <textarea class="form-control greyBorderBck" rows="2" id="comment"></textarea>
               </div>
		           <br>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer District</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn ">
  		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
  		            <input type="text" class="form-control input-adj inputDark inputWhite " [ngModel]="''" [disabled]="true">
  		        </div>
                <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                  <img src="assets/images/search.png">
                </div> -->
             </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer Pin Code</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Fax Number</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">KYC ID proof Type</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value=""></option>

                </select>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer Login ID</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bank Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

            </div>
            <!-- 2nd column -->
            <div class=" col-sm-4 col-lg-4 col-md-4 col-xs-4 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Service Provider</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn padding-bottom20">
    		        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
    		            <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
    		        </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer Gender<br>
                <input type="radio" name="farmer">Male
                <input type="radio" name="farmer">Female
                <input type="radio" name="farmer">Others
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Address 2</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <textarea class="form-control greyBorderBck" rows="2" id="comment"></textarea>
               </div>
	             <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer Tehsil</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
    		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
    		           <input type="text" class="form-control input-adj inputDark inputWhite " [ngModel]="''" [disabled]="true">
    		        </div>
                <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" color-notPureWhite>
                  <img src="assets/images/search.png">
                </div> -->
             </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Farmer Contact No.</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Adhar Card</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Kyc Proof ID</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Remark</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <textarea class="form-control greyBorderBck" rows="2" id="comment"></textarea>
               </div>
	              <br>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bank Account</div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                  <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                </div>
 		            <br>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  color-notPureWhite">
                  <input type="checkbox">Defunct
                </div>
                <br>
            </div>
            <!-- 3rd column -->
            <div class=" col-sm-4 col-lg-4 col-md-4 col-xs-4 toolbar-adj">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Category</div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                  <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                <img src="assets/images/search.png">
              </div>
            </div>
            <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer DOB</div>
             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
               <form #myForm="ngForm" novalidate>
                 <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                 [(ngModel)]="dateInsert" required></my-date-picker>
               </form>
             </div>
             <br>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer State</div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                  <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show3()">
                <img src="assets/images/search.png">
              </div>
            </div>
            <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer City/Village</div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                  <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show4()">
                <img src="assets/images/search.png">
              </div>
            </div>
            <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Farmer Email Id</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn padding-bottom20">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom34  color-notPureWhite">
              <input type="checkbox">KYC Approved Flag
            </div>
            <br>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Approved Date</div>
             <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
               <form #myForm="ngForm" novalidate>
                 <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                 [(ngModel)]="dateInsert" required></my-date-picker>
               </form>
             </div>
             <br>

             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Relation</div>
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                <select class="form-control   input-adj inputDark inputWhite">
                  <option value="">D/O</option>
                  <option value="">S/O</option>
                  <option value="">W/O</option>
                  <option value="">F/O</option>
                </select>
              </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn padding-bottom40">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
               <br>

               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">IFSC Code</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>

               <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
                  <button type="button" class="btn btn-success color-notPureWhite">Get IFSC Code</button>

                </div>
            </div>
              <!-- Buttons -->
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-warning"> Reset</button>
              </div>
              <!--Pop of  Service Provider starts-->
              <div id="popup1" [className]="my_class1">
                              	<div class="popup">
                              		<h2>Service Provider</h2>
                              		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown1" (click)="onAdvance()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown2" (click)="onBasic()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Code</div>
                                    <div *ngIf="shown2" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Description</div>
                                       <div *ngIf="shown2" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                           <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                 <option value="">Starts With</option>
                                                 <option value="">Ends With</option>
                                                 <option value="">Equals</option>
                                                 <option value="">Doesn't Equal</option>
                                                 <option value="">Less Than</option>
                                                 <option value="">Less Than or Equal To</option>
                                                 <option value="">Greater Than</option>
                                                 <option value="">Greater Than or Equal To</option>
                                                 <option value="">Between</option>
                                                 <option value="">Not Between</option>
                                                 <option value="">Contains</option>
                                                 <option value="">Doesn't Contain</option>
                                                 <option value="">Is Blank</option>
                                                 <option value="">Is Not Blank</option>
                                           </select>
                                         </div>
                                          <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                            <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                          </div>
                           		           <br>


                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Code</mfDefaultSorter></th>
                                          				  			<th><mfDefaultSorter by="" >Description</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf1.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of  Category starts-->
              <div id="popup1" [className]="my_class2">
                              	<div class="popup">
                              		<h2>Category</h2>
                              		<div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown3" (click)="onAdvance2()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown4" (click)="onBasic2()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Code</div>
                                    <div *ngIf="shown4" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Description</div>
                                       <div *ngIf="shown4" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                           <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                 <option value="">Starts With</option>
                                                 <option value="">Ends With</option>
                                                 <option value="">Equals</option>
                                                 <option value="">Doesn't Equal</option>
                                                 <option value="">Less Than</option>
                                                 <option value="">Less Than or Equal To</option>
                                                 <option value="">Greater Than</option>
                                                 <option value="">Greater Than or Equal To</option>
                                                 <option value="">Between</option>
                                                 <option value="">Not Between</option>
                                                 <option value="">Contains</option>
                                                 <option value="">Doesn't Contain</option>
                                                 <option value="">Is Blank</option>
                                                 <option value="">Is Not Blank</option>
                                           </select>
                                         </div>
                                          <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                            <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                          </div>
                           		           <br>

                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Code</mfDefaultSorter></th>
                                          				  			<th><mfDefaultSorter by="" >Description</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf2.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of  Farmer State starts-->
              <div id="popup1" [className]="my_class3">
                              	<div class="popup">
                              		<h2>Farmer State</h2>
                              		<div class="close" (click)="div_hide3()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown5" (click)="onAdvance3()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown6" (click)="onBasic3()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Name</div>
                                    <div *ngIf="shown6" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>


                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Name</mfDefaultSorter></th>


                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf3.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf3.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide3()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of  Farmer City/Village starts-->
              <div id="popup1" [className]="my_class4">
                              	<div class="popup">
                              		<h2>Farmer City/Village</h2>
                              		<div class="close" (click)="div_hide4()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown7" (click)="onAdvance4()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown8" (click)="onBasic4()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Village/City</div>
                                    <div *ngIf="shown8" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>


                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf4="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Village/City	</mfDefaultSorter></th>


                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf4.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf4.data'>

                                      					  			<td></td>


                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide4()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
