<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">

            <!-- <div class='wrapper'>
                <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
                    <div *ngFor='let text of many' [innerHtml]='text'></div>
                </div>
                <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
                    <div *ngFor='let text of many2' [innerHtml]='text'></div>
                </div>
            </div> -->
            <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj"><span class="col-sm-12 col-xs-12 col-md-12 col-lg-12 top-text-card">Jobs</span>

              <div class="container col-sm-12 col-xs-12 col-md-12 col-lg-12 paddingNo innerCard" [dragula]='"another-bag"' [dragulaModel]='many' style="cursor:move;height:509px;">
                  <div class="PCards" *ngFor="let text of many">{{text}}</div>
              </div>
            </div>

            <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj"><span class="col-sm-12 col-xs-12 col-md-12 col-lg-12 top-text-card">Workflow</span>

              <div class="container col-sm-12 col-xs-12 col-md-12 col-lg-12 paddingNo innerCard" [dragula]='"another-bag"' [dragulaModel]='many2' style="cursor:move;height:509px;">
                  <div class="PCards" *ngFor="let text of many2">{{text}}</div>
              </div>
            </div>
            <br>
            <!-- <div class='wrapper col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj'>
                <div class='container'>
                    <pre>{{many | json}}</pre>
                </div>
                <div class='container'>
                    <pre>{{many2 | json}}</pre>
                </div>
            </div> -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                <button type="button" class="btn btn-success" (click)="workflowData()">Save</button>
                <button type="button" class="btn btn-warning">Reset</button>
            </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
