<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Fee Category</div>
            </div>
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Category</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
               </div>
		           <br>
               <div class="color-notPureWhite">
                 <input type="checkbox">Defunct
               </div>
            </div>
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">

                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Delete</button>
                  </div>
                </div>

            <!-- Table -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                				  			<th><mfDefaultSorter by="" >Sr. No.</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >*Component</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Seq0</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			       <!-- <td colspan="3" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>
            					  			<td>1</td>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                                      <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                                    </div>
                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                                    <img src="assets/images/search.png">
                                  </div>
                                </div>
                              </td>
            					  			<td>0</td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="3">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
            </div>
            </div>
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
              <button type="button" class="btn btn-success">Save</button>
               <button type="button" class="btn btn-warning"> Reset</button>
            </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
