<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default paddingBox">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="panel panel-default">
              <div class="screen_header"><span>Bid Rejection</span></div>
              <div class="panel-body">
                  <!-- <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom20 color-notPureWhite paddingleft30">
                          Match
                          <input type="radio" name="match" class="marginleft14 marginright5">All
                          <input type="radio" name="match" class="marginleft14 marginright5">Any
                    </div>
                  </div> -->
                  <div class="row">
                      <div class="col-xs-12 col-md-4">
                        <p>*Bid Declaration Date</p>
                         <div class="form-group res-btn">
                           <form #myForm="ngForm" novalidate>
                             <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                             [(ngModel)]="declarationDate" required></my-date-picker>
                           </form>
                         </div>
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <p>Lot Code</p>
                        <div class="form-group res-btn">
                          <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLotCode" (input)="onLotCode()">
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <p>Commodity</p>
                        <div class="form-group  res-btn">
                          <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCommodityName" (input)="onCommodity()">
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 text-align-center padding-bottom10">
                        <button type="button" class="btn btn-success" (click)="onBidRejSearch()">Search</button>
                        <button type="button" class="btn btn-warning" (click)="onResetBidCreation()">Reset</button>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12 ">
                     <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" [class.active]="activeSelect" id="select_bids" (click)="onSelectAll()" [disabled]="!activeSelect">Select All</button>
                     <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" [class.active]="activeDeSelect" id="deselect_bids" (click)="onDeSelectAll()" [disabled]="!activeDeSelect">Deselect All</button>
                     <button type="submit" class="btn  white m-b input-adj outlineNo greybtn" [class.active]="activeCreate" id="reject_ids" (click)="onSaveRejectedBid()" [disabled]="!activeCreate">Reject Bid</button>
                   </div>
                  </div>
                  <br>
                  <div id="popup5" [className]="my_class2">
                    <div class="popup" >
                          <div  style="color:green;padding-bottom:10px;" >Bid Rejection Successful</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                      <div class="table-fixed padding-top table-responsive">
                          <table  [mfData]="filteredBidLists"  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                            <thead>
                              <tr>
                                <th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="" >Bid Declaration Date</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="" >Commodity UOM Qty</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="" >Bid Rate</mfDefaultSorter></th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                          <td colspan="6" *ngIf="mf.data.length== 0" class="noDataDisp">No data to display</td>
                              </tr>
                              <tr *ngFor='let post of mf.data;let i= index'>
                                <td>
                                  <input type="checkbox" value="" (click)="onCheckBid(post,$event.target.checked,i)" id="checkId_{{i}}">
                                </td>
                                <td>{{post.fdate}}</td>
                                <td>{{post.gmpmgProdName}}</td>
                                <td>{{post.iledLotCode}}</td>
                                <td>{{post.wtquintal}}</td>
                                <td>{{post.absBidRate}}</td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                          <td colspan="6">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                              </tr>
                            </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
