<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <!--<div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 bold-title toolbar-adj">Registration Notification</div>-->
                <div class="screen_header"><span>Registration Notification</span></div>
                <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 ">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">Agent Type</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                      <option value="">Farmer</option>
                      <option value="">Commission Agent</option>
                      <option value="">Trader</option>
                      <option value="">Service Provider</option>
                    </select>
                  </div>
                </div>
                <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 ">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">Agent Licence No</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                 </div>
                </div>
                <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 ">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">Agent Name</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                 </div>
                </div>
                <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 ">
                  <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12">Company Name</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                 </div>
                </div>

                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                  <button type="button" class="btn btn-success">Search</button>
                  <button type="button" class="btn btn-warning">Reset</button>
                </div>
                <br>
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  <button type="button" class="btn btn-success">Select All</button>
                  <button type="button" class="btn btn-warning">Deselect All</button>
                  <button type="button" class="btn btn-success">Approve</button>
                  <button type="button" class="btn btn-warning">Reject</button>
                </div>
                <br>
                <!-- Table starts here -->
                   <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
                        	<div class="table-fixed padding-top table-responsive">
                        	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        		    <thead>
                        		      <tr>
                      				  			<th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Agent</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Category</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >License Number</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Full Name</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" >Company Name</mfDefaultSorter></th>
                                      <th><mfDefaultSorter by="" >Address 1</mfDefaultSorter></th>
                                      <th><mfDefaultSorter by="" >Mobile Number</mfDefaultSorter></th>
                      				  			<th><mfDefaultSorter by="" ></mfDefaultSorter></th>
                        		      </tr>
                        		    </thead>
                        		    <tbody>
                        		      <!-- <tr>
                        			<td colspan="9" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                        		      </tr> -->
                        		      <tr>

                  					  			<td>
                                      <input type="checkbox" name="vehicle" value="">
                                    </td>
                  					  			<td>Lorem Ipsum</td>
                  					  			<td>Lorem Ipsum</td>
                  					  			<td>12232131</td>
                  					  			<td>Lorem Ipsum</td>
                  					  			<td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>7686849526</td>
                  					  			<td>
                                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 text-align-center">
                                          <button type="button" class="btn btn-success">Details</button>
                                      </div>
                                    </td>
                        		      </tr>
                        		    </tbody>
                        		    <tfoot>
                        		      <tr>
                        			<td colspan="7">
                        			  <mfBootstrapPaginator></mfBootstrapPaginator>
                        			</td>
                        		      </tr>
                        		    </tfoot>
                        		</table><!--TABLE ENDS-->
                        	</div><!--TABLE DIV ENDS HERE-->
                  </div><!--Full table ends here-->




            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
