.searchImg1{
	padding: 13px 12px!important;
}
.searchImg2{
	padding: 13px 13px 13px 7px!important;
}
.marginleft14{
	margin-left: 14px;
}
.marginright5{
  margin-right: 5px;
}
.paddingTop20{
  padding-top: 20px;
}
.searchImg{
    float: right;
    border-right: 1px solid #cfd0d1;
    border-top: 1px solid #cfd0d1;
    border-bottom: 1px solid #cfd0d1;
    height: 34px;
    padding: 7px 5px;
    cursor: pointer;
}
table.sellerTable.active {
  background:#ddd;
  color: #120815;
}
table.active input {
  color: #1d1d1e;
}
.box-body.paddingBox{padding: 10px;}
table.sellerTable{cursor:pointer; border: solid #ddd 1px;}
table.sellerTable td{vertical-align: top; padding: 5px;}
table.sellerTable .form-group{margin-bottom: 0;}
table.sellerTable p{ font-size: 12px;}
table.sellerTable .col-lg-1, table.sellerTable .col-lg-10, table.sellerTable .col-lg-11, table.sellerTable .col-lg-12, table.sellerTable .col-lg-2, table.sellerTable .col-lg-3, table.sellerTable .col-lg-4, table.sellerTable .col-lg-5, table.sellerTable .col-lg-6, table.sellerTable .col-lg-7, table.sellerTable .col-lg-8, table.sellerTable .col-lg-9, table.sellerTable .col-md-1, table.sellerTable .col-md-10, table.sellerTable .col-md-11, table.sellerTable .col-md-12, table.sellerTable .col-md-2, table.sellerTable .col-md-3, table.sellerTable .col-md-4, table.sellerTable .col-md-5, table.sellerTable .col-md-6, table.sellerTable .col-md-7, table.sellerTable .col-md-8, table.sellerTable .col-md-9, table.sellerTable .col-sm-1, table.sellerTable .col-sm-10, table.sellerTable .col-sm-11, table.sellerTable .col-sm-12, table.sellerTable .col-sm-2, table.sellerTable .col-sm-3, table.sellerTable .col-sm-4, table.sellerTable .col-sm-5, table.sellerTable .col-sm-6, table.sellerTable .col-sm-7, table.sellerTable .col-sm-8, table.sellerTable .col-sm-9, table.sellerTable .col-xs-1, table.sellerTable .col-xs-10, table.sellerTable .col-xs-11, table.sellerTable .col-xs-12, table.sellerTable .col-xs-2, table.sellerTable .col-xs-3, table.sellerTable .col-xs-4, table.sellerTable .col-xs-5, table.sellerTable .col-xs-6, table.sellerTable .col-xs-7, table.sellerTable .col-xs-8, table.sellerTable .col-xs-9{padding-left:0;padding-right:0;}

table.sellerTable .input-adj {height: 30px;}
table.sellerTable { table-layout: fixed;width: 100%}

.sellerDiv{overflow-x: scroll;}
.sellerDiv td {width: 11%}
.sellerDiv td input,.sellerDiv td select,.sellerDiv td textarea{width: 100%; display: inline-block; vertical-align: top;border: 1px solid #ddd;}
.twoInput{ display: inline-block; vertical-align: top; width: calc(100% - 30px);}
.sellerDiv td .twoInputSmall{width: 60px; display: inline-block; vertical-align: top;}
.sellerDiv td .twoInputSmall button{width: 60px; display: inline-block; vertical-align: top;}
table.sellerTable input.input-adj {height: 30px;}
table.sellerTable .searchImg.searchImgAdj{height: 30px; border: 1px solid #bbb; margin-left: -4px;}
.gateEntryPanel .searchImg.searchImg1.searchImgAdj, .searchImg.searchImg2.imageDisable, .searchImg.searchImgAdj{height: 34; padding: 7px 4px !important;}
.popup{padding: 0;}
.sellerDiv .searchImg{float: none; display: inline-block; vertical-align: top; border: none;}

.alert-success {
    max-width: 400px;
    margin: 0 auto;
}
.alert-success .content{
    height: auto;
		min-height: inherit;
    position: relative;
    top: calc(50% - 20px);
}


/* .sellerDiv{width: inherit; overflow-x: auto;} */
.form-group .searchImg{
		width: 32px;
}
div.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
		pointer-events: none;

}

@media screen and (max-width: 768px){
	.sellerDiv td{width: 100%; display: block; vertical-align: top;}
	.btn-group-sm>.btn, .btn-sm{padding: 5px;}
}
@media screen and (min-width: 769px) and (max-width: 980px){
	.sellerDiv td{width: 50%; display: inline-block; vertical-align: top;}
}
@media screen and (min-width: 981px) and (max-width: 1024px){
	.sellerDiv td{width: 33%; display: inline-block; vertical-align: top;}
}
@media screen and (min-width: 1025px) and (max-width: 1200px){
	.sellerDiv td{width: 20%; display: inline-block; vertical-align: top;}
}
@media screen and (min-width: 1201px) and (max-width: 1400px){
	.sellerDiv td{width: 16%; display: inline-block; vertical-align: top;}
}
@media screen and (min-width: 1401px) and (max-width: 1600px){
	.sellerDiv td{width: 12%; display: inline-block; vertical-align: top;}
}
.table tr.active td {
  background-color:#00a65a !important;
  color: white;
}
.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
