<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">System Parameters-Operating Unit</div>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <div class=" col-sm-10 col-lg-10 col-md-10 col-xs-10 color-notPureWhite">Match
                <input type="radio" name="match" class="color-notPureWhite">All
                <input type="radio" name="match" class="color-notPureWhite">Any
              </div>
              <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2 floatRight">
                <button *ngIf="shown1" (click)="advanceBtn()">Advanced</button>
                <button *ngIf="shown3" (click)="basicBtn()">Basic</button>
              </div>
              <div *ngIf="shown1" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">Parameter Name</div>
                 <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                   <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''" >
                 </div>
                 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                        <img src="assets/images/search.png">
                      </div>
                 <br>
              </div>
              <div *ngIf="shown1" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">Module Name</div>
                 <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                   <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''" >
                 </div>
                 <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                        <img src="assets/images/search.png">
                      </div>
                 <br>
              </div>

              <div *ngIf="shown3" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Parameter Name</div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                    <option value="">Starts With</option>
                    <option value="">Ends With</option>
                    <option value="">Equals</option>
                    <option value="">Doesn't Equal</option>
                    <option value="">Less Than</option>
                    <option value="">Less Than or Equal To</option>
                    <option value="">Greater Than</option>
                    <option value="">Greater Than or Equal To</option>
                    <option value="">Between</option>
                    <option value="">Not Between</option>
                    <option value="">Contains</option>
                    <option value="">Doesn't Contain</option>
                    <option value="">Is Blank</option>
                    <option value="">Is Not Blank</option>

                  </select>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 paddingNo" >
                  <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''" >
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                       <img src="assets/images/search.png">
                     </div>
                <br>
              </div>
              <div *ngIf="shown3" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Module Name</div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                    <option value="">Starts With</option>
                    <option value="">Ends With</option>
                    <option value="">Equals</option>
                    <option value="">Doesn't Equal</option>
                    <option value="">Less Than</option>
                    <option value="">Less Than or Equal To</option>
                    <option value="">Greater Than</option>
                    <option value="">Greater Than or Equal To</option>
                    <option value="">Between</option>
                    <option value="">Not Between</option>
                    <option value="">Contains</option>
                    <option value="">Doesn't Contain</option>
                    <option value="">Is Blank</option>
                    <option value="">Is Not Blank</option>
                  </select>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 paddingNo">
                  <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''" >
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                       <img src="assets/images/search.png">
                     </div>
                <br>
              </div>
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                  <button type="button" class="btn btn-success">Search</button>
                  <button type="button" class="btn btn-warning">Reset</button>
                </div>
            </div>
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
              <!-- table -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn">Delete</button>
                  </div>
                </div>
            </div>
            <!-- Table -->
            <!-- <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Parameter Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div> -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  <div class="table-fixed padding-top table-responsive">
                      <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>
                          <tr>
                              <th><mfDefaultSorter by="" >Parameter Name</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="" >Value</mfDefaultSorter></th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                      <!-- <td colspan="2" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                          </tr>
                          <!-- <tr *ngFor='let post of mf.data'> -->
                          <tr>
                            <td>STOP INVOICE GENERATION</td>
                            <td>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                              <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                            </div>
                          </td>

                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                      <td colspan="2">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                      </td>
                          </tr>
                        </tfoot>
                    </table><!--TABLE ENDS-->
                  </div><!--TABLE DIV ENDS HERE-->
                </div>
            </div>
            <!-- Buttons -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
              <button type="button" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-warning">Reset</button>
           </div>
           <!--Pop of Parameter Name  starts-->
              <div id="popup1" [className]="my_class1">
                              	<div class="popup">
                              		<h2>Parameter name</h2>
                              		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
                                    <div class=" col-sm-9 col-lg-9 col-md-9 toolbar-adj color-notPureWhite">Match
                                      <input type="radio" name="match" class="color-notPureWhite">All
                                      <input type="radio" name="match" class="color-notPureWhite">Any
                                    </div>
                                    <div *ngIf="shown4" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success" (click)="ParamAdv()">Advanced</button>
                                    </div>
				                            <div *ngIf="shown5" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success" (click)="ParamBas()">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Parameter Name</div>
                                    <div *ngIf="shown5" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                            <option value="">Starts With</option>
                                            <option value="">Ends With</option>
                                            <option value="">Equals</option>
                                            <option value="">Doesn't Equal</option>
                                            <option value="">Less Than</option>
                                            <option value="">Less Than or Equal To</option>
                                            <option value="">Greater Than</option>
                                            <option value="">Greater Than or Equal To</option>
                                            <option value="">Between</option>
                                            <option value="">Not Between</option>
                                            <option value="">Contains</option>
                                            <option value="">Doesn't Contain</option>
                                            <option value="">Is Blank</option>
                                            <option value="">Is Not Blank</option>
                                      </select>
                                    </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">No of Boras</div>
                                   <div *ngIf="shown5" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                     <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                           <option value="">Starts With</option>
                                           <option value="">Ends With</option>
                                           <option value="">Equals</option>
                                           <option value="">Doesn't Equal</option>
                                           <option value="">Less Than</option>
                                           <option value="">Less Than or Equal To</option>
                                           <option value="">Greater Than</option>
                                           <option value="">Greater Than or Equal To</option>
                                           <option value="">Between</option>
                                           <option value="">Not Between</option>
                                           <option value="">Contains</option>
                                           <option value="">Doesn't Contain</option>
                                           <option value="">Is Blank</option>
                                           <option value="">Is Not Blank</option>
                                     </select>
                                   </div>
                                      <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                        <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                      </div>
                       		           <br>
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>
                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Parameter Name</mfDefaultSorter></th>
                                          				  			<th><mfDefaultSorter by="" >No. of Boras</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf1.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->
                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of Module Name  starts-->
              <div id="popup1" [className]="my_class2">
                              	<div class="popup">
                              		<h2>Module Name</h2>
                              		<div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
                                    <div class=" col-sm-9 col-lg-9 col-md-9 toolbar-adj color-notPureWhite">Match
                                      <input type="radio" name="match" class="color-notPureWhite">All
                                      <input type="radio" name="match" class="color-notPureWhite">Any
                                    </div>
                                    <div *ngIf="shown6" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success" (click)="ModAdv()">Advanced</button>
                                    </div>
				                            <div *ngIf="shown7" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success" (click)="ModBas()">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Module Name</div>
                                    <div *ngIf="shown7" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                            <option value="">Starts With</option>
                                            <option value="">Ends With</option>
                                            <option value="">Equals</option>
                                            <option value="">Doesn't Equal</option>
                                            <option value="">Less Than</option>
                                            <option value="">Less Than or Equal To</option>
                                            <option value="">Greater Than</option>
                                            <option value="">Greater Than or Equal To</option>
                                            <option value="">Between</option>
                                            <option value="">Not Between</option>
                                            <option value="">Contains</option>
                                            <option value="">Doesn't Contain</option>
                                            <option value="">Is Blank</option>
                                            <option value="">Is Not Blank</option>
                                      </select>
                                    </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>
                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Module Name</mfDefaultSorter></th>


                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf2.data'>

                                      					  			<td></td>


                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->
                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
