
  <aside class="main-sidebar"   *ngIf="authservice.loggedIn()" >
  <!-- <aside class="main-sidebar" > -->
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" id="side">
        <li class="treeview" id="dashboard" [routerLinkActive]="['active']">
          <a [routerLink]="['/dashboard']" > <i class="fa "><img class="iconSet"  src="assets/images/home-button.svg" style="height:30px;width:31px"></i> <span i18n="@@loco:$1599">Dashboard</span> </a>
        </li>


        <!-- ADMINISTRATION -->
        <li class="treeview" id="" [routerLinkActive]="['active']" style="cursor:pointer;" *ngIf= "roleAccess.adminPresent">
          <a onclick="clickOpen()"> <i class="fa "><img class="iconSet" src="assets/images/user.svg" style="height:30px;width:31px"></i> <span>Administration</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            <ul class="treeview-menu" >
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.adminMasterPresent"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Masters</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showOrgMaster"><a [routerLink]="['/app-organisation-master']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Organisation Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showOprUnits"><a [routerLink]="['/app-operating-unit']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Operating Units</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showUserGlobal"><a [routerLink]="['/app-user-master-global']"  style="padding:11px 18px 4px"><i class="fa"></i><span>User Master - GLOBAL</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showConfDocScheme"><a [routerLink]="['/app-configure-doc-gen-schemes']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Configure Document <br><span class="padding-left20">Generation Schemes</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showCustMenu"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Customize Menu Definitions</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showGenMaster"><a [routerLink]="['/app-general-master']"  style="padding:11px 18px 4px"><i class="fa"></i><span>General Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showMasterSetup"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Master Setup</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showSysParamLegal"><a [routerLink]="['/app-system-parameter-legal-entity']"  style="padding:11px 18px 4px"><i class="fa"></i><span>System Parameter <br> <span class="padding-left20">[Legal Entity]</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showDefaultSites"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Default Sites</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showMetaData"><a style="padding:11px 18px 4px"><i class="fa"></i><span>MetaData Search</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showUserPwdChange"><a style="padding:11px 18px 4px"><i class="fa"></i><span>User Password Change</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showUserParameterMaster"><a style="padding:11px 18px 4px"><i class="fa"></i><span>User Parameter Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showRightMaster"><a [routerLink]="['/app-role-master']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Right Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showRoleMaster"><a [routerLink]="['/app-role-master']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Role Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showOprUnitSetUp"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Operating Unit SetUp</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showStateMaster"><a style="padding:11px 18px 4px"><i class="fa"></i><span>State Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showAdminSetup"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Admin Setup</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showUserMasterState"><a [routerLink]="['/app-user-master-state']"  style="padding:11px 18px 4px"><i class="fa"></i><span>User Master - STATE</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showUserMasterAPMC"><a [routerLink]="['/app-user-master-apmc']"  style="padding:11px 18px 4px"><i class="fa"></i><span>User Master - APMC</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showSystemParameter"><a [routerLink]="['/app-system-parameter-operating-unit']"  style="padding:11px 18px 4px"><i class="fa"></i><span>System Parameter <br> <span class="padding-left20">[Operating Unit]</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showLoginCounter"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>LoginId Counter</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showPortalNews"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Portal News Master</span></a></li>

                </ul>
              </li>
              <li [routerLinkActive]="['active']"><a style="padding:11px 18px 4px" *ngIf="roleAccess.adminTranPresent"><i class="fa"></i><span>Transaction</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showFlexMaster"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>FlexField Master</span></a></li>
                </ul>
              </li>
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.adminReportPresent"><a style="padding:8px 18px 11px"><i class="fa"></i><span>Reports</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']"  *ngIf= "roleAccess.showMasterSetupReport"><a [routerLink]="['/app-master-setup-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Master Setup Report</span></a>
                  </li>
                  <li [routerLinkActive]="['active']" *ngIf= "roleAccess.showMandiDetailsReport"><a [routerLink]="['/app-apmc-bankdetails-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Mandi Details Report</span></a>
                  <li [routerLinkActive]="['active']"  *ngIf= "roleAccess.showUserLogHistoryReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>User Log History Report</span></a>
                  </li>
                  <li [routerLinkActive]="['active']"  *ngIf= "roleAccess.showUserActReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>User Activity Log Report</span></a>
                  </li>
                </ul>
              </li>
            </ul>


        <!-- ENTRY EXIT -->
        <li class="treeview" id="" [routerLinkActive]="['active']" style="cursor:pointer;x" *ngIf="roleAccess.entryExitPresent">
          <a onclick="clickOpen()"> <i class="fa "><img class="iconSet" src="assets/images/no-entry.svg" style="height:30px;width:31px"></i> <span i18n="@@loco:$1903">Entry Exit</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.entryExitMasterPresent"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Masters</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showProductTypeMaster"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Product Type Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showUnitMeasurement"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Unit Measurement</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showVehicleRate"><a [routerLink]="['/app-vehicle-rate']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Vehicle rate</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showGateRate"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Master</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showBagType"><a [routerLink]="['/app-bag-type']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Bag Type</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showMarketType"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Market Type Master</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showProductMaster"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Product Master</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showAssayingParameter"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Assaying Parameter</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommodityMaster"><a [routerLink]="['/app-commodity-master-apmc-applicability']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Master<br><span class="padding-left20">(APMC Applicability)</span></span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showCommodityGroup"><a [routerLink]="['/app-commodity-group']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Group</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showFarmerReg"><a [routerLink]="['/app-farmer-registration']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Farmer Registration</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showAgentMaster"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Agent Master</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showFeeComponent"><a [routerLink]="['/app-fee-component']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Fee Component</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showFeeCategory"><a [routerLink]="['/app-fee-category']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Fee Category</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showAgentMasterGovt"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Agent Master (Govt)</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showUnitConversion"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Unit Conversion</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showFeeComponentAPMC"><a [routerLink]="['/app-fee-component-apmc-applicability']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Fee Component<br><span class="padding-left20">(APMC Applicability)</span></span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showStackHolder"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Stake Holder Defunct Master</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showSubYard"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Sub Yard Type Master</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showWareHouse"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>WareHouse Entry</span></a></li>


                  <!-- <li [routerLinkActive]="['active']"><a [routerLink]="['/app-agent-registration']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Agent Registration</span></a></li> -->


                </ul>
              </li>
              <li [routerLinkActive]="['active']"  *ngIf="roleAccess.entryExitTranPresent" ><a style="padding:8px 18px 11px"><i class="fa"></i><span i18n="@@loco:$1904">Transactions</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitVehReg"><a [routerLink]="['/app-vehicle-registration']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$640">Vehicle Registration</span></a></li>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitGateEntry"><a [routerLink]="['/app-gate-entry']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry</span></a></li> -->
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitVehGateEntry"><a [routerLink]="['/app-vehicle-gate-entry']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1906">Vehicle Gate Entry</span></a></li>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitLotEntry"><a [routerLink]="['/app-lot-entry']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Entry</span></a></li> -->
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitgate"><a [routerLink]="['/app-gate-exit']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1907">Gate Exit</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAgrCancellation"><a [routerLink]="['/app-agreement-sale-bill-cancellation']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1905">Agreement/Sale Bill<br><span class="padding-left20">Cancellation(APMC)</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGateEntryNew"><a style="padding:11px 18px 4px" [routerLink]="['/app-gate-entry']"><i class="fa"></i><span i18n="@@loco:$1908">Gate Entry New</span></a></li>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAgentTraderNoti"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Agent Trader Notification</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAgentTraderExcel"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Agent/Trader Excel Upload</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGateEntryNewGJ"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry New GJ</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGateEntryResp"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry Responsive</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGateEntryCache"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry Cache</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGateEntryFull"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry Full / Sample</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showDemoGateExit"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Demo Gate Exit</span></a></li> -->
                </ul>
              </li>
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.entryExitReportPresent"><a style="padding:8px 18px 11px"><i class="fa"></i><span>Reports</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu scrollUL" id="extraScroll">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showInGateReceipt"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>In Gate Receipt</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showInGateRegister"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>In Gate Register</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showVehRegReceipt"><a [routerLink]="['/app-vehicle-registration-receipt']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Vehicle Registration <br><span class="padding-left20">Receipt</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showInGateCollection"><a [routerLink]="['/app-in-gate-collection']"  style="padding:11px 18px 4px"><i class="fa"></i><span>In Gate Collection</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showInGateEntryReceipt" ><a [routerLink]="['/app-in-gate-entry-receipt']"  style="padding:11px 18px 4px"><i class="fa"></i><span>In Gate Entry Receipt</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showWeighBridgeReport"><a [routerLink]="['/app-weigh-bridge-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Weigh Bridge Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showWeighBridgeReceiptReport"><a [routerLink]="['/app-weigh-bridge-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Weigh Bridge Receipt Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitGateRegReport"><a [routerLink]="['/app-exit-gate-register']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Exit Gate Register Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitGateReceiptReport"><a [routerLink]="['/app-exit-gate-receipt']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Exit Gate Receipt Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showStockSummaryReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Stock Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showTraderStockSummaryReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Trader Stock Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommAgStockSummaryReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Commission Agent Stock Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGateReceiptSample"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Receipt Sample</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showVehRateReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Vehicle Rate Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBagReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Bag Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommListingReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Listing Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showFarmerRegReport"><a [routerLink]="['/app-reports-farmer-registration']" style="padding:11px 18px 4px"><i class="fa"></i><span>Farmer Registration Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAssayingParReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Assaying Parameter Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAgTrRegReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Agent/Trader Registration Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showTraderPurchaseReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Trader Purchase Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showArrivalSumReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Datewise Arrival Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showArrivalDWReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Datewise Arrival Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommAgReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Commision Agent Lot Detail Before Bidding Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showFarmerDetailReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Farmer Detail Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showComAgPayableReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Commission Agent Payable Receivale Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showComModelPriceReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Model Price Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showNamReportTS"><a  [routerLink]="['/app-nam-ts-report']" style="padding:11px 18px 4px"><i class="fa"></i><span>NAM Report TS</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExcelReport"><a  [routerLink]="['/app-weexcel-format-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>WEExcel Format Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showUPDailyReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>UP Daily Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommGroupVarietyReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Group Variety Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showExitGateRegDemoReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Exit Gate Register My Demo Report</span></a></li>




                  <!-- <li [routerLinkActive]="['active']"><a [routerLink]="['/app-gate-entry-receipt']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry Receipt</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-gate-entry-register']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Gate Entry Register</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-commodity-listing-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Listing Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-reports-farmer-registration']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Farmer Registration</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-agent-trader-registration-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Agent/Trader Registration<br><span class="padding-left20"> Report</span></span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-arrival-summary-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Arrival Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-trader-purchase-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Trader Purchase Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-farmer-detail-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Farmer Detail Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-commodity-model-price-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Model Price <br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-nam-ts-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>NAM  TS Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-weexcel-format-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>WEExcel Format Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-commission-agent-lot-bfr-bidding-reports']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commision Agent Lot <br><span class="padding-left20">Detail Before Bidding<br><span class="padding-left20"> Report</span></span></span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-up-daily-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>UP Daily Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-commodity-group-variety']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Group Variety<br><span class="padding-left20"> Report</span></span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-daily-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Daily Report</span></a></li> -->

                </ul>
              </li>
            </ul>


        <!-- LOT OPERATIONS -->
        <li class="treeview" id="" [routerLinkActive]="['active']" style="cursor:pointer;x"*ngIf="roleAccess.lotOpPresent">
          <a onclick="clickOpen()"> <i class="fa "><img class="iconSet" src="assets/images/is-not-an-element-of.svg" style="height:30px;width:31px"></i> <span i18n="@@loco:$1909">Lot operations</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']"*ngIf="roleAccess.lotOpTranPresent"><a style="padding:11px 18px 4px" ><i class="fa"></i><span i18n="@@loco:$1904">Transactions</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showWeighment"><a [routerLink]="['/app-weighment']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1856">Weighment</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showLotMng"><a [routerLink]="['/app-lot-management']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1857">Lot Management</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showSampleCreation"><a [routerLink]="['/app-sample-creation']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1910">Sample Creation</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showAssaying"><a [routerLink]="['/app-assaying']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1849">Assaying</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showApprovalForTrade"><a [routerLink]="['/app-approal-for-trade']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1850">Approval For Trade</span></a></li>
                </ul>
              </li>
              <li [routerLinkActive]="['active']" *ngIf= "roleAccess.lotOpReportPresent"><a style="padding:11px 18px 4px" ><i class="fa"></i><span>Reports</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotTracker"><a [routerLink]="['/app-lot-tracker']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Tracker</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotSampleDetail"><a [routerLink]="['/app-lot-sample-detail']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Lot sample Detail</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSampleAssayingResult"><a [routerLink]="['/app-sample-assaying-result']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sample Assaying Result</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotAssayingSummaryReport"><a [routerLink]="['/app-lot-assaying-summary']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Assaying Summary<br><span  class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAssayingReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Assaying Report<br></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotSummaryReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Summary Report<br></span></a></li>
                </ul>
              </li>
            </ul>
        </li>

        <!-- AUCTION -->
        <li class="treeview" id="" [routerLinkActive]="['active']" style="cursor:pointer;x" *ngIf="roleAccess.auctionPresent">
          <a onclick="clickOpen()"> <i class="fa "><img class="iconSet" src="assets/images/auction.svg" style="height:30px;width:31px"></i> <span i18n="@@loco:$643">Auction</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.auctionTranPresent"><a style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1904">Transactions</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showOutSideMandy"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Outside Mandi Sale Entry</span></a></li> -->
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleAgr"><a [routerLink]="['/app-sale-agreement']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1911">Sale Agreement</span></a></li>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showOutCry"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Outcry Auction</span></a></li> -->
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBidCreation"><a [routerLink]="['/app-bid-creation']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1914">Bid Creation</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBidDeclr"><a [routerLink]="['/app-bid-declaration']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1915">Bid Declaration</span></a></li>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGenInvoice"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Generate Invoice</span></a></li> -->
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSettlement"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Settlement</span></a></li> -->
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSettlementNew"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Settlement New</span></a></li> -->
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSettlementPaymentOn"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Settlement Payment Online</span></a></li> -->
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showBidRej"><a [routerLink]="['/app-bid-rejection']"  style="padding:11px 18px 4px"><i class="fa"></i><span i18n="@@loco:$1913">Bid Rejection</span></a></li>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotHold"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Hold</span></a></li> -->

                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showGenInvoice"><a [routerLink]="['/app-sale-bill']"  style="padding:11px 18px 4px"><i class="fa"></i><span  i18n="@@loco:$1912">Sale Bill</span></a></li>
                  <!-- <li [routerLinkActive]="['active']"><a [routerLink]="['/app-outcry-auction']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Outcry Auction</span></a></li> -->
                </ul>
              </li>
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.auctionMasterPresent"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Masters</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleAgrForMaster"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Agreement For<br><span class="padding-left20">  Master Update</span></span></a></li>
                </ul>
              </li>
              <li [routerLinkActive]="['active']" *ngIf="roleAccess.auctionReportPresent"><a style="padding:11px 18px 4px" ><i class="fa"></i><span>Reports</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu scrollUL" id="extraScroll">
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleAgrReport"><a [routerLink]="['/app-sale-agreement-report-page']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Agreement Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showOutsideAPMCSaleReport"><a [routerLink]="['/app-outside-apmc-sale-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Outside APMC Sale Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showOutsideAPMCSaleAgrReport"><a [routerLink]="['/app-outside-apmc-sale-agrmnt-receipt']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Outside APMC Sale <br><span class="padding-left20">Agreement Receipt</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleAgrCancel"><a [routerLink]="['/app-sale-agreement-cancellation']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Agreement <br><span class="padding-left20">Cancellation</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBidCreationReport"><a [routerLink]="['/app-bid-creation-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Bid Creation Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBidSubmissionReport"><a [routerLink]="['/app-bid-submission-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Bid Submission Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showOutsideAPMCSaleRegReport"><a [routerLink]="['/app-outside-apmc-sale-register']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Outside APMC Sale <br><span class="padding-left20">Register</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBidOpeningReport"><a [routerLink]="['/app-bid-opening-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Bid Opening Report</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showBidSubSummary"><a [routerLink]="['/app-bid-submission-summary']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Bid Submission Summary</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleInvoiceReport"><a [routerLink]="['/app-sale-invoice']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Invoice</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAgrNotExit"><a [routerLink]="['/app-agreement-not-exit']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Agreement Not Exit</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showIngateNotAgr"><a [routerLink]="['/app-ingate-not-agreement']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Ingate Not Agreement</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSettleReport"><a [routerLink]="['/app-settlement-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Settelment Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showBidOpeningWinner"><a [routerLink]="['/app-bid-opening-winnerlist']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Bid Opening Winner List</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleSummaryReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Datewise Sale Summary Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showFeeComponentReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Fee Component Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showTradersLotDetail"><a [routerLink]="['/app-trader-lot-details']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Traders Lot Details</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommAgent"><a [routerLink]="['/app-commission-agent-lotdetails-aftr-weighment']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commission Agent Lot<br><span class="padding-left20"> Detail After Weighment</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showTrCommBiddingReport"><a [routerLink]="['/app-trader-commission-agent-bidding-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Trader/Commission Agent<br><span class="padding-left20"> Bidding Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showTrDeclrReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Trader Declaration Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showShiftBidOpeningReport"><a [routerLink]="['/app-shiftwise-bid-opening-winnerlist']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Shiftwise Bid Opening <br><span class="padding-left20">Winner List</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showDateFinalReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Datewise Final Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showNamReviewReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>NAM Review Weekly Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotTrackerReport"><a [routerLink]="['/app-lot-tracker-detail-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Tracker Detail Report</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showNamTradingReport"><a [routerLink]="['/app-nam-statewise-trading']"  style="padding:11px 18px 4px"><i class="fa"></i><span>NAM Statewise Trading <br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showDAARPReport"><a [routerLink]="['/app-daarp-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>DAARP Report</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showSaleAgrTypeReport"><a [routerLink]="['/app-sale-agreement-typewise']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Agreement Type Wise<br><span class="padding-left20"> Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showStateWiseCommSaleReport"><a [routerLink]="['/app-statewise-commodity-sale-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>State Wise Commodity<br><span class="padding-left20"> Sale Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showLotProgressDetailsReport"><a [routerLink]="['/app-lot-progress-details-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Lot Progress Details Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showDailyPerfReport"><a [routerLink]="['/app-daily-performance-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Daily Performance Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showPaymentReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Payment Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommWiseSoldReport"><a [routerLink]="['/app-commission-agentwise-soldunsold-lot-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commission Agent Wise <br><span class="padding-left20">Sold Unsold Lot Report</span></span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showTradedCommWiseMandiReport"><a [routerLink]="['/app-traded-commoditywise-mandi-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Traded Commodity Wise <br><span class="padding-left20">Mandi Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showManiWiseCommReport"><a [routerLink]="['/app-mandiwise-traded-commodity-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Mandi Wise Traded <br><span class="padding-left20">Commodity Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showManiWiseAgrReport"><a [routerLink]="['/app-mandiwise-agreement-summary-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>MANDI  Wise Agreement <br><span class="padding-left20">Type Summary Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showConPaymentReport"><a [routerLink]="['/app-consolidated-payment-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Consolidated Payment <br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showWeeklySCReport"><a [routerLink]="['/app-weekly-sc-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Weekly SC Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommTradeInfoReport"><a [routerLink]="['/app-commodity-trade-info']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Trade Info Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showEPaymentReport"><a [routerLink]="['/app-e-payment-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>ePayment Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAssayedTradedLotReport"><a [routerLink]="['/app-assayed-traded-lot-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Assayed and Traded Lot<br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAuditReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Audit Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSallAgrBillRegReport"><a [routerLink]="['/app-sale-agreement-bill-register-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Agreement/Bill <br><span class="padding-left20">Register Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCashlessTranReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Cashless Transaction Dtl  Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommRangeReport"><a [routerLink]="['/app-commodity-range-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Range Report</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showPaymentAgingReport"><a [routerLink]="['/app-payment-ageing']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Payment Ageing Report</span></a></li>
                  <li [routerLinkActive]="['active']"  *ngIf="roleAccess.showOnTradingReport"><a  style="padding:11px 18px 4px"><i class="fa"></i><span>Online Traded Commodity Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommWiseAssayingReport"><a [routerLink]="['/app-commodity-wise-assaying']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Wise Assaying <br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showSaleAgrBillTempReport"><a [routerLink]="['/app-saleagreement-salebill']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Agreement/Sale Bill<br><span class="padding-left20">Temp Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showAvgBidReceivedReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Average Bid Received per Lot</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommWiseNationalTradeReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Wise National Trade Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showInterMandiTradeReport"><a [routerLink]="['/app-inter-mandi-trade-detail']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Inter Mandi Trade Detail <br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showMandiWiseTradeSumReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Mandiwise Trade Summary<br><span class="padding-left20">Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showMandiWiseENamReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Mandi Wise eNAM Process<br><span class="padding-left20"> Compliance Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showPaymentSetTrackingReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Payment Settlement Tracking<br><span class="padding-left20"> Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showMarketFeeBreakupgReport"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Market Fee Breakup<br><span class="padding-left20"> Report</span></span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showPerformaReport"><a [routerLink]="['/app-proforma']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Proforma Report</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showDigTradeReport" ><a [routerLink]="['/app-digital-trade']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Digital Trade Reports</span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showCommWiseMonthlyReport" ><a [routerLink]="['/app-digital-trade']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Commodity Wise Monthly National<br><span class="padding-left20">Trade Report</span> </span></a></li>
                  <li [routerLinkActive]="['active']" *ngIf="roleAccess.showMandiWiseENamProcessReport" ><a [routerLink]="['/app-digital-trade']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Mandi Wise eNAM Process Compliance <br><span class="padding-left20"> Date Reporttional Report</span></span></a></li>


                  <!-- <li [routerLinkActive]="['active']"><a [routerLink]="['/app-sale-summary-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Sale Summary Report</span></a></li>

                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-datewise-final-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Datewise Final Report</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-payment-settlement-details']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Payment Settlement Details</span></a></li>


                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-payment-settlement-tracking-report']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Payment Settlement<br><span class="padding-left20">Tracking Report</span></span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-statewise-online-payment']"  style="padding:11px 18px 4px"><i class="fa"></i><span>State-Wise Online Payment <br><span class="padding-left20">Report</span></span></a></li>


                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-mandiwise-trade-summary']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Mandi Wise Trade<br><span class="padding-left20">Commodity Report</span></span></a></li> -->

                </ul>
              </li>
            </ul>
        </li>
        <!-- <li class="treeview" id="dashboard" [routerLinkActive]="['active']">
          <a [routerLink]="['/app-grievance-management-system']" > <i class="fa "><img class="iconSet"  src="assets/images/operator.svg" style="height:30px;width:31px"></i> <span i18n="@@loco:$1599">Grievance Management</span> </a>
        </li> -->
        <!-- <li class="treeview" id="" [routerLinkActive]="['active']" style="cursor:pointer;x" >
          <a onclick="clickOpen()"> <i class="fa "><img class="iconSet" src="assets/images/user.svg" style="height:30px;width:31px"></i> <span>Grievance Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']"><a [routerLink]="['/app-admin-grievance']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Admin</span></a></li>
              <li [routerLinkActive]="['active']"><a [routerLink]="['/app-apmc-others-grievance']"  style="padding:11px 18px 4px"><i class="fa"></i><span>APMC/SAMB/SFAC</span></a></li>

            </ul>
          </li> -->
<!--
          <li class="treeview" id="" [routerLinkActive]="['active']" style="cursor:pointer;x" >
            <a onclick="clickOpen()"> <i class="fa "><img class="iconSet" src="assets/images/user.svg" style="height:30px;width:31px"></i> <span>Trader Portal</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li [routerLinkActive]="['active']"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Grievance Management</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
               </span>
                </a>
                <ul class="treeview-menu">
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-grievance-entry']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Grievance Entry</span></a></li>
                  <li [routerLinkActive]="['active']"><a [routerLink]="['/app-status-of-grievance']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Status Of Grievance</span></a></li>
               </ul>
            </li>
            <li [routerLinkActive]="['active']"><a style="padding:11px 18px 4px"><i class="fa"></i><span>Reverse Auction</span>
              <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
             </span>
              </a>
              <ul class="treeview-menu">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/app-submit-commodity-requirment']"  style="padding:11px 18px 4px"><i class="fa"></i><span>Submit Commodity<br><span class="padding-left20">Requirement</span></span></a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/app-view-required-commodity']"  style="padding:11px 18px 4px"><i class="fa"></i><span>View Required <br><span class="padding-left20">Commodity Status</span></span></a></li>
             </ul>
          </li>
          </ul>
        </li> -->

        <!-- <li class="treeview" id="dashboard" [routerLinkActive]="['active']">
          <a [routerLink]="['/app-help']" > <i class="fa "><img class="iconSet"  src="assets/images/information.svg" style="height:30px;width:31px"></i> <span i18n="@@loco:$1599">Help</span> </a>
        </li> -->

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>



<!-- Put this thing in all the inner pages    onclick="sbar()" to collapse -->
