<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
<section class="content">
<!-- Small boxes (Stat box) -->
<div class="row">
  <section class="content">
    <!-- SELECT2 EXAMPLE -->
    <div class="box box-default paddingBox">
      <div class="box-body">
              <!--<h3>Sale Bill</h3> -->
                <div class="panel with-nav-tabs panel-default">
                  <div class="screen_header"><span>Sale Bill</span></div>
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Generate Sale Bill</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Print Sale Bill</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                      <div id="popup1" [className]="my_class3">
                        <div class="popup">
                              <div  style="color:red;padding-bottom:10px;">Date Is Mandatory To Search</div>
                       </div>
                      </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1default">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                    <div class="form-group res-btn">
                                      <p>Agreement Date</p>
                                      <form #myForm="ngForm" novalidate>
                                        <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                        [(ngModel)]="agrDate" required></my-date-picker>
                                      </form>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                   <div class="form-group res-btn">
                                     <p>Agreement No.</p>
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="filtAgr" (input)="onFilterAgrNo()">
                                   </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                                   <div class="form-group res-btn">
                                     <p>Lot Code</p>
                                     <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="filtLot" (input)="onFilterLot()">
                                   </div>
                                </div>
                              </div>
                              <div class="row">
                                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                       <button type="button" class="btn btn-success" (click)="getInvoiceList()">Search</button>
                                       <button type="button" class="btn btn-warning"  (click)="onReset()">Reset</button>
                                  </div>
                               </div>
                                <!-- table -->
                                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                	<div class="table-fixed padding-top table-responsive" style="overflow-y: auto;height: 260px;">
                                	    <table  [mfData]="filteredInvoiceList"  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%"  >
                                		    <thead>
                                		      <tr>
                                      			<th><mfDefaultSorter by="" >Agreement Type</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Agreement No.</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Seller Type</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Trader</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Firm Name</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                            <th><mfDefaultSorter by="" >Trade Details</mfDefaultSorter></th>
                                      			<th><mfDefaultSorter by="" >Print Invoice</mfDefaultSorter></th>
                                		      </tr>
                                		    </thead>
                                		    <tbody *ngIf="mf1.data != undefined">
                                		      <tr>
                                			         <td colspan="9" *ngIf="mf1.data.length== 0" class="noDataDisp">No data to display</td>
                                		      </tr>
                                		      <tr *ngFor='let post of mf1.data'>
                          		          			<td *ngIf="post.agreementType == '0'">One To One</td>
                          		          			<td *ngIf="post.agreementType == '2'">eTender</td>
                          		          			<td>{{post.auchTranid}}</td>
                          		          			<td>{{post.iledLotCode}}</td>
                          		          			<td *ngIf="post.auchImpType =='F'">Farmer</td>
                          		          			<td *ngIf="post.auchImpType =='T'">Trader</td>
                          		          			<td>{{post.lcamFullName}}</td>
                          		          			<td>{{post.lcamAgenCompName}}</td>
                          		          			<td>{{post.gmpmgProdName}}</td>
                          		          			<td>
                                                <button type="submit" class="btn btn-success" (click)="onInvoiceDetails(post)">Inovoice Details</button>
                                              </td>
                                              <td>
                                                  <button type="submit" class="btn btn-success" (click)="printInvoicetab1(post)">Print Invoice</button>
                                              </td>
                                		      </tr>
                                		    </tbody>
                                		    <tfoot>
                                		      <tr>
                                      			<td colspan="9">
                                      			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                      			</td>
                                		      </tr>
                                		    </tfoot>
                                		</table><!--TABLE ENDS-->
                                	</div><!--TABLE DIV ENDS HERE-->
                                </div>
                                <!-- table -->
                            </div>
                            <!-- 2nd Tab -->
                            <div class="tab-pane fade" id="tab2default">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingNo">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Sale Bill Date</div>
                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <form #myForm="ngForm" novalidate>
                                      <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                      [(ngModel)]="saleBillDate" required></my-date-picker>
                                    </form>
                                  </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingNo">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Agreement No.</div>
                                 <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite"[(ngModel)]="filtAgr2" (input)="onFilterAgrNoTab2()">
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingNo">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Lot Code</div>
                                 <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                   <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="filtLot2" (input)="onFilterLotTab2()">
                                 </div>
                              </div>
                              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                 <button type="button" class="btn btn-success" (click)="getPrintInvoiceList()" >Search</button>
                                 <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
                               </div>
                                <div class="table-fixed table-responsive" style="overflow-x: inherit;">
                                    <table  [mfData]="filteredPrintInvoiceList"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                      <thead>
                                        <tr>
                                          <th><mfDefaultSorter by="" >Agreement Type</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Agreement No.</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Seller Type</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Trader</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Firm Name</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                          <th><mfDefaultSorter by="" >Print Invoice</mfDefaultSorter></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td colspan="8" *ngIf="mf2.data.length== 0" class="noDataDisp">No data to display</td>
                                        </tr>
                                        <tr *ngFor='let post of mf2.data'>
                                          <td *ngIf="post.agreementType == '0'">One To One</td>
                                          <td *ngIf="post.agreementType == '2'">eTender</td>
                                          <td>{{post.auchTranid}}</td>
                                          <td>{{post.iledLotCode}}</td>
                                          <td *ngIf="post.auchImpType =='F'">Farmer</td>
                                          <td *ngIf="post.auchImpType =='T'">Trader</td>
                                          <td>{{post.lcamFullName}}</td>
                                          <td>{{post.lcamAgenCompName}}</td>
                                          <td>{{post.gmpmgProdName}}</td>
                                           <td>
                                               <button type="submit" class="btn btn-success" (click)="printInvoicetab2(post)">Print Invoice</button>
                                           </td>
                                        </tr>
                                      </tbody>
                                      <tfoot>
                                        <tr>
                                          <td colspan="8">
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                          </td>
                                        </tr>
                                      </tfoot>
                                  </table><!--TABLE ENDS-->
                                </div><!--TABLE DIV ENDS HERE-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                  <button type="button" class="btn btn-success">Save</button>
                  <button type="button" class="btn btn-warning" >Reset</button>
                </div> -->
<!-- Pop up For Invoice Details Starts -->
<div id="popup1" [className]="my_class2">
    <div class="popup" style="height: 60%;width: 70%;">
      <div class="modal-content">
         <div class="modal-header">
           <div class="close" (click)="hideInvoiceDetailsPoup()" ><img class="" src="assets/images/delete.png"></div>
           <h4 class="modal-title">Invoice Details</h4>
         </div>
         <div class="modal-body">
           <div class="newContentPop">
                <br>
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                       <div class="table-fixed padding-top table-responsive">
                           <table  [mfData]="invoiceDetails"  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                             <thead>
                               <tr>
                                 <th><mfDefaultSorter by="post.fcmCompDesc" >Component</mfDefaultSorter></th>
                                 <th><mfDefaultSorter by="" >Amount (Rs.)</mfDefaultSorter></th>
                                 <th><mfDefaultSorter by="" >Amount Calculated Type</mfDefaultSorter></th>
                                 <th><mfDefaultSorter by="" >Party Type</mfDefaultSorter></th>
                                 <th><mfDefaultSorter by="" >Party Name</mfDefaultSorter></th>
                               </tr>
                             </thead>
                             <tbody *ngIf="mf3.data != undefined">
                               <tr>
                           <td colspan="10" *ngIf="mf3.data.length==0" class="noDataDisp">No data to display</td>
                               </tr>
                               <tr *ngFor='let post of mf3.data;'>
                                 <td>{{post.fcmCompDesc}}
                                 </td>
                                 <td>{{post.aucdAmt}}</td>
                                 <td *ngIf="post.aucdAmtcalOn == '0'">Fixed Amount</td>
                                 <td *ngIf="post.aucdAmtcalOn == '1'">Per Bag</td>
                                 <td *ngIf="post.aucdAmtcalOn == '2'">Per Bag UOM</td>
                                 <td *ngIf="post.aucdAmtcalOn == '3'">Commodity UOM</td>
                                 <td *ngIf="post.aucdAmtcalOn == '4'">Fixed Percent Wise</td>

                                 <td *ngIf= "post.aucdPartyType == 'T'">Trader</td>
                                 <td *ngIf= "post.AucdPartyType == 'A'">Commission Agent</td>
                                 <td *ngIf= "post.aucdPartyType == 'H'">Hammal</td>
                                 <td *ngIf= "post.aucdPartyType == 'L'">Weighman</td>
                                 <td *ngIf= "post.aucdPartyType == 'C'">APMC</td>
                                 <td *ngIf= "post.aucdPartyType == 'G'">Govt.</td>
                                 <td>{{post.lcamFullName}}</td>
                               </tr>
                             </tbody>
                             <tfoot>
                               <tr>
                                 <td colspan="10">
                                   <mfBootstrapPaginator></mfBootstrapPaginator>
                                 </td>
                               </tr>
                             </tfoot>
                         </table>
                       </div>
               </div>

           </div>
         </div>
       </div>
    </div>
</div>
                <!-- Pop up For Invoice Details Ends -->

                <div id="popup1" [className]="my_class1">
                      <div class="popup">
                        <div class=" newContentPop ">
                          <div>Your token has expired.<br> Redirecting to login page...</div>
                        </div>

                      </div>
                  </div>
        </div>
      </div>
    </section>
  </div>
</section>
</div>
