
.paddingBox{padding: 10px;}
.table.table-striped{border: 1px solid #ddd;box-shadow: 0px 0px 1px #ddd; border-radius: 5px;}
.table.table-striped thead{background: #f5f5f5;}
.table.table-striped thead th{color: #000; font-weight: 400;}
a.text-nowrap{color: #000 !important; font-weight: 400;}
.input-adj {
    height: 35px;
}
.mydp, .mydp .headertodaybtn{ height: 36px;}

.popup{padding: 2px;}

.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
