<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Fee Component (APMC Apllicability)</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                    <div class="panel with-nav-tabs panel-default">
                        <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1default" data-toggle="tab">Active Fee Compnent</a></li>
                                    <li><a href="#tab2default" data-toggle="tab">Remove/Inactive Fee Component</a></li>

                                </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1default">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
                                          <div class="">
                                            <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add Fee Compnent</button>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12">
                                          <div class="">
                                            <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Remove/Inactive Fee Component</button>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Table -->

                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                    	<div class="table-fixed padding-top table-responsive">
                                    	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                    		    <thead>
                                    		      <tr>
                                  				  			<th><mfDefaultSorter by="" >Component</mfDefaultSorter></th>
                                  				  			<th><mfDefaultSorter by="" >Inclusive</mfDefaultSorter></th>
                                  				  			<th><mfDefaultSorter by="" >*Amt Calulated On</mfDefaultSorter></th>
                                  				  			<th><mfDefaultSorter by="" >Percentage</mfDefaultSorter></th>
                                  				  			<th><mfDefaultSorter by="" >Amount</mfDefaultSorter></th>
                                  				  			<th><mfDefaultSorter by="" >Party Type</mfDefaultSorter></th>
                                  				  			<th><mfDefaultSorter by="" >Remove</mfDefaultSorter></th>
                                                  <th><mfDefaultSorter by="" >Is Cess Type</mfDefaultSorter></th>
                                                  <th><mfDefaultSorter by="" >TDS%</mfDefaultSorter></th>
                                    		      </tr>
                                    		    </thead>
                                    		    <tbody>
                                    		      <tr>
                                    			<!-- <td colspan="9" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                                    		      </tr>
                                    		      <!-- <tr *ngFor='let post of mf.data'> -->
                                              <tr>
                                                <td>Market Fee.</td>
                              					  			<td><input type="checkbox" name="vehicle" value=""></td>
                              					  			<td>
                                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                      <option value=""></option>
                                                    </select>
                                                  </div>
                                                </td>
                              					  			<td>
                                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                                   </div>
                                                </td>
                              					  			<td>
                                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                                   </div>
                                                </td>
                              					  			<td>
                                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                      <option value=""></option>
                                                    </select>
                                                  </div>
                                                </td>
                              					  			<td><input type="checkbox" name="vehicle" value=""></td>
                                                <td><input type="checkbox" name="vehicle" value=""></td>
                                                <td>
                                                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                                   <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                                 </div>
                                                </td>
                                    		      </tr>
                                    		    </tbody>
                                    		    <tfoot>
                                    		      <tr>
                                    			<td colspan="9">
                                    			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                    			</td>
                                    		      </tr>
                                    		    </tfoot>
                                    		</table><!--TABLE ENDS-->
                                    	</div><!--TABLE DIV ENDS HERE-->
                                    </div>
                                  </div>
                                <div class="tab-pane fade" id="tab2default">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Remove/Defunct Fee Component</div>
                                    </div>
                                        <div class="col-sm-12 col-lg-3 col-md-3 col-xs-12">
                                          <div class="">
                                            <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Back to Active</button>
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Table -->
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
                                      <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th>FcmCompDesc</th>
                                            <th>Remove/Defunct</th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td></td>
                                            <td></td>

                                          </tr>

                                        </tbody>
                                      </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- Buttons -->
                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                      <button type="button" class="btn btn-success">Save</button>
                       <button type="button" class="btn btn-warning"> Reset</button>
                    </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
