<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">

            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite bold-title toolbar-adj">Grievance Status</div>
              <br>
              <div>(Note:-This will be viewed by Admin)</div>
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                                <th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Ticket No.</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Grievance Description</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Assignment</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf1.data'> -->
                            <tr>
                              <td><input type="checkbox" /></td>
            					  			<td>35842225</td>
            					  			<td>Payment not successfull</td>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                  <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                    <option value="">APMC</option>
                                  </select>
                                </div>
                              </td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="7">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
            </div>
            <div class=" col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite bold-title toolbar-adj">TAT View</div>
              <br>
              <div>(Note:-This will be viewed by APMC,SAMB,SFAC)</div>
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>

                				  			<th><mfDefaultSorter by="" >Ticket No.</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Grievance Description</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Resolution</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="" ></mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="7" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf2.data'> -->
                            <tr>

            					  			<td>35842225</td>
            					  			<td>Payment not successfull</td>
            					  			<td>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                    <textarea class="form-control greyBorderBck" rows="2" id=""></textarea>
                                </div>
                              </td>
                              <td><button type="button" class="btn btn-success">Submit</button></td>
                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="7">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
            </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
