
<div class="content-wrapper">
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content" style="padding:14px 0">
        <!-- SELECT2 EXAMPLE -->
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
          <div class="box-default">
            <div class="box box-body">
              <div class="p-a col-sm-12 col-xs-12 col-md-12 col-lg-12 agree"><div class="text-adj">Your account must be NEFT/RTGS enabled</div>
              <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 paddingNo">
                <div class="radio radio-primary agr-adj">
                  <input type="radio" name="radio1" id="radio1" value="option1">
                  <label for="radio1">
                    Agree
                  </label>
                </div>
              </div>

              <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 paddingNo">
                <div class="radio radio-primary disg-adj">
                  <input type="radio" name="radio1" id="radio2" value="option2">
                  <label for="radio2">
                    Disagree
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="box-default">
          <div class="box box-body">
            <div class="table-responsive  col-sm-12 margin-top20">
              <table class="table table-striped white b-a">
                <!-- <tr>
                <th colspan="3">Your Details</th>
              </tr> -->
              <tbody>
                <tr>
                  <td colspan="3" style="color: #C0A16D;font-weight:bold">  Your Details</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1892">Agent/Trader Name</td>
                  <td>{{bankData.lcamFullName}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1582">Company Name</td>
                  <td>{{bankData.lcamAgenCompName}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$10">Contact Number</td>
                  <td>
                    {{bankData.lcamAgenContNo}}
                  </td>
                </tr>
                <tr>
                  <td i18n="@@loco:$48">Email Id</td>
                  <td>
                    {{bankData.lcamAgenEmailID}}
                  </td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1583">Bank Name</td>
                  <td>
                    {{bankData.lcamBankName}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
      <div class="box-default">
        <div class="box box-body">
          <div class="table-responsive  col-sm-12 margin-top20">
            <table class="table table-striped white b-a">
              <tbody>
                <tr>
                  <td colspan="3" i18n="@@loco:$1891" style="color: #C0A16D;font-weight:bold">Bank Details</td>
                </tr>

                <tr>
                  <td i18n="@@loco:$1584">Bank Acc No.</td>
                  <td>{{bankData.lcamBankAccount}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1621">IFSC Code</td>
                  <td>{{bankData.lcamIfscCode}}</td>
                </tr>
                <tr>
                  <td i18n="@@loco:$1018">Adhar Card No.</td>
                  <td>
                    {{bankData.lcamAadharNo}}
                  </td>
                </tr>
                <tr>
                  <td i18n="@@loco:$52">Pan No.</td>
                  <td>
                    {{bankData.lcamPanNo}}
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </section>
</div>
<!-- /.row -->
</section>
</div>
<!-- <footer class="main-footer ">
  <div style="padding:6px;">
    <strong>Copyright &copy; 2017 </strong> All rights
    reserved.
  </div>
</footer> -->
