<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Consolidated Payment Report</div>
              </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj">

                  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">*Output Type</div>
                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                      <option value="">PDF</option>
                      <option value="">HTML</option>
                      <option value="">RTF</option>
                    </select>
                  </div>


                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite paddingNo">From Date</div>
                      <form #myForm="ngForm" novalidate>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                        [(ngModel)]="dateInsert" required></my-date-picker>
                      </form>
                    </div>


                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite  paddingNo">To Date</div>
                      <form #myForm="ngForm" novalidate>
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                        [(ngModel)]="dateInsert1" required></my-date-picker>
                      </form>
                    </div>


                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 toolbar-adj text-align-center">
                  <button type="button" class="btn btn-success">View Report</button>
                  <button type="button" class="btn btn-warning">Close</button>
                </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
