<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class=" box-default">
          <!-- /.box-header -->
          <div class="box box-body">
            <div class="pull-left col-sm-12 col-xs-12 col-lg-12 col-md-12">
              <div id="here">
                <div class=" col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <select  class="form-control  input-adj inputDark inputWhite" (change)="onApmcSelection(apmc.value)" id="apmc" #apmc>
                    <option value="all" selected>All</option>
                    <option *ngFor="let post of uniqResultadoumOprName" value={{post}}>{{post}}</option>
                  </select>
                </div>

                <div class=" col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <select class="form-control  input-adj inputDark inputWhite"  (change)="onAgentSelection(ca.value)" id="ca" #ca>
                    <option value="all" selected>All</option>
                    <option *ngFor="let post of uniqResultCA" value={{post}} >{{post}}</option>
                  </select>
                </div>
                <div class=" col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                  <select class="form-control  input-adj inputDark inputWhite" (change)="onCommoditySelection(commodity.value)" id="commodity" #commodity>
                    <option value="all" selected>All</option>
                    <option *ngFor="let post of uniqResultgmpmgProdName" value={{post}} >{{post}}</option>
                  </select>
                </div>

                <div class=" col-sm-12 col-xs-12 col-md-2 col-lg-3 res-btn padding-top">
                  <input type="text" class="form-control input-adj res-btn inputDark inputWhite" [ngModel]="''" id="lotcode" (ngModelChange)="searchLotcode($event)"  placeholder="Lot Code" i18n-placeholder="[placeholder]@@loco:$1091" [ngModelOptions]="{standalone: true}">

                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                    <input type="text" class="form-control  input-adj inputDark inputWhite" [ngModel]="''" id="seller" (ngModelChange)="searchSeller($event)"  placeholder="Seller" i18n-placeholder="[placeholder]@@loco:$1026" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 padding-top">
                    <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''" id="village" (ngModelChange)="searchVillage($event)" placeholder="Village" i18n-placeholder="[placeholder]@@loco:$1613" [ngModelOptions]="{standalone: true}">
                </div>
              </div>




                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                  <div class="header-font col-lg-12">
                    <div class="pull-left textWhite" i18n="@@loco:$1103" style="color: #000;">My Prefered Commodity Bid Listing</div>
                  </div>
                </div>


        <div class="table-fixed padding-top table-responsive col-md-12 col-lg-12 col-sm-12 col-xs-12 " style="padding:0px">
              <table  [mfData]="filteredData" #mf="mfDataTable" [mfRowsOnPage]="10"  class="display table table-striped" style="padding-bottom: 12px;    color: #2f2f2f;font-size:76%!important;" cellspacing="0" width="100%" id="testTable" >
                <tbody>
                  <tr>
                    <!-- <th i18n="@@loco:$1089">APMC</th> -->
                    <th i18n="@@loco:$1090">Commodity Details</th>
                    <th i18n="@@loco:$1114">No. of Bags</th>
                    <th i18n="@@loco:$1115">Quantity <br>(Kg.)</th>
                    <th i18n="@@loco:$1119">Min. Bid <br>(Rs.)</th>
                    <th i18n="@@loco:$1107">Last Bid <br>(Rs.)</th>
                    <th>My Bid <br>(Rs.)</th>

                    <th i18n="@@loco:$1098">Bid</th>
                    <th i18n="@@loco:$1117">Re-Bid Allowed</th>
                    <th>Time Remaining</th>
                    <th i18n="@@loco:$1093">Start & End Date</th>
                    <!-- <th i18n="@@loco:$1095">End Date</th> -->
                    <th i18n="@@loco:$1118">Extended Time</th>
                    <th i18n="@@loco:$1026">Seller Details</th>
                    <th i18n="@@loco:$1587">Trade Result</th>
                    <th i18n="@@loco:$1100">Certificate</th>
                  </tr>
                  <tr>
                    <td colspan="14" *ngIf="mf.data.length=='0'" class="noDataDisp" style="font-size:14px">No data to display</td>
                  </tr>
                  <tr *ngFor='let post of mf.data; let i = index' [attr.data-index]="i" id="cdata_{{i}}">


                    <td>
                      <table width="130px" padding="0">
                      <tr>
                      <td colspan="2"> <b>{{post.gmpmgProdName}}</b></td>
                        <!-- <div style="font-size: 12px;"> -->
                      </tr>
                      <tr style="line-height: 20px;">
                        <td i18n="@@loco:$1091" ><div style="font-weight: bold;color:green;" class="darkgreen">Lot Code:</div></td>
                        <td>{{post.abcLotID}}</td>
                        <!-- <div style="font-weight: bold;color:green;font-size: 12px;"> -->
                        <!-- <div style="font-size: 12px;"> -->
                      </tr>
                      <tr style="line-height: 20px;">
                        <td i18n="@@loco:$1158"><div style="font-weight: bold;color:green;" class="darkgreen" >Org Id:</div></td>
                        <td>{{post.abcOrgID}}</td>
                      </tr>
                    </table>
                    </td>
                    <td>{{post.iledNoofBag | slice : 0:3}}</td>
                    <td>{{post.iledQTY | slice : 0:7}}</td>
                    <td style="text-align:right">{{post.abcMspBidRate}}</td>
                    <td style="text-align:right">{{post.maxOpenBidValue}}</td>
                    <!-- <td style="text-align:right" *ngIf="post.maxOpenBidValue==null || post.maxOpenBidValue==undefind">0.00</td> -->
                    <td style=";text-align:right;font-weight:bolder;font-size:13px">{{post.lastBidValue}}<br>

                    <!-- <span *ngIf="post.lastBidValue == 0 ">  <img src="assets/images/arrow-up.png"> </span> -->

                          <span *ngIf="(post.lastBidValue < post.maxOpenBidValue)  && (post.lastBidValue != 0)" style="text-align: center;">   <img src="assets/images/arrow-down.png"> </span>
                          <span *ngIf="(post.lastBidValue == post.maxOpenBidValue) || (post.lastBidValue == 0)" style="text-align: center;">  <img src="assets/images/arrow-up.png"> </span>

                    </td>



                    <td>
                      <!-- bid type Open and multi bid allowed and maxOpenBidValue is equal to last bid value -->
                      <span  *ngIf="(post.abcBidType=='O')&&(post.abcSubMultBid=='Y')" >
                        <button *ngIf="(post.maxOpenBidValue==post.lastBidValue)"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}">Bid Now</button>
                      </span>
                      <!-- Bid type closed,multi bid allowed and maxOpenBidValue is equal to last bid value -->
                      <!-- <span *ngIf="(post.abcBidType=='C')&&(post.abcSubMultBid=='Y')">
                        <button *ngIf="(post.maxOpenBidValue==post.lastBidValue)"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}">Bid Now</button>
                      </span> -->
                      <!-- Bid type closed,multi bid allowed and maxOpenBidValue is equal to zero and last bid value is not zero -->
                      <span *ngIf="(post.abcBidType=='C')&&(post.abcSubMultBid=='Y')">
                        <button *ngIf="(post.maxOpenBidValue=='0.00')&&(post.lastBidValue!='0')"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" >Bid Now</button>
                      </span>
                      <!-- Bid type open,multi bid allowed and maxOpenBidValue is not defined -->
                      <span *ngIf="(post.abcBidType=='O')&&(post.abcSubMultBid=='Y')">
                        <button *ngIf="(post.maxOpenBidValue==undefined)"  type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}">Bid Now</button>
                      </span>
                      <!-- Bid type opened and multibid not allowed  and lastBidValue is not Zero and maxOpenBidValue is not zero-->
                      <span  *ngIf="(post.abcBidType=='O')&&(post.abcSubMultBid=='N')" >
                        <button *ngIf="(post.lastBidValue!='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" [disabled]="true">Bid Now</button>
                        <button *ngIf="(post.lastBidValue=='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" >Bid Now</button>
                      </span>
                      <!-- Bid type closed and multibid not allowed and lastBidValue is not zero but maxOpenBidValue is zero-->
                      <span  *ngIf="(post.abcBidType=='C')&&(post.abcSubMultBid=='N')" >
                        <button *ngIf="(post.lastBidValue!='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" [disabled]="true">Bid Now</button>
                        <button *ngIf="(post.lastBidValue=='0.00')" type="button" class="btn  btn-success btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2" i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid" id="{{i}}" >Bid Now</button>
                      </span>
                      <!-- last bid value is less then maxOpenBidValue and last bid is not zero then down arrow ,danger buttom -->
                      <span *ngIf="(post.lastBidValue < post.maxOpenBidValue)  && (post.lastBidValue != '0.00') && (post.abcSubMultBid=='Y')" >
                        <button type="button" class="btn  btn-danger btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2"  i18n="@@loco:$1098" (click)="chkBid(post,i)" (click)="div_show()"  data-placement="down" title="click to bid">Bid Now </button>
                      </span>
                      <!-- last bid value is less then maxOpenBidValue and last bid value is zero -->
                      <span *ngIf="(post.lastBidValue < post.maxOpenBidValue)  && (post.lastBidValue == '0.00') && (post.abcSubMultBid=='Y')" >
                        <button type="button" class="btn   btn-pay-ajst1 outlineNo" data-toggle="modal" data-target="#bidnow2"  i18n="@@loco:$1098" (click)="chkBid(post,i)" style="background-color:#f7a137;border-color:#f7a137;color:white" (click)="div_show()"  data-placement="down" title="click to bid">Bid Now </button>
                      </span>
                    </td>
                    <td style="text-align: center;">{{post.abcSubMultBid}}</td>
                    <td  style="width:107px;padding-right:0px"><app-timer (stopBid)="test($event, i)" [inputDate]="post.abcEndDate">Loading...</app-timer>{{message}}</td>
                    <!-- <td style="padding-right:0px;width:136px;">{{post.abcStartDate}}</td>
                    <td style="padding-right:0px;width:136px;">{{post.abcEndDate}}</td> -->
                    <td style="padding-right: 0;width: 149px;">
                      <table>
                        <tr>
                          <td>
                            <span style="font-weight: bold;color:green;" class="darkgreen">Start: </span>{{post.abcStartDate | date:'y-M-d HH:mm a'}}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span style="font-weight: bold;color:green;" class="darkgreen">End: </span>{{post.abcEndDate | date:'y-M-d HH:mm a'}}
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td >{{post.abcExtendedEndTime}}</td>
                    <td>
                      <tr>
                        <td>{{post.sellerName}}</td>
                      </tr>
                      <tr>
                        <td>{{post.villageName}}</td>
                      </tr>
                    </td>
                    <td><button type="button" class="btn   btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#" i18n="@@loco:$1889" data-placement="down" title="view result" (click)="seeTradeResult()">Show</button></td>
                    <td><button type="button" class="btn   btn-pay-ajst1 outlineNo btncolor" data-toggle="modal" data-target="#" i18n="@@loco:$1889" data-placement="down" title="view certificate" (click)="viewCertificate()">View</button></td>
                  </tr>
                  <!-- [className]="overlay" -->
                  <div id="popup1" [className]="my_class1" >
                  	<div class="popup">
                  		<h2>Bid Now</h2>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 value-adj">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue < maxOpenBidValue)  && (lastBidValue != 0)">
                          <span class="">
                            Last bid
                          </span><br>
                          <span class="">
                            Rs. {{maxOpenBidValue}}
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue < maxOpenBidValue)  && (lastBidValue != 0)">
                          <span class="">
                            Your bid
                          </span><br>
                          <span class="">
                            Rs. {{lastBidValue}}
                          </span>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue == maxOpenBidValue) || (lastBidValue == 0)">
                          <span class="">
                            Last bid
                          </span><br>
                          <span class="">
                            Rs. {{maxOpenBidValue}}
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue == maxOpenBidValue) || (lastBidValue == 0)">
                          <span class="">
                            Your bid
                          </span><br>
                          <span class="">
                            Rs. {{lastBidValue}}
                          </span>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue > maxOpenBidValue) && (maxOpenBidValue==0.00)">
                          <span class="">
                            Last bid
                          </span><br>
                          <span class="">
                            Rs. {{maxOpenBidValue}}
                          </span>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" *ngIf="(lastBidValue > maxOpenBidValue) && (maxOpenBidValue== 0.00)">
                          <span class="">
                            Your bid
                          </span><br>
                          <span class="">
                            Rs. {{lastBidValue}}
                          </span>
                        </div>
                      </div>
                      <div class="close" (click)="closeButton1()" ><img class="" src="assets/images/delete.png"></div>
                  		<!-- <a class="close" href="#" onclick="div_hide()">&times;</a> -->
                  		<div class="content newContentPop">
                        <flash-messages></flash-messages>
                        <div style="font-size: 14px;font-family: monospace;">Minimum bid value is: Rs.{{abcMspBidRate}} </div>
                        <div *ngIf="(lastBidValue < maxOpenBidValue)  && (lastBidValue != 0)" class="bidTextred">*Your bid is low. Please bid.</div>
                        <div *ngIf="(lastBidValue > maxOpenBidValue)"  class="bidTextgreen">*Your are the highest bidder.</div>
                        <div *ngIf="(lastBidValue == 0)"  class="bidTextred">*Your have not bidded yet.</div>
                        <div *ngIf="(lastBidValue == maxOpenBidValue)"  class="bidTextgreen">*Bid value is equal.</div>
                        <input id="focus1" type="number" class="form-control input-adj" [(ngModel)]="bidvalue" pattern="[0-9]" style="text-overflow:ellipsis;overflow:hidden;" placeholder="Value should be greater than min bid value" [ngModelOptions]="{standalone: true}">
                  		</div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-toggle="modal" data-target="#bidnow3" (click)="bidNow()" (click)="div1_show()">Bid</button>

                      </div>
                  	</div>
                  </div>
                  <!-- [className]="my_classHidden" -->
                  <div id="popup2" [className]="my_class2"  *ngIf="(bidvalue!=0) && (bidvalue!=null && bidvalue > maxOpenBidValue && bidvalue >= this.abcMspBidRate)">
                  	<div class="popup" >
                  		<h2>Confirmation</h2>
                  		<div class="close" (click)="closeButton2()" ><img class="" src="assets/images/delete.png"></div>
                  		<div class="content newContentPop">
                  			Do you want to finalise Bid?
                  		</div>
                      <div class="modal-footer" >
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="finalBid()" (click)="resultShow1()" onclick="reset()">Yes</button>
                        <button type="button" class="btn btn-default outlineNo popbtn" data-dismiss="modal" (click)="div1_hide()">No</button>
                      </div>
                  	</div>
                  </div>

                  <!-- Final result popup -->
                  <!-- [className]="my_classVisible" -->
                  <div id="popup5" [className]="my_class3">
                  	<div class="popup">
                      <div class="content newContentPop msgSucs" *ngIf="statusCode==1">
                        <div><img src="assets/images/checkmark.gif"></div><br>
                        <div>{{successMsg}}</div>
                      </div>
                      <div class="content newContentPop msgFails" *ngIf="statusCode==0">
                        <div>{{failMsg}}</div>
                      </div>
                    </div>
                  </div>
                </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                  <!-- Popup for certificate -->
                  <div id="certificate" [className]="my_class4">
                  	<div class="popup adjpopup" >
                  		<h2>Certificate</h2>
                  		<div class="close" (click)="closeButton4()" ><img class="" src="assets/images/delete.png"></div>
                  		<div class="content newContentPop">
                        <div class="table-responsive table-fixed padding-top" style="padding-top:25px">
                          <table  [mfData]="certificateData" #mf2="mfDataTable" [mfRowsOnPage]="6" class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                            <thead>

                            <tr class="tableDarkHeader">
                              <th><mfDefaultSorter by="docno">Document number</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="srNo">Serial number</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="paramName">Test parameter</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="assVal">Test value</mfDefaultSorter></th>
                              <th><mfDefaultSorter by="valChar">Test unit</mfDefaultSorter></th>
                            </tr>
                          </thead>
                          <tbody id="certDark">
                            <tr>
                              <td colspan="5" *ngIf="mf2.length=='0'" class="noDataDisp">No data to display</td>
                            </tr>
                            <tr  *ngFor='let post of mf2.data'>
                              <td>{{post.docno}}</td>
                              <td>{{post.srNo}}</td>
                              <td>{{post.paramName}}</td>
                              <td>{{post.assVal}}</td>
                              <td>{{post.valChar}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="5">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                       </div>
                  	 </div>
                    </div>
                  </div>
                </table>
              </div>
    </div>

  </div>
</div>
<!-- /.box -->
</section>
</div>
<!-- /.row -->
</section>
</div>
