<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">System Parameters- Legal Entity</div>
            </div>
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <div class=" col-sm-10 col-lg-10 col-md-10 col-xs-10 color-notPureWhite">Match
                <input type="radio" name="match" class="color-notPureWhite">All
                <input type="radio" name="match" class="color-notPureWhite">Any
              </div>
              <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2 floatRight">
                <button *ngIf="shown1" (click)="advanceBtn()">Advanced</button>
                <button *ngIf="shown3" (click)="basicBtn()">Basic</button>
              </div>
                <div *ngIf="shown1" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Parameter Name</div>
                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                   </div>

                   <br>
                </div>
                <div *ngIf="shown1" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Module Name</div>
                   <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                   </div>

                   <br>
                </div>

                <div *ngIf="shown3" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Parameter Name</div>
                  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                      <option value="">Starts With</option>
                      <option value="">Ends With</option>
                      <option value="">Equals</option>
                      <option value="">Doesn't Equal</option>
                      <option value="">Less Than</option>
                      <option value="">Less Than or Equal To</option>
                      <option value="">Greater Than</option>
                      <option value="">Greater Than or Equal To</option>
                      <option value="">Between</option>
                      <option value="">Not Between</option>
                      <option value="">Contains</option>
                      <option value="">Doesn't Contain</option>
                      <option value="">Is Blank</option>
                      <option value="">Is Not Blank</option>

                    </select>
                  </div>
                   <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                   </div>

                   <br>
                </div>
                <div *ngIf="shown3" class=" col-sm-6 col-lg-6 col-md-6 col-xs-6 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Module Name</div>
                  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                      <option value="">Starts With</option>
                      <option value="">Ends With</option>
                      <option value="">Equals</option>
                      <option value="">Doesn't Equal</option>
                      <option value="">Less Than</option>
                      <option value="">Less Than or Equal To</option>
                      <option value="">Greater Than</option>
                      <option value="">Greater Than or Equal To</option>
                      <option value="">Between</option>
                      <option value="">Not Between</option>
                      <option value="">Contains</option>
                      <option value="">Doesn't Contain</option>
                      <option value="">Is Blank</option>
                      <option value="">Is Not Blank</option>
                    </select>
                  </div>
                   <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn">
                     <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                   </div>

                   <br>
                </div>
                <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                  <button type="button" class="btn btn-success color-notPureWhite">Search</button>
                  <button type="button" class="btn btn-warning color-notPureWhite">Reset</button>
                </div>
            </div>
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
              <!-- table -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                  <div class="">
                    <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn">Delete</button>
                  </div>
                </div>
            </div>
            <!-- Table -->
              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                				  			<th><mfDefaultSorter by="" >Parameter ID</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Parameter Name</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Value</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Module Name</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<td colspan="4" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                  		      </tr>
                  		      <tr *ngFor='let post of mf.data'>

            					  			<td></td>
            					  			<td></td>
            					  			<td></td>
            					  			<td></td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="4">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
            </div>
            <!-- Buttons -->
            <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
              <button type="button" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-warning"> Reset</button>
           </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
