<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div>
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default paddingBox">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="panel panel-default">
              <div class="screen_header"><span>Bid Declaration</span></div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 ">
                      <p>*Opening Date</p>
                        <div class="row">
                         <div class="form-group col-xs-6  res-btn">
                             <!-- <angular2-date-picker [(ngModel)]="fromDate" [settings]="settings"></angular2-date-picker> -->
                             <form #myForm="ngForm" novalidate>
                               <my-date-picker name="mydate4" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                               [(ngModel)]="fromDate" required></my-date-picker>
                             </form>
                         </div>
                         <div class="form-group col-xs-6  res-btn" >
                             <!-- <angular2-date-picker [(ngModel)]="toDate" [settings]="settings"></angular2-date-picker> -->
                             <form #myForm="ngForm" novalidate>
                               <my-date-picker name="mydate5" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                               [(ngModel)]="toDate" required></my-date-picker>
                             </form>
                         </div>
                       </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-2">
                      <p>Commodity</p>
                      <div class="form-group  res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchCommodityName" (input)="onCommodity()">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-2">
                      <p>Lot Code</p>
                      <div class="form-group res-btn">
                        <input type="text" class="form-control input-adj inputDark inputWhite" [(ngModel)]="matchLotCode" (input)="onLotCode()">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-4 col-lg-2">
                      <p>Bidding Status</p>
                      <div class="form-group res-btn">
                        <select class="form-control input-adj inputDark inputWhite" (change)="onBidStatus($event.target.value)">
                          <option value="" [selected]="defSel == true">Select</option>
                          <option value="No Bids">No bids</option>
                          <option value="With Bids">With bids</option>
                        </select>
                      </div>
                    </div>
                </div>
              </div>
            </div>

                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 padding-bottom10 text-align-center">
                    <flash-messages></flash-messages>
                  </div>
                  <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 padding-bottom10 text-align-center">
                        <button type="button" class="btn btn-success" (click)="getOpenBidLists()">Search</button>
                        <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
                      </div>
                  <!-- Data table with buttons -->

                  <div id="popup5" [className]="my_class4">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Total No. of Bidders Less than Minimum Buyers.</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class10">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Please Choose Bids Having Biddders Greater Than Minimum Buyers To Declare </div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class11">
                    <div class="popup" >
                          <div  style="color:green;padding-bottom:10px;" >Bid Declared Successfully </div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class12">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Something Went Wrong</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class17">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Please Select Only One Bid To Extend</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class18">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Please Select Only One Bid To Exit</div>
                    </div>
                  </div>
                  <div id="popup5" [className]="my_class19">
                    <div class="popup" >
                          <div  style="color:red;padding-bottom:10px;" >Please Select Atleast One Bid To Publish Result</div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                         <button type="submit" class="btn btn-default  white m-b input-adj outlineNo greybtn" [class.active]="activeCreate" (click)="onSelectAll()" >Select All</button>

                         <button type="submit" class="btn btn-default  white m-b input-adj outlineNo greybtn" [class.active]="activeCreate" (click)="onDeSelectAll()" >Deselect All</button>

                         <button type="submit" class="btn btn-default  white m-b input-adj outlineNo greybtn" [class.active]="activeCreate" id="publish_ids" (click)="openPubResultPopUp()">Publish results</button>

                         <button type="submit" class="btn btn-default  white m-b  input-adj outlineNo greybtn" [class.active]="activeCreate" id="extend_ids" (click)="openExtendBidPopUp()">Extend Bid</button>

                         <button type="submit" class="btn btn-default  white m-b input-adj outlineNo greybtn" [class.active]="activeCreate" id="exit_ids" (click)="openExitBidPopup()">Exit Bid</button>

                         <button type="submit" class="btn white m-b input-adj outlineNo btn-success" (click)="div_show()">Print report</button>

                 </div>
                 <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                   <div class="table-fixed padding-top table-responsive scroll-table">
                       <table  [mfData]="filteredOpenBidLists"  #mf="mfDataTable"   class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                         <thead>
                           <tr>
                             <th><mfDefaultSorter by="" >Select</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Opening Date</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Lot code</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Commodity UOM Qty</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Minimum Buyers</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Min Bid</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Max Bid</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Bidders</mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Bidding Status</mfDefaultSorter></th>
                             <!-- <th><mfDefaultSorter by="" >Action</mfDefaultSorter></th> -->
                             <th><mfDefaultSorter by="" >End Date </mfDefaultSorter></th>
                             <th><mfDefaultSorter by="" >Extended Date</mfDefaultSorter></th>
                           </tr>
                           <tr>
                             <td colspan="12" *ngIf="mf.data.length == 0" class="noDataDisp">No data to display</td>
                           </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor='let post of mf.data;let i=index'>
                             <td>
                               <input type="checkbox" value="" (click)="onCheckBid(post,$event.target.checked,i)" id="checkId_{{i}}" [checked]="post.checked">
                             </td>
                             <td>{{post.abcBidOpenDate}}</td>
                             <td>{{post.gmpmgProdName}}</td>
                             <td>{{post.iledLotCode}}</td>
                             <td>{{post.iledQty}}</td>
                             <td>{{post.abcMinBuyers}}</td>
                             <td>{{post.abcMspBidRate}}</td>
                             <td>{{post.maxopenbidval}}</td>
                             <td>{{post.totbidders}}</td>
                             <td>{{post.bidderstatus}}</td>
                             <td>{{post.abcEndDate}}</td>
                             <td>{{post.abcExtendedEndDate}}</td>
                           </tr>
                         </tbody>
                         <!-- <tfoot>
                           <tr>
                       <td colspan="12">
                         <mfBootstrapPaginator></mfBootstrapPaginator>
                       </td>
                           </tr>
                         </tfoot> -->
                     </table><!--TABLE ENDS-->
                   </div><!--TABLE DIV ENDS HERE-->
                 </div>

                 <!-- Popup for print report -->
                 <div id="popup1" [className]="my_class13">
                  	<div class="popup">
                      <div id="popup5" [className]="my_class14">
                        <div class="popup" >
                              <div  style="color:red;padding-bottom:10px;" >Both Dates Are Mandatory</div>
                        </div>
                      </div>
                      <div id="popup5" [className]="my_class15">
                        <div class="popup" >
                              <div  style="color:red;padding-bottom:10px;" >To-Date Should Be On Or Before Current Date</div>
                        </div>
                      </div>
                      <div id="popup5" [className]="my_class16">
                        <div class="popup" >
                              <div  style="color:red;padding-bottom:10px;" >From-Date Should Be On Or Before To-Date</div>
                        </div>
                      </div>
                        <div class="modal-header">
                          <h4 class="modal-title">Print Report</h4>
                        </div>
                  		<div class="close" (click)="div_hide()" ><img class="" src="assets/images/delete.png"></div>
                  		<div class="content newContentPop">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Output Type</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                          <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (change)="chooseReportType($event.target.value)">
                            <option value="pdf" [selected]="reportType == 'pdf'">PDF</option>
                            <!-- <option value="">HTML</option> -->
                            <option value="rtf" [selected]="reportType == 'rtf'">RTF</option>
                            <option value="xls" [selected]="reportType == 'xls'">EXCEL</option>
                          </select>
                        </div>
                        <br>
                        <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj paddingNo">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">From Date</div>
                          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                            <form #myForm="ngForm" novalidate>
                              <my-date-picker name="mydate1" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                              [(ngModel)]="printFromDate" required></my-date-picker>
                            </form>
                          </div>
                        </div>
                        <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj paddingNo">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">To Date</div>
                          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                            <form #myForm="ngForm" novalidate>
                              <my-date-picker name="mydate2" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                              [(ngModel)]="printToDate" required></my-date-picker>
                            </form>
                          </div>
                        </div>
                        <br>
                        <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 color-notPureWhite">Select Report
                          <br><input type="radio" name="match" class="color-notPureWhite" [checked]="bidRep == 'O'"  (click)="chooseWinnerWise()" >Bid Opening Winner List
                          <br><input type="radio" name="match" class="color-notPureWhite" (click)="chooseCAWise()" [checked]="bidRep == 'C'">Commission Agent Wise Bid Opening Winner List
                          <br><input type="radio" name="match" class="color-notPureWhite" (click)="chooseTraderWise()" [checked]="bidRep == 'T'">Trader Wise Bid Opening Winner List
                        </div>
                  		</div>
                      <div class="modal-footer" >
                        <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="printReport()">Print</button>
                        <button  type="button" (click)="div_hide()" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Cancel</button>

                      </div>
                  	</div>
                </div>
                <!-- Publish Result Popup  -->
                <div id="popup1" [className]="my_class2">
                        <div class="popup">
                          <div id="popup5" [className]="my_class3">
                            <div class="popup" >
                                  <div  style="color:green;padding-bottom:10px;" >{{saveMsg}}</div>
                            </div>
                          </div>
                          <div class="modal-content">
                            <div class="modal-header">
                              <div class="close" (click)="div_hide_pubPopUp()" ><img class="" src="assets/images/delete.png"></div>
                              <h4 class="modal-title">Publish Results</h4>
                            </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                  <div class="table-fixed padding-top table-responsive">
                                      <table  [mfData]="filteredopenBidAction"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                        <thead>
                                          <tr>
                                              <th><mfDefaultSorter by="" >Trader Name</mfDefaultSorter></th>
                                              <th><mfDefaultSorter by="" >Bid Amt</mfDefaultSorter></th>
                                              <th><mfDefaultSorter by="" >Bidder's Rank</mfDefaultSorter></th>
                                              <th><mfDefaultSorter by="" >Final Status</mfDefaultSorter></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td colspan="4" *ngIf="mf2.data.length==0" class="noDataDisp">No data to display</td>
                                          </tr>
                                          <tr *ngFor="let post of mf2.data;let i = index" >
                                            <td>{{post.tradername}}</td>
                                            <td>{{post.absBidRate}}</td>
                                            <td>{{post.bidderPosition}}</td>
                                            <td>{{post.bidderHstatus}}</td>
                                          </tr>
                                        </tbody>
                                        <tfoot>
                                          <tr>
                                            <td colspan="4">
                                              <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                          </tr>
                                        </tfoot>
                                    </table>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSaveOpenBid()">Save</button>
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide_pubPopUp()">Cancel</button>
                          </div>
                        </div>
                      </div>
                </div>
                <!-- Extend Bid Popup -->
                <div id="popup1" [className]="my_class5">
                        <div class="popup">
                          <div id="popup5" [className]="my_class6">
                            <div class="popup" >
                                  <div  style="color:red;padding-bottom:10px;" >The date should be between {{defaultDate}} and {{nextDate}} 12:00:00 AM</div>
                            </div>
                          </div>
                          <div id="popup5" [className]="my_class7">
                            <div class="popup" >
                                  <div  style="color:green;padding-bottom:10px;" >Bid Extension Successful</div>
                            </div>
                          </div>
                          <div class="modal-content">
                            <div class="modal-header">
                              <div class="close" (click)="div_hide_exPopUp()" ><img class="" src="assets/images/delete.png"></div>
                              <h4 class="modal-title">Extend Bid</h4>
                            </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-xs-12">
                                  <div class="table-fixed padding-top table-responsive" style="overflow: inherit;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite padding-left0">Enter a date between {{defaultDate}} and {{nextDate}} 00:00:00 .</div>
                                    <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite padding-left0">*Bid Extension</div>
                                     <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6  res-btn paddingNo" style="    width: 67%;">
                                         <angular2-date-picker [(ngModel)]="extendedDate" [settings]="settings"></angular2-date-picker>
                                     </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onSaveExtendedBid()">Save</button>
                            <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide_exPopUp()">Cancel</button>

                          </div>
                        </div>
                      </div>
                </div>

                <!-- Confirm Exit -->
                <div id="popup2" [className]="my_class8" >
                  <div class="popup" >
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Confirmation</h4>
                      </div>
                      <div class="modal-body">
                        <div id="popup5" [className]="my_class9">
                          <div class="popup" >
                                <div  style="color:green;padding-bottom:10px;" >Bid Close Successful</div>
                          </div>
                        </div>
                        <div class="close" (click)="closeExitBidPopup()" ><img class="" src="assets/images/delete.png"></div>
                        <div class="content newContentPop">
                          Do you want to confirm bid exit?
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onExitBid()">Yes</button>
                          <button type="button" class="btn btn-default outlineNo popbtn" data-dismiss="modal" (click)="closeExitBidPopup()">No</button>
                      </div>
                    </div>
                    <!-- <h2>Confirmation</h2>
                    <div id="popup5" [className]="my_class9">
                      <div class="popup" >
                            <div  style="color:green;padding-bottom:10px;" >Bid Close Successful</div>
                      </div>
                    </div>
                    <div class="close" (click)="closeExitBidPopup()" ><img class="" src="assets/images/delete.png"></div>
                    <div class="content newContentPop">
                      Do you want to confirm bid exit?
                    </div> -->
                    <!-- <div class="modal-footer" >
                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="onExitBid()">Yes</button>
                      <button type="button" class="btn btn-default outlineNo popbtn" data-dismiss="modal" (click)="closeExitBidPopup()">No</button>
                    </div> -->
                  </div>
                </div>


                <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE -->
                    <div id="popup4" [className]="my_class1">
                          <div class="popup">
                            <div class=" newContentPop ">
                              <div>Your token has expired.<br> Redirecting to login page...</div>
                            </div>
                          </div>
                      </div>
          <!--popup ends-->

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
