#publish_ids.active,#extend_ids.active,#exit_ids.active {
  background-color:#00a65a !important;
  color: white;
}

.table>tbody>tr>td{font-size: 12px;}
.paddingBox{padding: 10px;}

.table.table-striped{border: 1px solid #ddd;box-shadow: 0px 0px 1px #ddd; border-radius: 5px;}
.table.table-striped thead{background: #f5f5f5;}
.table.table-striped thead th{color: #000; font-weight: 400;}
a.text-nowrap{color: #000 !important; font-weight: 400;}
.input-adj {
    height: 35px;
}
.mydp, .mydp .headertodaybtn{ height: 36px;}

.popup{padding: 2px;}

.panel-heading-top{
    color: #333;
    background-color: #FFE4C4;
    border-color: #ddd;
}
.winkel-calendar div.wc-date-container{
  border: 1px solid #bbb !important;
  padding: 20px !important;
}
.table-fixed .padding-top .table-responsive.scroll-table{
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
}
