
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="box col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj">
              <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 redText" style="color:red">*Dates are mandatory</div>
              <div class="col-sm-6 col-xs-6 col-md-5 col-lg-5 pull-left cal-adj paddingNo">

                <form #myForm="ngForm" novalidate>
                  <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholder="From date" i18n-placeholder="[placeholder]@@loco:$908"
                  [(ngModel)]="bidFromDate" required></my-date-picker>
                </form>
              </div>
              <div class="col-sm-6 col-xs-6 col-md-5 col-lg-5 cal-adj1">
                <form #myForm="ngForm" novalidate>
                  <my-date-picker name="mydate" [options]="myDatePickerOptions"  placeholder="To date"  i18n-placeholder="[placeholder]@@loco:$911"
                  [(ngModel)]="bidToDate" required></my-date-picker>
                </form>
              </div>
              <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 paddingNo">
                <button type="submit" (click)="getBidHistory()" class="btn btn-success white m-b form-control input-adj outlineNo" i18n="@@loco:$168" [disabled]="disableConfirm">Search</button>
              </div>
              <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 paddingNo">
                <flash-messages></flash-messages>
              </div>

                <div class="border-add">
                  <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12  paddingNo">
                    <div class="header-font">
                      <div class="pull-left text_color" style="color: #000;">Bidding History</div>

                    </div>
                    <div _ngcontent-c4="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  padding-top">
                      <div _ngcontent-c4="" class="dropdown inline col-lg-9 col-md-9 col-sm-12 col-xs-12 paddingNo">

                      </div>

                    </div>
                    <div class="table-fixed padding-top table-responsive">
                      <table  [mfData]="bidData" #mf="mfDataTable" [mfRowsOnPage]="10"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                        <thead>
                          <tr>
                            <!--<th>
                            Filter by name:
                            <input class="form-control" [(ngModel)]="filterQuery"/>
                          </th>-->
                        </tr>
                        <tr>
                          <th><mfDefaultSorter by="adoumOprName" i18n="@@loco:$1089">APMC</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="gmpmgProdName" i18n="@@loco:$1090">Commodity</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="iledLotCode" i18n="@@loco:$1091">Lot Code</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="iledQTY" i18n="@@loco:$1115">Quantity</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="absBidDate" i18n="@@loco:$1105">Bid Date</mfDefaultSorter></th>
                          <th><mfDefaultSorter by="absBidRate" i18n="@@loco:$1125">Bid Amount</mfDefaultSorter></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td colspan="7" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                        </tr>
                        <tr *ngFor='let post of mf.data'>
                          <td>{{post.adoumOprName}}</td>
                          <td>{{post.gmpmgProdName}}</td>
                          <td>{{post.iledLotCode}}</td>
                          <td>{{post.iledQTY}}</td>
                          <td>{{post.absBidDate | date:'y-M-d'}}</td>
                          <td>{{post.absBidRate}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="6">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.row -->
  </section>
</div>
