.btn-arrng{
  padding-left: 10px;
}

.padding{
  background-color: #e5ebe8;
}
.btn-rad0{
  border-radius: 0;
  width: 100%;
}
.redText{
  color: red;
padding: 0 0 9px;
margin-top: -10px;
}

.textfield-adjust{
  margin-top: -49px;
  margin-left: 56%;
  width:58%;
}
.main-footer {
    position: fixed;
    background: #fff;
    bottom: 0!important;
    width: 100%;
    height: 60px;
    color: #444;
    border-top: 1px solid #d2d6de;
    box-shadow: 6px -4px 17px -4px rgba(210,214,222,1);
}
.outlineNo{
  outline: none!important;
}
.pay-color{
  color:white;
}
.padding-top{
      padding-top: 8px;
      padding-left: 0px;
}
.pay-color:hover{
  color:white;
  background-color: #228b4e;
  border-color: #228b4e;

}
.toolbar-adj{
    margin-bottom: -7px;

    padding-top: 25px;
    padding-right: 14px;
}
.side-adj{
      margin-right: -29px;
}
.upper-adj{
  margin-top: -5px;
    margin-left: -11px;
    margin-right: -10px;
}
.commodity-adj{
  padding-top: 10px;
  margin-left: -11px;
}
.txtfld-height{
  height: 49px;
}
.textfield-adjust2{
    margin-top: -49px;
    margin-left: 100%;
    height: 49px;
}
.date-field{
  width:58%;
}
.search-btn{
  width: 68%;
  margin-top: -57px;
  margin-left: 200%;
  background-color: #f59e12;
  color: white;
}

.search-hover:hover{
  background-color: #f3c111;
  border-color: #f3c111;
  color: white;
}
.search-hover:focus{
  background-color: white!important;
  box-shadow: none;
  color: #55595C;
}
.search-btn-height{
  height: 49px;
}
.box-adjust{
  margin-top: 39px;
  margin-right: -6px;
  margin-left: -11px;


}
.border-add{
  margin-bottom: -16px;

  margin-left: 0px;
  margin-right: 0px;
}
.sec-box{
  width: 63%;
  margin-left: -10px;

}
.pending-name{
  width: 9%;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: small;
  color:  #2c9759;
}
.pending-amount{
  width: 9%;
  padding-left: 89%;
  margin-top: -21px;
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: large;
  color:  #2c9759;
}
.table-fixed{


  width: 100%;

}
.btn-pay-ajst1{
  height: 25px!important;
      text-align: center;
      font-size: 14px;
      border-radius: 20px;
      background-color: #22b66e;
      border-color: #22b66e;
      width: auto!important;
      line-height: 15px;
      padding: 5px 15px!important;
}
.btn-pay-ajst2{
  height: 25px!important;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #f3c111;
    border-color: #f3c111;
    width: auto!important;
    line-height: 15px;
    padding: 5px 15px!important;
}
.btn-pay-ajst-disable{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8;
    border-color: #e5ebe8;
    color:#9a9a9a;
}
.btn-pay-ajst-disable:hover{
    height: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
    background-color: #e5ebe8!important;
    border-color: #e5ebe8;
    color:#9a9a9a;
    cursor: default;
}
.side-table-adjust{
    margin-left: 57em;
    margin-top: -71.5%;
    width: 60.80%;
}
.side-table-adjust2{
  margin-left: 63.20%;
  margin-top: -70%;
  width: 38.20%;
}
.side-table-adjust3{
  margin-left: 63.20%;
  margin-top: -46%;
  width: 38.20%;
}
.header-font{
  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: 22px;
  padding-top: 12px;

}

.amount-adj{

  font-family: 'Lato', sans-serif;
  color: #2c9759;
  font-size: large;
  font-weight: bold;
  padding-right: 63px;
}
.input-adj{
  height: 49px;
  width: 100%;
}
.text-pending-adjust{
  margin-left: 2px;
    font-size: large;
}
.pagination-right{
  margin-left: 33%;
}
.padding-right0{
  padding-right: 0;
}
@media screen and (min-width: 992px) and (max-width:1545px)
{

  .table-responsive {

    border: none;
  }


}

@media screen and (max-width: 767px) and (min-width:353px)
{

  .table-responsive {

    border: none;
  }

  .col-lg-2.col-md-2.col-sm-12.col-xs-12,.col-lg-1.col-md-1.col-sm-12.col-xs-12{
    padding: 0!important;
    margin-top: 5px;
  }
  .cal-adj1{
    padding-right: 0;
  }
}
