
<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Agent Registration</div>
            </div>
            <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
                <!-- 1st column -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Agent Type</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 height49 marginTop refresh-adj">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value="" >Commission Agent</option>
                  <option value="" >Trader</option>
                  <option value="" >Hamal</option>
                  <option value="" >Weightman</option>
                  <option value="" >Service Provider</option>
                  <option value="" >Government</option>
                </select>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Full Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>

              <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Address2</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">District</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
                <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                  <img src="assets/images/search.png">
                </div> -->
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Email Id</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">PAN Card</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bank Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">IFSC Code</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>

            </div>

            <!-- 2nd column -->
            <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Service Provider</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show1()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Gender</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                  <option value="">Male</option>
                  <option value="">Female</option>
                  <option value="">Others</option>
                </select>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Pincode</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Tehsil</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*APMC license No.</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Company Name</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Bank Acc. No.</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Trade Limit</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>
            </div>
              <!-- 3rd column  -->
            <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Category</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show2()">
                  <img src="assets/images/search.png">
                </div>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Address1</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*State</div>
              <div class="form-group col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg" (click)="div_show3()">
                <img src="assets/images/search.png">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Mobile Number</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Adhaar Card</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  color-notPureWhite">Company Reg. No.</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom20  res-btn">
                <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <button type="submit" class="btn btn-success white m-b form-control input-adj outlineNo" >Get IFSC Code</button>
              </div>
              <br>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Remarks</div>
              <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                <textarea rows="2" cols="30">

                </textarea>
              </div>
              <br>
            </div>
            <!-- 4th column -->
            <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
              <div class=" color-notPureWhite">
                <img id="image" src="#" alt="Image will be shown here"/>
              </div>
              <div class="padding-top40">
                <input type='file' onchange="readURL(this);" />
             </div>
            </div>

            <!-- table row -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                <div class="">
                  <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                </div>
              </div>
              <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                <div class="">
                  <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Delete</button>
                </div>
              </div>
          </div>
          <!-- Table -->
          <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                  	<div class="table-fixed padding-top table-responsive">
                  	    <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                  		    <thead>
                  		      <tr>
                				  			<th><mfDefaultSorter by="" >Sr. No.</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Select Document</mfDefaultSorter></th>
                				  			<th><mfDefaultSorter by="" >Attach File Name</mfDefaultSorter></th>

                  		      </tr>
                  		    </thead>
                  		    <tbody>
                  		      <tr>
                  			<!-- <td colspan="3" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td> -->
                  		      </tr>
                  		      <!-- <tr *ngFor='let post of mf.data'> -->
                            <tr>
            					  			<td>1</td>
            					  			<td>

                                <div class="padding-top40">
                                  <input type='file' onchange="readURL(this);" />
                               </div>
                              </td>
            					  			<td>
                                <div class=" color-notPureWhite">
                                  <img id="image" src="#" alt="Image will be shown here"/>
                                </div>
                              </td>

                  		      </tr>
                  		    </tbody>
                  		    <tfoot>
                  		      <tr>
                  			<td colspan="3">
                  			  <mfBootstrapPaginator></mfBootstrapPaginator>
                  			</td>
                  		      </tr>
                  		    </tfoot>
                  		</table><!--TABLE ENDS-->
                  	</div><!--TABLE DIV ENDS HERE-->
                  </div>
          <!-- Buttons -->
          <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
            <button type="button" class="btn btn-success">Save</button>
             <button type="button" class="btn btn-warning">Reset</button>
          </div>

          <!--Pop of  Service Provider starts-->
                <div id="popup1" [className]="my_class1">
                                	<div class="popup">
                                		<h2>Service Provider</h2>
                                		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                                		<div class="content newContentPop">
  			             <!--popup body-->

                                      <div *ngIf="shown1" (click)="onAdvance1()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                        <button type="button" class="btn btn-success">Advanced</button>
                                      </div>
  				                            <div *ngIf="shown2" (click)="onBasic1()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                        <button type="button" class="btn btn-success">Basic</button>
                                      </div>
                		                   <br>
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Code</div>
                                      <div *ngIf="shown2" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                          <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                <option value="">Starts With</option>
                                                <option value="">Ends With</option>
                                                <option value="">Equals</option>
                                                <option value="">Doesn't Equal</option>
                                                <option value="">Less Than</option>
                                                <option value="">Less Than or Equal To</option>
                                                <option value="">Greater Than</option>
                                                <option value="">Greater Than or Equal To</option>
                                                <option value="">Between</option>
                                                <option value="">Not Between</option>
                                                <option value="">Contains</option>
                                                <option value="">Doesn't Contain</option>
                                                <option value="">Is Blank</option>
                                                <option value="">Is Not Blank</option>
                                          </select>
                                        </div>
                                         <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                           <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                         </div>
                          		           <br>
                                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Description</div>
                                         <div *ngIf="shown2" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                             <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                   <option value="">Starts With</option>
                                                   <option value="">Ends With</option>
                                                   <option value="">Equals</option>
                                                   <option value="">Doesn't Equal</option>
                                                   <option value="">Less Than</option>
                                                   <option value="">Less Than or Equal To</option>
                                                   <option value="">Greater Than</option>
                                                   <option value="">Greater Than or Equal To</option>
                                                   <option value="">Between</option>
                                                   <option value="">Not Between</option>
                                                   <option value="">Contains</option>
                                                   <option value="">Doesn't Contain</option>
                                                   <option value="">Is Blank</option>
                                                   <option value="">Is Not Blank</option>
                                             </select>
                                           </div>
                                            <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                              <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                            </div>
                             		           <br>


                                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                        <button type="button" class="btn btn-success">Search</button>
                                        <button type="button" class="btn btn-warning">Reset</button>
                                      </div>
                                        <br>

                                        <!-- Table starts here -->
                                         <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                              	<div class="table-fixed padding-top table-responsive">
                                              	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                              		    <thead>
                                              		      <tr>
                                            				  			<th><mfDefaultSorter by="" >Code</mfDefaultSorter></th>
                                            				  			<th><mfDefaultSorter by="" >Description</mfDefaultSorter></th>

                                              		      </tr>
                                              		    </thead>
                                              		    <tbody>
                                              		      <tr>
                                              			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                                              		      </tr>
                                              		      <tr *ngFor='let post of mf1.data'>

                                        					  			<td></td>
                                        					  			<td></td>

                                              		      </tr>
                                              		    </tbody>
                                              		    <tfoot>
                                              		      <tr>
                                              			<td colspan="7">
                                              			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                              			</td>
                                              		      </tr>
                                              		    </tfoot>
                                              		</table><!--TABLE ENDS-->
                                              	</div><!--TABLE DIV ENDS HERE-->
                                        </div><!--Full table ends here-->




                                		</div>
                                    <div class="modal-footer" >
                                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                      <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                                    </div>
                                	</div>
                              </div>
                <!--popup ends-->
                <!--Pop of Category  starts-->
              <div id="popup1" [className]="my_class2">
                              	<div class="popup">
                              		<h2>Category</h2>
                              		<div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown3" (click)="onAdvance2()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown4" (click)="onBasic2()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Code</div>
                                    <div *ngIf="shown4" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Description</div>
                                       <div *ngIf="shown4" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                           <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                                 <option value="">Starts With</option>
                                                 <option value="">Ends With</option>
                                                 <option value="">Equals</option>
                                                 <option value="">Doesn't Equal</option>
                                                 <option value="">Less Than</option>
                                                 <option value="">Less Than or Equal To</option>
                                                 <option value="">Greater Than</option>
                                                 <option value="">Greater Than or Equal To</option>
                                                 <option value="">Between</option>
                                                 <option value="">Not Between</option>
                                                 <option value="">Contains</option>
                                                 <option value="">Doesn't Contain</option>
                                                 <option value="">Is Blank</option>
                                                 <option value="">Is Not Blank</option>
                                           </select>
                                         </div>
                                          <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                            <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                          </div>
                           		           <br>

                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >Code</mfDefaultSorter></th>
                                          				  			<th><mfDefaultSorter by="" >Description</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf2.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of  State starts-->
              <div id="popup1" [className]="my_class3">
                              	<div class="popup">
                              		<h2>State</h2>
                              		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                              		<div class="content newContentPop">
			             <!--popup body-->

                                    <div *ngIf="shown5" (click)="onAdvance3()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Advanced</button>
                                    </div>
				                            <div *ngIf="shown6" (click)="onBasic3()" class=" col-sm-3 col-lg-3 col-md-3 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Basic</button>
                                    </div>
              		                   <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">State</div>
                                    <div *ngIf="shown6" class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                                              <option value="">Starts With</option>
                                              <option value="">Ends With</option>
                                              <option value="">Equals</option>
                                              <option value="">Doesn't Equal</option>
                                              <option value="">Less Than</option>
                                              <option value="">Less Than or Equal To</option>
                                              <option value="">Greater Than</option>
                                              <option value="">Greater Than or Equal To</option>
                                              <option value="">Between</option>
                                              <option value="">Not Between</option>
                                              <option value="">Contains</option>
                                              <option value="">Doesn't Contain</option>
                                              <option value="">Is Blank</option>
                                              <option value="">Is Not Blank</option>
                                        </select>
                                      </div>
                                       <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                                         <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                                       </div>
                        		           <br>


                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                                      <button type="button" class="btn btn-success">Search</button>
                                      <button type="button" class="btn btn-warning">Reset</button>
                                    </div>
                                      <br>

                                      <!-- Table starts here -->
                                       <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                            	<div class="table-fixed padding-top table-responsive">
                                            	    <table  [mfData]=""  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                            		    <thead>
                                            		      <tr>
                                          				  			<th><mfDefaultSorter by="" >State</mfDefaultSorter></th>
                                                          <th><mfDefaultSorter by="" >Code</mfDefaultSorter></th>

                                            		      </tr>
                                            		    </thead>
                                            		    <tbody>
                                            		      <tr>
                                            			<td colspan="7" *ngIf="mf3.data.length=='0'" class="noDataDisp">No data to display</td>
                                            		      </tr>
                                            		      <tr *ngFor='let post of mf3.data'>

                                      					  			<td></td>
                                      					  			<td></td>

                                            		      </tr>
                                            		    </tbody>
                                            		    <tfoot>
                                            		      <tr>
                                            			<td colspan="7">
                                            			  <mfBootstrapPaginator></mfBootstrapPaginator>
                                            			</td>
                                            		      </tr>
                                            		    </tfoot>
                                            		</table><!--TABLE ENDS-->
                                            	</div><!--TABLE DIV ENDS HERE-->
                                      </div><!--Full table ends here-->




                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide3()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->

        </div>
      </div>
    </section>
  </div>
  <!-- /.row -->
  </section>
</div>
