.searchImgAdj{
  float: right;
  border-right: 1px solid #cfd0d1;
  border-top: 1px solid #cfd0d1;
  border-bottom: 1px solid #cfd0d1;
  height: 47px;
  padding: 13px 0px;
  cursor: pointer;
}
.searchImgAdj:hover{
	background-color: #eaeaea;
}
.margin-top4{
  margin: 4px 0 0;
}
.table tr.active td {
  background-color:#676565!important;
  color: white;
}
.content{
  min-height: 36px!important;
}
