<!-- <navbar></navbar>
  <sidebar></sidebar> -->
  <div class="my-container">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
<div class="content-wrapper" *ngIf="authservice.loggedIn()">
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                    <div class="panel with-nav-tabs panel-default bckd-color-blk_light">

                        <div class="panel-body">
                            <div class="tab-content">
                              <!-- All tabs -->
                                <div class="tab-pane fade in active" id="tab1default">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo toolbar-adj">
                                  <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj" *ngIf="(userType == 'S') || (userType == 'G')">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">State</div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onStateSelect($event.target.value)" >
                                        <option value="all" [selected]="true">--All--</option>
                                        <option value="{{post.gmsmStateId}}" *ngFor="let post of allStates">{{post.gmsmStateDesc}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj" *ngIf="(userType == 'S') || (userType == 'G')">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*APMC</div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                      <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onAPMCSelect($event.target.value)">
                                        <option value="all" selected>--All--</option>
                                        <option value="{{post.adoumOprID}}"  *ngFor="let post of allAPMCs">{{post.adoumOprName}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*Date</div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                      <form #myForm="ngForm" novalidate>
                                        <my-date-picker name="mydate" [options]="myDatePickerOptions" placeholer="Pick date" i18n-placeholder="[placeholder]@@loco:$477"
                                        [(ngModel)]="searchDate" required></my-date-picker>
                                      </form>
                                    </div>
                                  </div>
                                  <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj margin-top25">
                                    <button type="button" class="btn btn-success" (click)="searchArrivalSummary()">Refresh</button>
                                  </div>
                                </div>
                                  <!-- 1st column Arrival summary-->
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo">
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                      <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck screen_header">
                                        <span>Arrival Summary</span>
                                      </div>
                                          <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck border-shaped">
                                              <table  [mfData]="arrivalSummaryList"  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                                <thead>
                                                  <tr>
                                                      <th><mfDefaultSorter by="" >State</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >APMC</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Unit</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Quantity</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >No. of Lots</mfDefaultSorter></th>

                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                              <td colspan="6" *ngIf="mf1.data.length==0" class="noDataDisp">No data to display</td>
                                                  </tr>
                                                  <tr *ngFor='let post of mf1.data'>
                                                      <td>{{post.state}}</td>
                                                      <td>{{post.apmc}}</td>
                                                      <td>{{post.commodity}}</td>
                                                      <td>{{post.uom}}</td>
                                                      <td>{{post.qtyArrived}}</td>
                                                      <td>{{post.arrivals}}</td>
                                                  </tr>
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                              <td colspan="6">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                              </td>
                                                  </tr>
                                                </tfoot>
                                            </table><!--TABLE ENDS-->
                                        </div><!--TABLE DIV ENDS HERE-->
                                    </div>
                                  </div>
                                  <!-- 2nd column APMC Wise Working Status as of now -->
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingNo">
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                      <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck screen_header">
                                        <span *ngIf="userType !='M'">APMC Wise Working Status as of now</span>
                                        <span *ngIf="userType =='M'">News and Alerts</span>
                                      </div>
                                          <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck border-shaped">
                                              <table  [mfData]="apmcWiseWorkingAsNow"  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%"  *ngIf="userType !='M'">
                                                <thead>
                                                  <tr>
                                                      <th><mfDefaultSorter by="" >State</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >APMC</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Status</mfDefaultSorter></th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                              <td colspan="3" *ngIf="mf2.data.length== 0" class="noDataDisp">No data to display</td>
                                                  </tr>
                                                  <tr *ngFor='let post of mf2.data'>
                                                      <td>{{post.state}}</td>
                                                      <td>{{post.apmc}}</td>
                                                      <td *ngIf="post.tran != '0'"> <img src="assets/images/active.svg" class="imgStatus"></td>
                                                      <td *ngIf="post.tran == '0'"> <img src="assets/images/inactive.svg" class="imgStatus"></td>
                                                  </tr>
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                              <td colspan="3">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                              </td>
                                                  </tr>
                                                </tfoot>
                                            </table><!--TABLE ENDS-->
                                            <table   class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%"  *ngIf="userType =='M'">
                                              <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>&nbsp;</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td colspan="3"  class="noDataDisp">No data to display</td>
                                                </tr>
                                              </tbody>
                                              <tfoot>
                                                <tr>
                                            <td colspan="3">
                                            </td>
                                                </tr>
                                              </tfoot>
                                            </table>
                                        </div><!--TABLE DIV ENDS HERE-->
                                    </div>
                                  </div>
                                  <!-- Sale Summary -->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custompadding">
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                          <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck screen_header">
                                            <span>Sale Summary</span>
                                          </div>
                                          <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck border-shaped">
                                              <table  [mfData]="saleSummaryList"  #mf3="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                                <thead>
                                                  <tr>
                                                      <th><mfDefaultSorter by="" >State</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >APMC</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Unit</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Quantity<br>(Today's Lot)</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Quantity<br>(Prev. Day's Lot)</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Trade Value<br>(Today's Lot)</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Trade Value<br>(Prev. Day's Lot)</mfDefaultSorter></th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                              <td colspan="8" *ngIf="mf3.data.length== 0" class="noDataDisp">No data to display</td>
                                                  </tr>
                                                  <tr *ngFor='let post of mf3.data'>
                                                      <td>{{post.state}}</td>
                                                      <td>{{post.apmc}}</td>
                                                      <td>{{post.commodity}}</td>
                                                      <td>{{post.uom}}</td>
                                                      <td>{{post.todayslotqty}}</td>
                                                      <td>{{post.prevdaylotqty}}</td>
                                                      <td>{{post.todayslotamt}}</td>
                                                      <td>{{post.prevdaylotamt}}</td>
                                                  </tr>
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                              <td colspan="8">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                              </td>
                                                  </tr>
                                                </tfoot>
                                            </table><!--TABLE ENDS-->
                                        </div><!--TABLE DIV ENDS HERE-->
                                    </div>
                                  </div>
                                  <!-- Lot Tracker -->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                      <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck screen_header ">
                                        <span>Lot Tracker</span>
                                      </div>
                                          <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck border-shaped">
                                              <table  [mfData]="lotTrackerList"  #mf4="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                                <thead>
                                                  <tr>
                                                      <th><mfDefaultSorter by="" >APMC</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots Arrived</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots<br>Approved</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Pending For<br> Approval</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots Extended From<br>Previous Dates</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots in Trade</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots With Bids</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots Withouts Bids</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lots Sold</mfDefaultSorter></th>

                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                              <td colspan="10" *ngIf="mf4.data.length== 0" class="noDataDisp">No data to display</td>
                                                  </tr>
                                                  <tr *ngFor='let post of mf4.data'>
                                                      <td>{{post.apmc}}</td>
                                                      <td>{{post.commodity}}</td>
                                                      <td>{{post.noOfLots}}</td>
                                                      <td>{{post.approvedLots}}</td>
                                                      <td>{{post.pendingApproval}}</td>
                                                      <td>{{post.lotFromPrvDate}}</td>
                                                      <td>{{post.lotsInTrade}}</td>
                                                      <td>{{post.lotswithbids}}</td>
                                                      <td>{{post.lotswithoutbids}}</td>
                                                      <td>{{post.lotsSold}}</td>

                                                  </tr>
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                              <td colspan="10">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                              </td>
                                                  </tr>
                                                </tfoot>
                                            </table><!--TABLE ENDS-->
                                        </div><!--TABLE DIV ENDS HERE-->
                                    </div>
                                  </div>
                                </div>
                                <!-- Application usage guidelines -->
                                <div class="tab-pane fade" id="tab2default">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerAlign">
                                    <img src="../../assets/images/arrow.jpg">
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="tab3default">
                                  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerAlign"> -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo toolbar-adj">
                                    <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj" *ngIf="(userType == 'S') || (userType == 'G')">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">State</div>
                                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onCommodityStateSelect($event.target.value)" >
                                          <option value="all" [selected]="true">--All--</option>
                                          <option value="{{post.gmsmStateId}}" *ngFor="let post of allStates" >{{post.gmsmStateDesc}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj" *ngIf="(userType == 'S') || (userType == 'G')">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">APMC</div>
                                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onCommodityAPMCSelect($event.target.value)">
                                          <option value="all" selected>--All--</option>
                                          <option value="{{post.adoumOprID}}"  *ngFor="let post of allAPMCs">{{post.adoumOprName}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj">
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Commodity</div>
                                      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                                        <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite" (click)="onCommoditySelect($event.target.value)">
                                          <option value="all" selected>--All--</option>
                                          <option value="{{post.gmpmgProdId}}"  *ngFor="let post of allCommodity">{{post.gmpmgProdName}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class=" col-sm-3 col-xs-3 col-md-3 col-lg-3 toolbar-adj margin-top25">
                                      <button type="button" class="btn btn-success" (click)="searchAllCommodity()">Search</button>
                                    </div>
                                  </div>
                                  <!-- </div> -->
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingNo">
                                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                      <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck screen_header">
                                        <span>Other Commodity Bids Listing</span>
                                      </div>
                                          <div class="table-fixed padding-top table-responsive customBorder border-color-lightblck border-shaped" *ngIf="commSearchData != undefined">
                                              <table  [mfData]="commSearchData"  #mf4="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                                <thead>
                                                  <tr>
                                                      <th><mfDefaultSorter by="" >State</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >APMC</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Commodity</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Bag Type</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >No Of Bags</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Qty(Kg/Nos)</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Lot Code</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Seller</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Village</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Agent</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Qty(Quintal)</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Bid Type</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Min Bid(Rs per Qtl)</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Last Bid</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Re-Bid Allowed</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Start Date</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >End Date</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Extended Date</mfDefaultSorter></th>
                                                      <th><mfDefaultSorter by="" >Bid Opening</mfDefaultSorter></th>
                                                  </tr>

                                                </thead>
                                                <tbody>
                                                  <tr *ngIf="commSearchData.length == 0">
                                                    <td colspan="19" *ngIf="mf4.data.length== 0" class="noDataDisp">No data to display</td>
                                                  </tr>
                                                  <tr *ngFor='let post of mf4.data'>
                                                      <td>{{post.statename}}</td>
                                                      <td>{{post.adoumOprname}}</td>
                                                      <td>{{post.gmpmgProdName}}</td>
                                                      <td>{{post.gmptmDesc}}</td>
                                                      <td>{{post.iledNoofBag}}</td>
                                                      <td>{{post.iledQty}}</td>
                                                      <td>{{post.iledLotCode}}</td>
                                                      <td>{{post.seller}}</td>
                                                      <td>{{post.village}}</td>
                                                      <td>{{post.ca}}</td>
                                                      <td>{{post.wbweight}}</td>
                                                      <td *ngIf= "post.abcBidType == 'O'">Open</td>
                                                      <td *ngIf= "post.abcBidType == 'C'">Close</td>
                                                      <td>{{post.abcMspBidRate}}</td>
                                                      <td>{{post.lastbidval}}</td>
                                                      <td>{{post.abcSubMultBid}}</td>
                                                      <td>{{post.abcStartDate}}</td>
                                                      <td>{{post.abcEndDate}}</td>
                                                      <td>{{post.abcExtendedEndTime}}</td>
                                                      <td>{{post.abcBidOpenDate}}</td>
                                                  </tr>
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                              <td colspan="10">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                              </td>
                                                  </tr>
                                                </tfoot>
                                            </table><!--TABLE ENDS-->
                                        </div><!--TABLE DIV ENDS HERE-->
                                    </div>
                                  </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-heading">
                                <ul class="nav nav-tabs centerTabAlign" style="    width: 43%;">
                                    <li class="active"><a href="#tab1default" data-toggle="tab">Dashboard</a></li>
                                    <li *ngIf="userType == 'S'" ><a href="#tab3default" data-toggle="tab" >All Commodity Bid Listing</a></li>
                                    <!-- -->
                                    <li ><a href="#tab2default" data-toggle="tab">Application usage guidelines</a></li>
                                </ul>
                        </div>
                      </div>
                </div>
                <!-- POPUP FOR LOGGEDOUT SESSION EXPIRE  AND ERROR-->
                    <div id="popup5" [className]="my_class1">
                          <div class="popup">
                            <div class=" newContentPop ">
                              <div>Your token has expired.<br> Redirecting to login page...</div>
                            </div>
                          </div>
                      </div>
                      <div id="popup5" [className]="my_class2">
                        <div class="popup" >
                              <div  class="alert alert-danger" > Something Went Wrong</div>
                        </div>
                      </div>
          <!--popup ends-->

          </div>
        </div>
      </section>
    </div>
    <!-- /.row -->
  </section>
</div>
