.centerTabAlign{
  margin: 0 auto;
  width: 30%;
}
.noDataDisp{
  padding: 70px;
}
.customBorder{
  border: 1px solid #dddddd;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.custompadding{
  padding: 16px 0 16px;
}
.margin-top25{
  margin-top: 20px!important;
}
/*Navigation tabs upper custom*/
.panel-default {
    border-color: transparent!important;
}
.panel{
  margin-bottom:0!important;
}
.panel.with-nav-tabs .panel-heading{
  padding: 0!important;
}
.nav-tabs>li {
    float: left;
    margin-top: 0px!important;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
     border-top-color: transparent!important;
}
.nav-tabs>li>a{
  border-radius: 0 0 4px 4px!important;
}
.nav-tabs>li {
    float: left;
    margin-bottom: 5px!important;
}
.imgStatus{
  height: 30px;
  width: 30px;
}
.border-shaped{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*Navigation tabs upper custom END*/
