<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">

               <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Lot Code</div>
                 <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 paddingNo">
                       <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
                     </div>
                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 searchImg">
                     <img src="assets/images/search.png">
                   </div>
                 </div>
                 <br>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Commodity</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                  </div>
   		           <br>
               </div>
               <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Seller Name</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                  </div>
                  <br>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">Remarks</div>
               <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                 <textarea class="form-control greyBorderBck" rows="2" id="comment"></textarea>
               </div>
	             <br>
               </div>
               <!-- Table -->
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
                     <div class="col-sm-12 col-lg-1 col-md-1 col-xs-12">
                       <div class="">
                         <button type="submit" class="btn  white m-b form-control input-adj outlineNo greybtn" >Add</button>
                       </div>
                     </div>

                 </div>
                 <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                   <div class="table-fixed padding-top table-responsive">
                       <table  [mfData]=""  #mf="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                         <thead>
                           <tr>
                               <th><mfDefaultSorter by="" >*Trader Name</mfDefaultSorter></th>
                               <th><mfDefaultSorter by="" >Firm Name</mfDefaultSorter></th>
                               <th><mfDefaultSorter by="" >*Bid Rate</mfDefaultSorter></th>
                               <th><mfDefaultSorter by="" >Auction Winner</mfDefaultSorter></th>

                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                       <td colspan="4" *ngIf="mf.data.length=='0'" class="noDataDisp">No data to display</td>
                           </tr>
                           <tr *ngFor='let post of mf.data'>

                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>

                           </tr>
                         </tbody>
                         <tfoot>
                           <tr>
                       <td colspan="4 ">
                         <mfBootstrapPaginator></mfBootstrapPaginator>
                       </td>
                           </tr>
                         </tfoot>
                     </table><!--TABLE ENDS-->
                   </div><!--TABLE DIV ENDS HERE-->
                 </div>
                 <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12 toolbar-adj text-align-center">
                    <button type="button" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-warning">Reset</button>
                  </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
