<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 toolbar-adj">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 color-notPureWhite bold-title">Mater Setup Report</div>
            </div>
                <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*Output Type</div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
                    <select class="form-control col-sm-12 col-xs-12 col-md-12 col-lg-12  input-adj inputDark inputWhite">
                      <option value="">PDF</option>
                      <option value="">EXCEL</option>
                      <option value="">XML</option>
                    </select>
                  </div>
                </div>
                <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">State</div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
      		        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 paddingNo">
      		        <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
      		        </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchImg"  (click)="div_show1()" style="padding-left:14px">
                        <img src="assets/images/search.png">
                      </div>
                   </div>
                </div>
                <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-notPureWhite">*APMC</div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12  res-btn">
      		        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 paddingNo">
      		        <input type="text" class="form-control input-adj inputDark inputWhite borderRightNone" [ngModel]="''">
      		        </div>


                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 searchImg" (click)="div_show2()" style="padding-left:14px">
                        <img src="assets/images/search.png">
                      </div>
                   </div>
                </div>
                <div class=" col-sm-3 col-lg-3 col-md-3 col-xs-3 toolbar-adj">
                  <button type="button" class="btn btn-success margin-top23px">View Report</button>
                  <button type="button" class="btn btn-success margin-top23px" style="margin-left:6px">Close</button>
                </div>
                <!-- <div class=" col-sm-1 col-lg-1 col-md-1 col-xs-1 toolbar-adj">
                  <button type="button" class="btn btn-success margin-top23px">Close</button>
                </div> -->
                <!--Pop of State  starts-->
              <div id="popup1" [className]="my_class1">
                  	<div class="popup">
                  		<h2>State</h2>
                  		<div class="close" (click)="div_hide1()" ><img class="" src="assets/images/delete.png"></div>
                  		<div class="content newContentPop">
                        <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                             <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                           </div>
            		           <br>
                                       <!-- Table starts here -->
                      <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                           	<div class="table-fixed padding-top table-responsive">
                           	    <table  [mfData]=""  #mf1="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                           		    <thead>
                           		      <tr>
                         				  			<th><mfDefaultSorter by="" >State</mfDefaultSorter></th>

                           		      </tr>
                           		    </thead>
                           		    <tbody>
                           		      <tr>
                           			<td colspan="7" *ngIf="mf1.data.length=='0'" class="noDataDisp">No data to display</td>
                           		      </tr>
                           		      <tr *ngFor='let post of mf1.data'>

                     					  			<td></td>

                           		      </tr>
                           		    </tbody>
                           		    <tfoot>
                           		      <tr>
                           			<td colspan="7">
                           			  <mfBootstrapPaginator></mfBootstrapPaginator>
                           			</td>
                           		      </tr>
                           		    </tfoot>
                           		</table><!--TABLE ENDS-->
                           	</div><!--TABLE DIV ENDS HERE-->
                     </div><!--Full table ends here-->

                              		</div>
                                  <div class="modal-footer" >
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                    <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide1()">Cancel</button>
                                  </div>
                              	</div>
                            </div>
              <!--popup ends-->
              <!--Pop of APMC  starts-->
            <div id="popup1" [className]="my_class2">
                  <div class="popup">
                    <h2>APMC</h2>
                    <div class="close" (click)="div_hide2()" ><img class="" src="assets/images/delete.png"></div>
                    <div class="content newContentPop">
                      <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8  res-btn">
                           <input type="text" class="form-control input-adj inputDark inputWhite" [ngModel]="''">
                         </div>
                         <br>
                                     <!-- Table starts here -->
                    <div class=" col-sm-12 col-lg-12 col-md-12 col-xs-12">
                          <div class="table-fixed padding-top table-responsive">
                              <table  [mfData]=""  #mf2="mfDataTable" [mfRowsOnPage]="5"  class="display table table-striped" style="padding-bottom: 12px;" cellspacing="0" width="100%" >
                                <thead>
                                  <tr>
                                      <th><mfDefaultSorter by="" >APMC</mfDefaultSorter></th>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                              <td colspan="7" *ngIf="mf2.data.length=='0'" class="noDataDisp">No data to display</td>
                                  </tr>
                                  <tr *ngFor='let post of mf2.data'>

                                    <td></td>

                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                              <td colspan="7">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                              </td>
                                  </tr>
                                </tfoot>
                            </table><!--TABLE ENDS-->
                          </div><!--TABLE DIV ENDS HERE-->
                   </div><!--Full table ends here-->

                                </div>
                                <div class="modal-footer" >
                                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal">Ok</button>
                                  <button  type="button" class="btn btn-default outlineNo btn-success popbtn" style="color:white;" data-dismiss="modal" (click)="div_hide2()">Cancel</button>
                                </div>
                              </div>
                          </div>
            <!--popup ends-->
            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
  </div>
