<div class="content-wrapper" >
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <section class="content">
        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
          <!-- /.box-header -->
          <div class="box-body">

            <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj">

            </div>
            <div class=" col-sm-6 col-xs-6 col-md-6 col-lg-6 toolbar-adj">

            </div>

            </div>
          </div>
        </section>
      </div>
      <!-- /.row -->
    </section>
</div>
